[2022-02-16 08:38] ArmanMirzaei commented on #2235
Im on jupyterlab, if the number of code lines within a cell gets more than a few thousands for any reason when working out serious stuff, one would like all the of the code collapsed by default in order to prevent the webbrowser from losing its stability.
any ideas anyone please?

[2022-02-17 07:50] jtpio commented on #6266
Posting here the steps to make the first v7 pre-release happen, as discussed yesterday during the [weekly Notebook meeting](https://github.com/jupyter/notebook-team-compass/issues/5#issuecomment-1042095593):

- Notebook 7 pre release steps:
    - [x] Release [notebook_shim](https://github.com/jupyterlab/notebook_shim/releases/tag/v0.1.0)
    - [ ] [Drop nbclassic](https://github.com/jupyterlab/jup

[2022-02-17 07:52] jtpio commented on #6266
Once we have a first prerelease out, we can close this issue and open a new "Notebook v7 Release Plan" issue.

Or rename this issue to "Notebook v7 Release Plan" and continue here.

[2022-02-17 10:21] RaoTianlong commented on #5815
The default algorithm must had changed...

[2022-02-17 18:28] jweill-aws commented on #6284
This doesn't seem to be a bug or enhancement request in Jupyter Notebook. I recommend asking your question in the [Jupyter Notebook Discourse forum](https://discourse.jupyter.org/c/notebook/31) where active users can better see and answer your question.

[2022-02-17 18:30] jweill-aws commented on #6282
This seems like a reasonable request. If you can build Notebook with these dependencies marked as optional, please submit a pull request so that we can incorporate this into our codebase. Thank you for your help!

[2022-02-17 18:32] jweill-aws commented on #6281
@blink1073 made the change in https://github.com/jupyter-server/jupyter_server/pull/628 — should this be ported into this package as well?

[2022-02-17 18:36] meeseeksmachine commented on #6277
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/how-do-i-flush-stdout-in-a-script-bash-cell/12699/5

[2022-02-17 18:41] jweill-aws commented on #6274
This repository may not be monitored by Google Colab developers. Especially if your issue is specific to Colab, consider opening one at https://github.com/googlecolab/colabtools/issues .

[2022-02-17 18:44] jweill-aws commented on #6272
Recommended alternatives on this StackOverflow thread: https://stackoverflow.com/questions/9323749/how-to-check-if-one-dictionary-is-a-subset-of-another-larger-dictionary

[2022-02-17 18:45] jweill-aws commented on #6269
If you have access to do so, can you please provide the versions of Jupyter Notebook, the libraries used, and Python on the two computers where you get different outputs?

[2022-02-17 18:47] jweill-aws commented on #6270
@krassowski Should we close this issue or retitle it to cover the styling incompatibility that @gutow noticed?

[2022-02-17 19:24] blink1073 commented on #6281
I think so, but you'd also need https://github.com/jupyter-server/jupyter_server/pull/636 to account for kernels that don't expect that message on the control channel.

[2022-02-17 20:56] gutow commented on #6270
I vote to re-title, but am biased as I added the note.

[2022-02-18 16:26] ChristofKaufmann commented on #2025
This is also an issue in VS Code. See also the same issue described here: https://github.com/ipython/ipython/issues/5629

[2022-02-19 02:33] jiangshan529 opened #6288 "problem when set password for jupyter server"
Hi, when I want to set password for Jupyter server. the Out[2] is: 'argon2:$argon2id$v=19$m=10240,t=10,p=8$5eBE' rather than 'sha1'. Is there any problem of this?

Thanks!

[2022-02-19 14:21] gutow commented on #6270
I think that is a good idea. I will report it there. Close this please.

[2022-02-20 19:41] bf2harven commented on #5860
Just create a folder in the Jupyter runtime directory. Backup by Moving all the .json files there.
Then start a new notebook and try 'jupyter notebook list' again.

[2022-02-20 20:05] #6247 closed

[2022-02-21 07:39] mmtechslv commented on #6288
The solution is here https://github.com/jupyter/notebook/issues/5815#issuecomment-761286212

[2022-02-21 16:58] kevin-bates commented on #6270
Thanks again Jonathan and Michał - closing.

[2022-02-21 16:58] #6270 closed

[2022-02-24 06:03] gd-arch commented on #714
jupyter notebook gets stuck if i try to run n=int(input()) and press shift +enter then without entering an input if again press shift +enter by selecting the code contents the notebook seems to get stuck.i was wondering if this behavior is normal

[2022-02-24 16:20] dummynov1 opened #6291 "Terminal Command run using (! python ), doesn't show real-time output log"
I have noticed that Terminal/CLI commands like `! python -m spacy train ....` executed within jupyter cell doesn't show real-time (live) output log updates on jupyter. It just shows complete log once the execution is completed. While, Collab does show real-time log for the same (for CLI command executions)
Is this an expected behavior in Jupyter, or is there a way to enable real-time output for Te

[2022-02-24 18:44] jweill-aws commented on #6256
@penguinolog Is your commit tested and known to fix this issue? If so, can you please create a pull request?

[2022-02-24 18:46] penguinolog commented on #6256
PR is open and waiting for merge

[2022-02-24 18:49] jweill-aws commented on #6256
Tagging PR #6260 (appears to be blocked by #6213)

[2022-02-24 19:53] jweill-aws commented on #6239
Which keyboard layout are you using? It's possible that the CMD+A keystroke is being interpreted as coming from the wrong keyboard style.

[2022-02-24 19:57] penguinolog commented on #6256
Formally not blocked - 1 python file intersection. But we miss CI for frontend part (stable fail looks not good)

[2022-02-26 16:28] xiaohk commented on #4599
Hi @ChangyuYan, you might want to check out [StickyLand](https://github.com/xiaohk/stickyland) :)

StickyLand is an extension that enables JupyterLab users to create sticky cells. Users can easily create sticky cells and freely arrange them with simple drag-and-drop. Users can also automatically execute these cells. With multiple sticky cells, users can even create a fully-fledged interactive dash

[2022-02-27 17:59] GBognar opened #6292 "Converting string to tuple results TypeError: 'list' object is not callable"
**Describe the bug**

Converting string to tuple results in `TypeError: 'list' object is not callable`.

For example, the following code produces the error message:
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Create a new iPython notebook
2. Add a Python code cell
3. Write the follwing into the cell: `s = "abc";t = tuple(s)`
4. After executing the cell, the result is an error me

[2022-02-28 07:51] jtpio commented on #6266
I moved the checklist to the top-level comment for visibility, and added links to the relevant issues and PRs: https://github.com/jupyter/notebook/issues/6266#issue-1094679322

[2022-02-28 16:18] kycutler commented on #6281
@blink1073 Would you mind reviewing the PR I opened to close this?

[2022-02-28 22:04] #6281 closed

[2022-03-01 05:18] ainunnawawi commented on #4050
pip install ipykernel

[2022-03-01 16:00] jtpio opened #6295 "Renamed default branch to `main`"
Anyone who has the repository already cloned will likely need to update it. These are the commands Github suggests:

[code]

[2022-03-01 16:00] jtpio commented on #6295
See https://github.com/jupyter/notebook/pull/6293 and https://github.com/jupyter/notebook-team-compass/issues/6 for more info.

[2022-03-01 16:31] Zsailer commented on #6266
I created the [6.4.x ](https://github.com/jupyter/notebook/tree/6.4.x) branch already, a little over a month ago. 😃  Should we go with that?

[2022-03-02 08:18] jtpio commented on #6266
Thanks @Zsailer.

I think this sounds good. This can be changed later if needed, in case there are plans to release a `6.5` at some point.

[2022-03-03 13:56] igor-drobot-nlb opened #6296 "Download of notebooks as PDF is running into 500-Internal Server Error"
Hello, the following issue describes the PDF via LaTeX Export of a notebook from jupyter which is running into an error.

**Describe the bug**
PDF via LaTeX Export of a notebook is running into 500-Internal Server Error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple Notebook
2. Fill a row with "print('hello')" out
3. Click on File -> Download as... -> PDF via LaTeX
4. See e

[2022-03-03 15:30] sergiomora03 commented on #6001
Thanks @saraafernandeez!!!

[2022-03-04 20:45] #4152 closed

[2022-03-04 23:41] aldodiaz-UFG opened #6297 "NB data lost after renaming to an existing file"
I accidentally renamed a new empty notebook to the name of an already existing notebook full of data. I am afraid that jupyter didn't alerted me the notebook's name was already used and simply wiped out the data of the original file which I can't recover now :/

I would kindly ask for help or solutions on how to recover my data, it was days of hard work to produce important research results that w

[2022-03-06 18:02] Flavasava1989 commented on #4508
How to fix this issue in google chrome

[2022-03-08 13:37] newptcai commented on #4060
Well I recently noticed this. Any possibility that the second can also be done?

[2022-03-09 13:35] jtpio commented on #6266
The remaining item for this issue is to actually make the pre-release.

What do folks think about doing it with the current state of the `main` branch?

Since the repo is compatible with the Jupyter Releaser, we can follow the regular process of a "Draft Changelog" followed by a "Full Release".
We have already bumped the version to `7.0.0a0`, so if we do this with `next` as the version spec then w

[2022-03-09 13:39] jtpio commented on #6266
Also I don't seem to have rights to publish to PyPI: https://pypi.org/project/notebook.

So maybe @Zsailer would like to help with this, thanks!

[2022-03-09 15:18] jtpio commented on #6266
A follow-up would be to open a new "Notebook v7 Release Plan" issue to start discussing the timeline and items for 7.0 final.

[2022-03-09 15:51] Zsailer commented on #6266
@jtpio I added you as an owner to the PyPI package. 😎

[2022-03-09 17:08] baileyji commented on #5860
I've run into this issue as well.

[2022-03-11 08:14] jtpio opened #6307 "7.0 Release Plan"
This is an issue for 7.0 release planning. It will continue to be updated as we plan and develop Jupyter Notebook v7.

From the [Notebook v7 Jupyter Enhancement Proposal](https://jupyter.org/enhancement-proposals/79-notebook-v7/notebook-v7.html):

### Relevant Links

- Notebook v7 JEP: https://jupyter.org/enhancement-proposals/79-notebook-v7/notebook-v7.html
- 7.0 pre-release
  - Issue: https://gi

[2022-03-11 08:15] jtpio commented on #6266
Thanks all!!

The pre-release is out so we should be able to close this issue now.

I opened https://github.com/jupyter/notebook/issues/6307 as a follow-up to plan the 7.0 release.

[2022-03-11 08:15] #6266 closed

[2022-03-11 08:20] jtpio commented on #6225
The RetroLab code base has been integrated in the notebook repo, and the first 7.0 pre-release is out. See the following links for more context:

- https://github.com/jupyter/notebook/pull/6294
- https://github.com/jupyter/notebook/issues/6266
- https://github.com/jupyter/notebook/releases/tag/v7.0.0a1

Transferring issues from retrolab to notebook is tracked in https://github.com/jupyter/notebook

[2022-03-11 08:20] #6225 closed

[2022-03-11 08:20] jtpio commented on #6226
Linking to https://github.com/jupyter/notebook-team-compass/issues/7 where this is also discussed.

[2022-03-11 08:21] jtpio commented on #6220
Closing since the JEP has been accepted:

- https://github.com/jupyter/enhancement-proposals/pull/79
- https://jupyter.org/enhancement-proposals/79-notebook-v7/notebook-v7.html

Thanks all!!

[2022-03-11 08:21] #6220 closed

[2022-03-12 01:44] ailsaleen commented on #4205
Hello @AccessibilityTestingTeam-TCS and @minrk , I'm a PM on the Azure ML team. We tested this bug as it is listed as an outstanding issue for our product's accessibility and believe it no longer repros. Can we close this issue?

[2022-03-12 01:46] ailsaleen commented on #4199
Hello @AccessibilityTestingTeam-TCS and @minrk , I'm a PM on the Azure ML team. We tested this bug as it is listed as an outstanding issue for our product's accessibility and believe it no longer repros. Can we close this issue?

[2022-03-14 09:32] stefaneidelloth commented on #2872
With nbqa its possible to run pylint against Jupyter notebooks from the console, e.g.
`nbqa pylint .`
https://pypi.org/project/nbqa/

I am still looking for a JupyterLab extension that auto-checks all cells and does not need a cell magic etc.

[2022-03-14 12:02] #4199 closed

[2022-03-14 12:02] #4205 closed

[2022-03-14 12:58] holzschu opened #6384 ""Auto Close Brackets" not closing brackets in OSX and iOS."
## Description

In my tests, if I enable the "Auto Close Brackets" setting in retrolab, it does not automatically close brackets, whereas if I enable it in jupyterlab, it does automatically close brackets.

I could only run tests on OSX (11.6) and iOS (15.3), but I had the same behaviour on both. It applies both for notebooks started using Binder and notebooks started from the command line.

I als

[2022-03-14 16:16] ailsaleen commented on #4205
Thank you! :)

[2022-03-15 10:38] Createdd commented on #3753
I solved it like I described here: https://stackoverflow.com/a/71480779/7056765

[2022-03-15 12:54] paugier commented on #1465
This is really sad that such solution has not been implemented. Solutions based on jupytext are really too complicated.

This should be simple to write the source in a notebook file (.ipynb ou .myst) and to simply specify that we don't want that the output of executions be written in this file. Don't touch the source file!

[2022-03-17 02:05] reinhold-willcox commented on #5860
I'm also seeing this, has anyone found a solution?

[2022-03-17 20:24] akmalkady commented on #2520
Here 2022, we love to see this.. If there is a way to do that please guide me. Thanks

[2022-03-19 13:50] EulersNumber commented on #4980
How can this still be an issue in 2022...? Can't believe annoying bugs like these arent fixed.

[2022-03-19 16:38] cgohlke commented on #4980
Because the installation of pywin32 using wheels is fundamentally broken and requires manual pre- and/or post-install steps.

The original issue was fixed in [jupyter_core 4.8](https://github.com/jupyter/jupyter_core/pull/230).

Please provide the package versions and a full traceback. There might be packages other than jupyter_core that depend on pywin32 and fail to import if the pywin32 installa

[2022-03-20 03:47] deviprasad97 commented on #6250
For me ```pip install --upgrade pexpect``` worked

[2022-03-20 08:41] echarles opened #6319 "[6.4.x] CI failures on 6.4.x branch"
After reviewing the open PRs on the `6.4.x` branch, the selenium and javascript tests all fail. This is probably coming from the CI, and not from the respective PRs.

I am not sure what the status was before the creation of that 6.4.x branch. @Zsailer or @jtpio any thoughts on this?

[2022-03-20 10:37] jtpio commented on #6319
@echarles the CI on this repo has been failing for many weeks / months. See this comment for reference: https://github.com/jupyter/notebook/pull/6213#issuecomment-1005852539

There hasn't been that much effort put into fixing it because:

- the repo was (and the 6.x is) in maintenance mode
- there was no plan to merge anything significant related to 6.x, except maybe https://github.com/jupyter/not

[2022-03-20 15:28] #5063 closed

[2022-03-21 06:48] echarles commented on #6319
Thx @jtpio for the info. I have updated the initial comment to track the issues and their fixes.

cc/ @kevin-bates

[2022-03-21 07:31] Iman-Mostafa opened #6321 "How to activate 2 GPUs in jupyter notebook ?"

[2022-03-21 10:18] echarles commented on #6319
For the Linux JS Tests, an issue is related to the `waitForPopup` which does not anymore do the expected job

https://github.com/jupyter/notebook/blob/232f724c64ddf84d8a21d630bde5ea2be3f4b586/notebook/tests/util.js#L30-L35

I have tried to force the popup url without luck. This may come from the webkit evolution, and how the tab opening are handled and recognized by `caspersjs`. I have tried with

[2022-03-21 13:27] huguitovi commented on #5303
much time, but, in those files:::

~/.jupyter/jupyter_notebook_config.json
and
~/.jupyter/nbconfig/notebook.json

add before last curly brace
[code]

[2022-03-21 14:58] Bestyasser commented on #3416
I solved the problem by starting jupyer as root:
`sudo /<jupyter path>/jupyter notebook --port 80  --allow-root`

[2022-03-21 14:59] Prosimio commented on #4656
Doesn´t work for me :(

[2022-03-21 15:04] jtpio opened #6322 "Add more UI tests"
We should add a couple of new UI tests, ideally alongside changes in PRs.

This issue tracks some checks we should add to:

- [ ] check support for other factories: https://github.com/jupyter/notebook/pull/6315
- [ ] check Markdown is rendered correctly: https://github.com/jupyter/notebook/pull/6318

This replaces the issue opened in RetroLab: https://github.com/jupyterlab/retrolab/issues/228

[2022-03-21 15:22] Prosimio commented on #4656
For some reason, my env lost python.exe.
I tried to copy it from another environment but it doesn´t let me do that (I have the administration permission but fails anyways). Finally, I solved it by doing a clone of the environment:
conda create --name myclone --clone myenv

Now is working in the cloned environment.

[2022-03-21 16:01] jtpio opened #6324 "Open `.py` and `.md` documents with the Notebook factory (Jupytext)"
Looking into this briefly, the trouble for jupytext are actually for file types already defined in core (like .py or .md). I was thinking to use the `Router` to deal with path like `/notebooks/not/a-ipynb-file.ext` URL to redirect to the `/edit/not/a-ipynb-file.ext?factory=Jupytext%20Notebook` if the extension is supported by Jupytext. What do you think @jtpio ?

_Originally posted by @fcollonval

[2022-03-21 16:13] jtpio commented on #6324
@fcollonval I thought `docRegistry.defaultWidgetFactory(path)` would return "Notebook" for a .md or .py with Jupytext.

Which means there could be a check for this before redirecting to `/notebooks` or `/edit` here?

https://github.com/jupyter/notebook/blob/30310847d6804294cbeb274eeb91d126c86669f0/packages/docmanager-extension/src/index.ts#L55

[2022-03-21 16:30] fcollonval commented on #6324
Today it is not possible to coerce a factory to a existing file types. You can link a type and a factory either when defining the factory or the type. But if they have been defined as separated. This cannot be changed - in fact Jupytext is unique in that sense that it create an impossible contract on the frontend using a factory for an unsupported type. I'm reluctant to modify Jupyter core to supp

[2022-03-21 16:32] fcollonval commented on #6324
This should be feasible by hard-coding the settings plugin id the toolbar customization is read from to ensure it loads the core definition.

[2022-03-21 17:35] YuyaR commented on #6001
For me the problem was actually duplicate cells -- cells with **exact same input and output**. Once I deleted those Github was able to render the notebook!

[2022-03-22 10:40] hroncok opened #6325 "6.4.10 on PyPI but no changelog entry or tag here"
What commit was 6.4.10 built from?

[2022-03-22 10:43] hroncok commented on #6325
was it 5beec5484a1e08b8c53a5c7e416052b21d056f83 ?

[2022-03-23 19:09] JMBurley commented on #4360
I believe this issue can be closed.  Resolved as per the logs and issues I linked previously.

[2022-03-24 00:05] jweill-aws opened #6326 "Left and right panels for installing JupyterLab extensions"
Adapted from https://github.com/jupyterlab/retrolab/issues/272 by @ellisonbg:

Improve the notebook shell to handle the L and R areas. Add a way to install JupyterLab extensions that use the L/R area into Jupyter Notebook - such as the table of contents, running panel, debugger, etc.

[2022-03-24 15:27] shelbyc opened #6328 "Clarification of fixed version for GHSA-m87f-39q9-6f55/CVE-2022-24758"
Hello Jupyter maintainers,

I am a member of GitHub's advisory curation team that manages CVE requests for advisories in our advisory database at github.com/advisories. We've received your CVE request and are preparing a description of GHSA-m87f-39q9-6f55/CVE-2022-24758 to submit to the CVE Program. Before I do so, I want to seek clarity about which version of Jupyter notebook contains a patch for

[2022-03-25 03:22] Hulva commented on #5001
in my case
edit /opt/conda/lib/python3.9/site-packages/notebook/templates/tree.html
![image](https://user-images.githubusercontent.com/6812031/160047829-a2e6f61d-652e-49ed-b10b-4be50dd7720a.png)
remove these code

[2022-03-25 03:25] Hulva commented on #5770
https://github.com/jupyter/notebook/issues/5001#issuecomment-1078615798

[2022-03-25 08:39] jtpio commented on #5770
As a heads-up for that particular case, it will be possible to disable the download plugins in the next major version of Notebook (v7).

Adding to the `7.0` milestone for consideration so this can be documented.

[2022-03-25 12:43] RAravindDS commented on #3278
I need a answer, please I tried eveything but not working for me :(

[2022-03-25 12:44] RAravindDS commented on #3278
![image](https://user-images.githubusercontent.com/85152278/160122997-56095682-3987-4961-a617-38655df9b44d.png)

![image](https://user-images.githubusercontent.com/85152278/160123050-e6e468fc-923d-4241-887b-e078fd674452.png)

[2022-03-26 04:20] guodongxiaren commented on #4594
I find a solution:
update `~/.jupyter/jupyter_notebook_config.py` config and set `c.NotebookApp.use_redirect_file = False`。
If there are not a jupyter_notebook_config.py in your Home Path, you should generate it first.

Generate config
[code]
then
[code]
find `c.NotebookApp.use_redirect_file` and change it's value to False
[code]

next, export BROWSER in your ~/.bashrc or ~/.zshrc. for example:
[c

[2022-03-30 08:43] dimpase commented on #5479
Much of this could be avoided if `use_redirect_file` were `False` by default.

[2022-03-30 19:52] orhansolak commented on #3278
It works for private repository. Be sure that you push the image into repository.
`![sample_image.png](attachment:sample_image.png)`

[2022-03-31 07:48] mgedmin commented on #5479
Incidentally, Ubuntu 22.04 LTS will make its the default browser, Firefox, a snap package as well, which presumably has the same sandbox restrictions.

[2022-04-01 05:43] dip16gphy opened #6329 "ModuleNotFoundError: No module named 'zmq.asyncio'"
I am trying to open jupyter notebook in obspy environment, but it keeps throwing the same error again and again even after updating all the packages & reinstalling the notebook. I have pyzmq  22.3.0.

Here is the error:

**Traceback (most recent call last):
  File "C:\Users\UPLC\anaconda3\envs\obspy\Scripts\jupyter-notebook-script.py", line 5, in <module>
    from notebook.notebookapp import main

[2022-04-01 07:13] minrk commented on #6329
If you don't have zmq.asyncio, you don't actually have pyzmq 22.3, or the install was corrupted somehow. Reinstalling may help:

[code]

To diagnose, try:

[code]

or in Python:

[code]

Those might give you a hint about what's amiss.

[2022-04-01 08:22] nicozhang commented on #5067
That's all because of Chrome browser. You shoud set them to the same domain name ,like aa.bb.com   cc.bb.com .

[2022-04-01 11:20] mshodge opened #6330 "Mac OS Monterey (Apple M1 Pro) Gateway connection error"
Hi, I am trying to run the following:

`jupyter notebook --gateway-url=gateway_server_url --GatewayClient.auth_token=my_auth_token --GatewayClient.request_timeout=600`

On a new, Apple M1 Pro chip running Mac OS Monterey.

However, I keep getting a `404 GET /api/kernelspecs` error: `Ensure gateway url is valid and the Gateway instance is running.`.

The Gateway URL is valid. Tested on another mach

[2022-04-03 19:28] vedraan commented on #4245
For Anaconda3-2021.11 and Serbian "MUP Republike Srbije" cert this issue can be solved by editing `anaconda3\Lib\ssl.py`  just below this line (561 in current anaconda version, but best use search):
[code]

to add one additional line below it, so it looks like this:

[code]

This pretty much fixed it for me, all credits go to: https://algora.petlja.org/t/python-instalacija-windows/999/8

[2022-04-03 22:30] vobine opened #6339 "Jupyter Python3 kernel incomplete and out of date in snap for Ubuntu-21.10"
I have a standard snap installation of Jupyter on Ubuntu-21.10.  There are problems:
 - Jupyter uses its own Python installation, which is Python-3.7, but Python-3.9.7 is installed on the underlying Ubuntu and the latest on python.org is 3.10.4.
 - The Jupyter python installation does not include matplotlib or numpy.  There are probably more, but those are the ones preventing my notebooks from run

[2022-04-04 14:56] jtpio opened #6341 "Move the file browser search bar to the toolbar?"
As a follow-up to https://github.com/jupyter/notebook/pull/6336, the file browser toolbar items now take up less space than before.

So maybe it could be interesting to look into moving the search bar up to the toolbar, to help save some vertical space:

![image](https://user-images.githubusercontent.com/591645/161570821-9f428505-5fab-4f01-9064-f644740faf66.png)

[2022-04-04 22:26] krassowski commented on #6328
Hi @shelbyc, thank you for highlighting this. I believe it should have been [`6.4.10`](https://github.com/jupyter/notebook/releases/tag/6.4.10). @Zsailer, would you be able to correct the description for it to say 6.4.10 instead of 6.4.9?

[2022-04-04 22:29] krassowski commented on #6325
Yes, see https://github.com/jupyter/notebook/security/advisories/GHSA-m87f-39q9-6f55.

[2022-04-04 22:35] Zsailer commented on #6328
Hi @shelbyc and @krassowski, thanks for pinging me here.

@krassowski is correct, it should say [`6.4.10`](https://github.com/jupyter/notebook/releases/tag/6.4.10). I'll edit the advisory description with the correct version.

[2022-04-05 07:31] hroncok commented on #6325
Thanks.

[2022-04-05 09:46] ValRCS commented on #4044
If you are in a situation when you do not have extension and no direct access to css files then you can use the following one liner from Javascript console (open Developer Tools)

`[...document.getElementsByClassName('run_this_cell')].forEach(el => el.style.display = 'block')`

Tested in Chrome 100 but should work elsewhere as well.

[2022-04-05 11:44] jtpio opened #6344 "Make the upstream `DocumentManager` more customizable"
Currently the `docManager.open` method is patched here to be able to open documents in new browser tabs:

https://github.com/jupyter/notebook/blob/9507aa229a168b71ead986c20cf6dc492932c2fe/packages/docmanager-extension/src/index.ts#L29-L58

Ideally we could instead provide another `IDocumentManager` to the system which would extend the base `DocumentManager`, but override the `open` method and defi

[2022-04-05 12:08] #6325 closed

[2022-04-05 12:19] hroncok commented on #6325
Could you please tag it and add it to https://github.com/jupyter/notebook/blob/6.4.x/CHANGELOG.md before closing this issue? I can send a PR for the changelog later this week.

[2022-04-05 21:29] krassowski commented on #6325
The release tag is available here: https://github.com/jupyter/notebook/releases/tag/6.4.10. As for changelog, I agree that it would help. I would support updating the procedure for releasing security patches to include updating changelog once the advisory is out - this could possibly be a new action of https://github.com/jupyter-server/jupyter_releaser.

[2022-04-07 04:33] dpanici commented on #4500
This works for jupyter notebook, but when launching jupyter lab I still get an access denied, is there an additional config setting that needs to be set for jupyter lab?

[2022-04-07 16:08] jtpio opened #6347 "Build CI workflow does not run on `main`"
Looks like the "Build" workflow does not run on the `main` branch at the moment:

![image](https://user-images.githubusercontent.com/591645/162247830-58e84b37-09a0-4479-93be-1d6bcc1668f4.png)

Also the name "Build" does not appear anymore in the list, instead it's the path to the workflow:

![image](https://user-images.githubusercontent.com/591645/162248176-b8ad6e8e-5f17-4e07-b371-4b225e3ca84b.png

[2022-04-08 02:29] a3626a commented on #615
It is possible now. (in jupyter server)
[code]

[2022-04-08 11:00] mathause opened #6348 "disable ligatures?"
JupyterNotebook on chrome and chromium display ligatures, for code cells:

![image](https://user-images.githubusercontent.com/10194086/162421617-ff89d3ac-4580-4d89-8bd6-3f514e689bdd.png)

which distorts the text. This does not happen for firefox (and JupyterLab). The solution seems to be to add

[code]

to the css.

[2022-04-08 18:54] prathikshetty2002 opened #6350 "[Question] Can multiple instances of jupyter notebook Ipykernel run on the same venv"
Is there any way i can run multiple versions of Ipython through my jupyter notebook inside my venv? I read through the documnetation but didn;t find the exact thing i was looking for. My concern is can we run multiple instances of notebook ipy kernel on single venv .

[2022-04-09 15:09] ks905383 commented on #3311
Would like to second @engmubarak48 ; this problem was fixed for me when I changed the environment.yaml file I was using to generate the environment to include `jupyter` and `jupyterlab`. Otherwise it was using the base environment's `jupyter` (even when running it after deactivating the base environment, which felt odd), with the incorrect paths.

[2022-04-10 14:39] pschlattner opened #6353 "Remote jupyter notebook run in Safari gets stuck on kernel restart"
I'm getting the following problem when working remotly from a MacBook Pro M1 using Safari. This problem has appeared a couple of days ago and has been reproduced with two different remote Ubuntu machines with different specs & setups.

There are several tickets on github about similar issues (different browser though, e.g. https://github.com/jupyter/notebook/issues/3764, but none of the suggestion

[2022-04-10 18:45] vobine commented on #6339
I'd be happy to do it myself, but I need to find the Snap source.  I've searched but found nothing.  Who owns it, Ubuntu, or you folks, or somebody else?

[2022-04-11 04:01] Cshekar24 commented on #4656
All my environments were working totally fine but suddenly after restarting the system, the jupyter notebook from an environment was not opening or it was suddenly crashing. Tried form anaconda prompt but getting "Unable to create Process...
All my DL dependencies were on this environment and I didn't want to create new environment completely installing all the required dependencies.

Solution: I

[2022-04-11 11:42] echarles commented on #6319
Unless a solution can be found to let webpack generate phantomjs friendly javascript (https://github.com/jupyter/notebook/pull/6354#issuecomment-1094947104), a workaround solution would be to change the sanitizer index.js when running the CI.

[2022-04-11 13:55] shelbyc commented on #6328
@krassowski @Zsailer Thank you for clarifying the fixed version!

[2022-04-11 13:55] #6328 closed

[2022-04-12 08:06] VitanovG commented on #4192
I know its an old issue but as far as I could find still no such feature got implemented. I at least would love to use your solution on my local machine but I would need some help to point me in the right direction on how? I see only the completer.js file is changed in your commits. I tried replacing all completer.js files on my machine with yours but it did not work. I also tried swapping the ent

[2022-04-12 08:55] echarles commented on #6319
Progressing well on js-test:

-base: `green` ✅ https://github.com/jupyter/notebook/runs/5984992097?check_suite_focus=true

- services: `FAIL 82 tests executed in 70.297s, 74 passed, 8 failed, 0 dubious, 0 skipped.` on https://github.com/jupyter/notebook/runs/5984992147?check_suite_focus=true - I see errors like `ModuleNotFoundError: No module named 'IPython.kernel'` - CI runs `pip install .[test]`

[2022-04-12 09:07] blink1073 commented on #6319
The class moved: https://github.com/ipython/ipykernel/blob/d7339c2c70115bbe6042880d29eeb273b5a2e350/ipykernel/comm/comm.py#L15

[2022-04-13 02:01] tgpfeiffer commented on #641
Related to https://github.com/jupyter/notebook/issues/641#issuecomment-872469554: I have tried the Jupyter collaboration feature in the latest release (3.3.3) and I found out that if user A starts a long-running computation, then the output is synced across browsers to all collaborators and they can see it in real-time, reload their browser windows etc., but if A does it, then we are back at the p

[2022-04-13 12:42] DeloitteDivyaKala commented on #3278
Hi, I have a similar situation:

In MD visual source code I am able to view the images and I am using docusaurus.

In the preview, I am able to see the images but not while hosting the same in localhost:3000.

Any suggestions?

[2022-04-13 13:38] ycdxsb opened #6359 "how to report security bug?"
Hello,
    I want to know how to report security bug of notebook
Thanks

[2022-04-13 15:45] remram44 opened #6360 "Be consistent with tags; add missing releases"
I noticed that the Git tags are inconsistent, some starting with `v` and some not. I thought you might have changed formats to include `v` after 6.4.1 but you went back to no prefix for 6.4.10, and then back again to `v` for `7.0.0a1`.

It would probably be easier on everyone if you could stick to one format for the tags.

Current tags:

[code]

<details><summary>older</summary>

[code]

</details

[2022-04-14 02:00] ycdxsb commented on #6359
I have sent the report to security@ipython.org.

[2022-04-14 06:01] jtpio commented on #6359
Thanks, closing as answered.

[2022-04-14 06:01] #6359 closed

[2022-04-15 17:07] nmbike opened #6361 "run notebook on startup but no connection through 8888"
So I'm using a Jetson Nano (lmk if you want specifics on image or jetpack version), but this is probably more of a Linux question.
When I boot I can't get in over the 8888 port, either headless or over wifi. I ssh to the Nano, run jupyter-notebook, then I can enter fine.
So I figure if I run jupyter-notebook on startup with systemd I'm good. I do that. When I ssh I can see that jupyter-notebook is

[2022-04-17 21:04] sanjiblamichhane commented on #3669
for anything before 100, add 0 in the front. Then it seems to be working.

[2022-04-18 18:07] echarles commented on #6319
For now, terminals tests are failing on windows.

A few remaining javascript tests are still failing (base as successfull, 3/94 are failing for service, 1/522 for notebook although they all succeed on my macbook laptop)

[code]

[2022-04-18 21:54] #6226 closed

[2022-04-19 14:29] Goncasdio opened #6368 "Aula 8"

[2022-04-19 15:15] jtpio commented on #6368
Thanks @Goncasdio.

Closing as this seems to have been opened by mistake.

[2022-04-19 15:15] #6368 closed

[2022-04-19 15:21] jtpio commented on #6360
Thanks @remram44 for raising this.

From now one, the tags will be prefixed by `v`, since this is the default for the automated release process. For reference this is the case for `v6.4.11` and the release notes are available here: https://github.com/jupyter/notebook/releases/tag/v6.4.11

Looks like `6.4.10` might have been released manually.

[2022-04-19 15:23] jtpio commented on #6360
Yes that seems to be the case, to address https://github.com/jupyter/notebook/security/advisories/GHSA-m87f-39q9-6f55.

cc @blink1073 probably we can create the GitHub Release on the `6.4.10` tag and use the changelog generation to it shows in the list of releases?

[2022-04-19 15:36] blink1073 commented on #6360
Ah yes, that makes sense.

[2022-04-20 07:50] #6347 closed

[2022-04-20 13:17] #5630 closed

[2022-04-20 22:58] yakoubiaous commented on #4316
i have the same problem even though i dont have a OneDrive account and that folder is empty.

[2022-04-22 07:02] Wh1isper commented on #641
I am also interested in this issue, which is a problem of the overall Jupyter architecture. Jupyter puts all file-related operations on the front end, which disappears after closing the tab page, naturally leading to the problem of missing output

Looking at the behavior of JupyterLab, I found that JupyterLab itself has some problems with the kernel state loop. For example, when reconnecting to a

[2022-04-22 16:01] jasongrout commented on #641
There is active work in JupyterLab to correct this architecture issue. This builds on work done over the last year in real-time collaboration. @davidbrochart, is there a top-level issue in JupyterLab tracking the work to move state to the server side?

[2022-04-22 18:58] jasongrout commented on #641
It looks like https://github.com/jupyterlab/jupyterlab/issues/11434 contains useful discussion about the current state of the RTC work, and https://github.com/jupyterlab/jupyterlab/issues/2833 (also noted above) is another good issue to follow.

[2022-04-22 19:59] davidbrochart commented on #641
Besides the issues @jasongrout mentioned, https://github.com/jupyterlab/jupyterlab/pull/12360 is the PR that will probably solve this issue. I am actively working on it, and it also depends on the development of https://github.com/y-crdt/ypy. Give us one more month or so!

[2022-04-23 09:16] lazywhite commented on #5313
I didnt' do jupyter related work for a long time, so I have to close this issue

[2022-04-23 09:16] #5313 closed

[2022-04-25 13:24] jtpio opened #6372 "Fail to open JupyterLab from Notebook v7 on `main`"
**Describe the bug**

It looks like it's not possible to open JupyterLab from Notebook v7, using the latest `main`.

**To Reproduce**
Steps to reproduce the behavior:

1. Open https://mybinder.org/v2/gh/jupyter/notebook/main?urlpath=tree
2. Click on View > Open JupyterLab

https://user-images.githubusercontent.com/591645/165097947-6ea6dedd-5067-490e-8abe-2f44a2de7b8f.mp4

**Expected behavior**

Ju

[2022-04-25 15:55] jtpio commented on #6372
cc @bollwyvl this seems to have been introduced in https://github.com/jupyter/notebook/pull/6366

[2022-04-26 12:16] qkum commented on #3844
i know nothing about coding in java. but it says there is an error in the code linked. and adding an '(' or '{' does not fix it.

[2022-04-26 12:49] noklam commented on #3844
Happy to accept any PR if someone want to make it work, unfortunately the repository is not maintain actively it may take some time to get it merged.

[2022-04-26 16:49] jtpio opened #6378 "Add action buttons to the file browser toolbar when selecting items"
https://github.com/jupyter/notebook/pull/6377 added support for displaying file browser checkboxes by default in Notebook v7.

A nice follow-up would be to add something similar to the classic notebook, with action buttons in the toolbar:

https://user-images.githubusercontent.com/591645/165345364-4435811a-5ede-45c1-a36d-dadd0aabeb73.mp4

These actions are already accessible via the context menu,

[2022-04-26 21:10] jtpio commented on #6378
This would also be useful on mobile devices.

[2022-04-27 05:29] abraar0305 commented on #5596
Hi @MollyBai777 btw I had the same problem on windows, have you found any solution for this problem...??
![image](https://user-images.githubusercontent.com/50791005/165446963-0ef15326-c2d5-4fb7-8cdb-d40a857f705d.png)

[2022-04-27 06:56] #6372 closed

[2022-04-28 09:10] FavorMylikes commented on #6275
- Here is another case.

- Failure

[code]

- Success by deleted a single letter.

[code]

[2022-04-28 09:13] FavorMylikes commented on #6275
Attach tex file, explored by jupyter.
[def.tex](https://github.com/jupyter/notebook/files/8581343/def.txt)

[2022-04-29 19:17] ProsperousHeart commented on #3278
This is the best solution - possibly the only one.

[2022-05-01 06:08] jeewonkoo commented on #6401
Hello, I found this issue on https://ovio.org/projects and would love to contribute! I am new to helping Github open source but have few years of coding experience. Please let me know!

[2022-05-02 09:21] jtpio commented on #6401
Thanks @jeewonkoo!

The first step would be to fork the repository and follow the contributing guide to get the local environment up and running: https://github.com/jupyter/notebook/blob/main/CONTRIBUTING.md. Up to being able to open the application with `jupyter notebook`.

And then follow the similar code as hinted in the top comment: https://github.com/jupyter/notebook/issues/6401#issue-1217384

[2022-05-02 20:53] jeewonkoo commented on #6401
Sounds good! I will work on it.

[2022-05-03 08:28] jtpio commented on #6401
Fixed by #6415, thanks @jeewonkoo!

[2022-05-03 08:28] #6401 closed

[2022-05-03 15:43] yrozen-synamedia opened #6416 "python Jupyter notebook SSO issue"
Hi,
I've run into a problem and we'll be happy to get your help.
We work with Jupyter notebook.
The problem is that everyone who works on **mac** computers and works with Jupyter, after 12 hours the AWS SSO token expired, once the token is renewed ('aws sso login') it will not be possible to run the Jupyter that was open, it will work ONLY is restarting Jupyter kernel.
It is important to emphasize

[2022-05-03 16:49] MrObOt07 opened #6417 "python -m ipykernel install --name=anprsys"
Traceback (most recent call last):
  File "C:\Users\WELCOME\AppData\Local\Programs\Python\Python310\lib\runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\WELCOME\AppData\Local\Programs\Python\Python310\lib\runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "D:\ANPR\anprsys\lib\site-packages\ipykernel\__main__.py", line 4, i

[2022-05-04 06:43] #5362 closed

[2022-05-04 06:43] veltzerdoron commented on #5362
Closed

[2022-05-04 16:43] fcollonval opened #6419 "Cell tools for notebook v7"
**Describe the feature**

In notebook up to v6, there is a feature to trigger various tools on top of the cells:

![image](https://user-images.githubusercontent.com/8435071/166728981-46828017-81b3-4ab3-afb2-cbaa2d4a3a19.png)

This kind of feature is not available on JupyterLab. In [external extension](https://github.com/jupyterlab-contrib/jlab-enhanced-cell-toolbar), I started introducing a simila

[2022-05-04 17:58] ellisonbg commented on #6419
Thanks for bringing this up. A few additional comments, some from the weekly meeting Zoom chat:

* The classic notebook only shows a single cell metadata editor at a time (I had mis-remembered that). To maintain the simplicity and document oriented nature of notebook v7, I think this is important UX feature to preserve from the classic notebook (rather than showing multiple cell editors at a time)

[2022-05-05 06:55] fcollonval commented on #6419
Thanks Brian

I'll upstream the code for those editors in JLab.

I'll do the appropriate changes.

That is a bug because the extension was doing that - thanks for catching it.

:+1:

[2022-05-05 11:29] #6330 closed

[2022-05-06 06:43] zdlspace0528 opened #6420 "how to automatically add blank space besides "=""
Dear all,

When I type x=1 in jupyter notebook, how can I automatically add blank space between =,that is to say "x = 1" .
Also,when I type x>1， I hope it can type as "x > 1".

Best,
Raymond

[2022-05-06 17:00] Jeitan commented on #3355
Since there is a custom.js workaround for this that I've been using successfully, I figured I'd close this to remove the clutter.

[2022-05-06 17:00] #3355 closed

[2022-05-06 18:38] abaveja313 commented on #4050
Worked for me

[2022-05-08 02:51] bmsoftdevelopment commented on #2488
This one works. Thanks!.

[2022-05-08 02:52] backjoao88 commented on #2488
This one works, thanks

[2022-05-10 20:34] DeepakSaini119 commented on #6001
Thanks, running this code and reloading the notebook solved the issue for me.

[2022-05-11 01:03] GabeChurch commented on #4761
FYI I found a really annoying issue around multiline-select where the only solution seems to be changing "CodeJump" default setting to use "control" instead of "alt". Only once this has been changed does multiline select work.
![image](https://user-images.githubusercontent.com/31358000/167748479-b88b4508-4506-4865-ad5f-6856f74590f4.png)

[2022-05-11 20:10] vivianamarquez commented on #6001
I've had the same problem for over a year using different computers

[2022-05-11 20:13] sergiomora03 commented on #6001
@vivianamarquez Maybe, this way could help u?

[2022-05-11 20:38] parthmahe commented on #6420
Hello,
If you are assigning 1 to x, what difference does the blank space make? compiler skips through the blank spaces anyway, If you meant something else, do let me know. Similarly, x>1 will return true/false on basis of value of x, the blank space will not change a thing.

[2022-05-12 05:38] parthmahe commented on #6339
Yes, use conda. Create an Environment, and install all the libraries in that environment, numpy, Matplotlib and jupyter notebook, then activate it using conda activate env, after that type jupyter notebook and you are all set!

Example- conda create -n myenv python=3.10.4 jupyter numpy (to create a custom environment)

Now, activate it using conda activate (path of myenv)

Now all you have to do i

[2022-05-13 03:23] silent0506 opened #6422 "how can i change display for markdown?"
![image](https://user-images.githubusercontent.com/70154806/168204817-386d48e0-260d-4266-b5da-5955fc6061ff.png)

I've been using the Juppyter notebook well Suddenly, the md file does not open normally. What should we do? Thank you.

Please refer to the image

[2022-05-13 08:26] kloczek opened #6423 "6.4.11: sphins fails"
Looks like it is some issue on building sphinx documentation
[code]
[code]

[2022-05-13 08:34] kloczek commented on #6423
Looks like it is yet another case of `nbsphix` ext issue.
After remove that module with patch
[code]
I was able to generate documentation
[code]
It would be good to clean above warnings ..

[2022-05-13 08:44] kloczek commented on #6098
I've skipped for now all units which requires `geckodriver` because it looks like it is not so easy to package.
What about other issues?

[2022-05-13 08:53] Meng-ShuPing commented on #3495
我也碰到了这个问题,再使用jupyter notebook --ip 0.0.0.0或者实际ip时都可以正常启动, 但使用jupyter notebook --ip localhosts时,出现了同样的端口被占用问题, 查看hosts文件里后发现是我把0.0.0.0指向了localhost,去掉这个ip映射就好了

[2022-05-13 08:54] kloczek commented on #6098
Updated pytest output with deselected all units which requires `geckodriver`
[code]

[2022-05-13 09:51] MosesDastmard commented on #1927
I had the same issue. Make sure the line "127.0.0.1      localhost" exists on /etc/hosts (only linux users, I have no idea for Windows users).
BTW, I had removed this line to make an application run. Once I recovered it back Jupyter works well again.

[2022-05-13 17:56] hroncok opened #6424 "6.4.x test_help_output fails with traitlets 5.2.0: assert "Traceback" not in err"
**Describe the bug**
Hello. In Fedora, we still have notebook 6.4.x. Recently, traitlets was upgraded to 5.2.0 and suddenly test_help_output fails. Is it OK if we skip the testes?

**To Reproduce**
Steps to reproduce the behavior:

In this repo, branch 6.4.x.

[code]

**Expected behavior**
All tests pass.

**Desktop (please complete the following information):**

- OS: Fedora Linux 35, 36 and 37
-

[2022-05-13 17:59] hroncok commented on #6424
Indeed looks like a traitlets thing. Sorry for the noise.

[2022-05-13 17:59] #6424 closed

[2022-05-16 09:22] khalidi1987 commented on #5447
Anyone ? It's highly needed or does someone have another approach?

[2022-05-17 07:46] moorepants commented on #5479
Yes, this is an issue on Ubuntu 22.04 with Firefox. Here is a recent stackoverflow post that demonstrates it: https://stackoverflow.com/questions/54877158/jupyter-notebook-wont-open-in-newly-installed-firefox-quantum

I just upgraded to 22.04 and `jupyter notebook` opens a tab in firefox with the error. I have to manually open one of the URLs.

[2022-05-17 09:42] cossio commented on #641
Now that https://github.com/jupyterlab/jupyterlab/pull/12360 is merged, any updates on this issue? Thanks!

[2022-05-17 15:30] davidbrochart commented on #641
Seems to work:
https://user-images.githubusercontent.com/4711805/168849750-7a1a3a29-807f-457e-b9cc-471afa30960c.mp4

[2022-05-17 15:50] davidbrochart commented on #641
But it already works with Jupyter 3.4.2, so this is not related to https://github.com/jupyterlab/jupyterlab/pull/12360.

[2022-05-17 15:57] cossio commented on #641
@davidbrochart Wowwww had no idea! So if I just upgrade to latest Jupyterlab I will get this fix?

[2022-05-17 16:13] davidbrochart commented on #641
Could you post a screencast?

[2022-05-17 16:30] cossio commented on #641
Maybe. If I try to refresh the notebook browser window (hit F5), however, I lose all output :disappointed:

[2022-05-17 16:32] davidbrochart commented on #641
Ah, but that's another issue. You might want to continue the discussion in https://github.com/jupyterlab/jupyterlab/issues/12455.

[2022-05-17 18:48] williamstein commented on #641
IIRC @rgbkrk  (?) told me he added a hack long ago to Jupyter so that it would save up and push  out messages that were missed when the user's network connection is down temporarily.  As you note, it was just a small hack, and doesn't work when you refresh your browser. Maybe @rgbkrk has further thoughts...

[2022-05-17 19:14] davidbrochart commented on #641
But the long-term fix is to move all kernel management (low-level kernel protocol) from the front-end to the back-end. In the end JupyterLab would merely be a (live) document viewer, and wouldn't talk to kernels directly.

[2022-05-18 14:56] bhavya-2210 opened #6427 "Python 3 kernel Dead error"
<img width="703" alt="image" src="https://user-images.githubusercontent.com/77876836/169072113-c3bbdf9e-0af4-4c98-a8b4-3789dfd217e8.png">
Kernel is dying due to not getting info please help

[2022-05-19 06:52] THANMAYA-777 opened #6428 "BUG IN RUN TIME ERROR"
**Describe the bug**
                  This is thanamaya kumar behera from india. while my self using jupyter noteboox in my personal computer. I found a bug while running my code. The problem is about, myself where working with image processing. At first i have get the image and read the pixel, While Printing The pixel, show error.  Let me Show of the error and bug.

                  When I use

[2022-05-19 13:34] praksharma commented on #1898
Any update after 6 years?

[2022-05-20 01:39] Fred-Wu opened #6430 "Wrong shape in Data Viewer for `polars` DataFrame"
The first ans is from `polars`, the second one ans2 is the conversion from `polars` to `pandas` DataFrame.
Both shows the shape of (8422, 11).

<img width="672" alt="image" src="https://user-images.githubusercontent.com/4111978/169431133-71bcde4d-063f-4531-b3a3-884303e76f23.png">

However, when the Data Viewer opened, the `polars` is transposed to (11, 8422), while `pandas`'s view is correct.

`po

[2022-05-20 06:18] Wh1isper commented on #641
This is probably because Google Chrome's dev tool does not disconnect websockets that are already connected

[2022-05-20 14:17] maffei2443 commented on #5363
@kevin-bates

I guess I have the same problem. Here goes the output as you asked

[code]

[2022-05-20 14:57] kevin-bates commented on #5363
Hi @maffei2443 - I think this is a different kind of issue, but given your kernel is not starting, the results are essentially the same.

Looking at the stack, it appears `ipykernel` is having heartburn so I would ensure that BOTH `ipython` and `ipykernel` are up to date.  Seeing that you are using Python 10 and Windows and `selectors.py` is involved, I suspect this could be related to a period wh

[2022-05-21 20:46] trungleduc opened #6432 "Missing shadows around the notebook in v7"
**Describe the bug**
In Notebook v6, we have a light shadow effect around the notebook, this effect is not presented in v7.

**To Reproduce**
Open a notebook file in Notebook v7

**Expected behavior**
I don't know if it's a bug or a design intention.

**Screenshots**

- v6

![v6](https://user-images.githubusercontent.com/4451292/169668307-5a7311e3-7aa7-4b28-afed-a7cb4c1610ff.png)

- v7

![v7](http

[2022-05-22 03:22] lgoudas commented on #5024
I have the same issue in a different way and I am kinda new so still learning. It's mac m1 chip. I downloaded anaconda and when I try to launch  Juypter notes form the anaconda navigator, it doesnot restart the juypter window and instead gives me an error as below in Part A. Then I copy the URL myself in the browser to launch juypter thinking that I will  skip  any python webbrowser errors if any,

[2022-05-22 03:23] lgoudas commented on #5024
Any clue or help is appericated?

[2022-05-22 16:42] tyroCodist commented on #5024
I did the following and that resolved my issue.

Open cmd and write the following
`pip install jupyterlab`
By the way, I am using jupyterlab, not jupyter notebook.
I did this just now and it resolved.

My issue was that code was not getting executed. When I checked, I found that the Kernal was disconnected and was not able to connect.

[2022-05-22 17:57] lgoudas commented on #5024
I tried installing both jupyterlab and notebook from cmd before and  didnot work.
What I have tried and I repeated it to check if it is the cause. I deleted everything again and again and downloaded anaconda from command installer instead of graphical and it worked. For somehow the graphical download didnot work for me ( sha was verified) . I am having macos Monterey if it matters. I found posts f

[2022-05-23 07:45] Step-by-step1 commented on #3311
Had similar issue, only I was using pipenv as virtual environment.
After running `pipenv install jupyter` within virtual environment, a ran `ipython kernel install --name "local-venv" --user`.
After that, when I ran jupyter notebook in that virtual environment, I was able to select new kernel where all respective packages were available.
[https://queirozf.com/entries/jupyter-kernels-how-to-add-cha

[2022-05-26 01:16] adamjstewart opened #6435 "Connection failed, kernel does not exist"
**Describe the bug**

I'm experiencing connection/kernel issues with my local copy of Jupyter. I'm not sure if this is the right place to report this, but I encounter the issue with both `jupyter lab` and `jupyter notebook` so it may be an issue with a common core/server dependency.

**To Reproduce**

1. Launch Jupyter with `jupyter lab` or `jupyter notebook`
2. Create a new notebook with a simple

[2022-05-26 08:14] lmingzhi commented on #625
This works!

[2022-05-26 20:28] Reapor-Yurnero commented on #2432
this seems to be a problem specific to macos. Is there an ETA on the release date of v7?

[2022-05-28 23:18] gutow commented on #6419
Glad to see this is on the radar. It was one of the things that I noted as a potential issue in my latest tests of V7 notebook.
This is starting to look quite reasonable from an interface perspective as a replacement for the V6 and below.

[2022-05-28 23:30] gutow commented on #6307
May 28, 2022 - interface testing from perspective of one of the users who would like to maintain parity with the old notebook interface.
**First: this is looking really good from the user interface perspective.** I am still trying to get set up to port extensions and will comment on that later/elsewhere, as appropriate.
1. The interface recovers most of the simplicity of the classic notebook. It i

[2022-05-29 07:59] Tixotrop commented on #3918
Windows:
ctrl + down (moving to the end of line)
enter

[2022-05-29 14:37] smolinde opened #6437 "Build-in Browser Terminal Doesn't Work"
### Brief Description:
After starting the server, accessing it via Chrome browser and opening a new terminal tab, the window is empty and no terminal is available. No errors are shown in server logs.

### Installation Details:
- Ubuntu 22.04 LTS (Jammy Jellyfish)
- Raspberry Pi 4B (8GB)
- IPython 7.31.1
- ipykernel 6.7.0
- ipywidgets 6.0.0
- jupyter_client 7.1.2
- jupyter_core 4.9.1
- jupyter_serv

[2022-05-30 07:15] #6432 closed

[2022-05-30 07:42] jtpio commented on #6307
Many thanks @gutow for the feedback :+1:

Probably you were trying using the Binder link in the README? It sets the `collaborative` flag by default so it's easier to test RTC on Binder:

https://github.com/jupyter/notebook/blob/16a297adbbc7384a845bcf5ea8d66a8e868bc1f6/jupyter_config.json#L3

This is also a side-effect of having RTC enabled, and should not be the case when starting without the `col

[2022-05-30 17:57] sdzbft opened #6438 "jupyter notebook extremely slow!!!"
**Describe the bug**
Very slow, even simple print, slow response

**Expected behavior**
run normally

**Desktop (please complete the following information):**
- OS: win10
- Browser chrome
- Version 91.0.4472.164
- cpu i7 10700,  32g ram,  disable variable inspector,  ram usage 37%,  cpu usage 9%

**Additional context**
![image](https://user-images.githubusercontent.com/18287085/171041230-f86b2601-

[2022-05-30 18:09] sdzbft commented on #6438
My computer is not badly configured, i like jupyter, But I can't stand its running speed, I would appreciate it if anyone could help me!  thanks in advance.

[2022-06-02 11:50] krairy opened #6441 "Blank matplotlib widgets in Jupyter Lab and classic notebooks @ Firefox"
![blank_widget_bug](https://user-images.githubusercontent.com/48013494/171621977-6c65706a-1243-435a-bda3-ad7499fc223c.JPG)
Sadly, get only a white space instead of a figure when running Jupyter notebooks with IPYML with `%matplotlib widget `

Apparently, the issue is in Firefox, because they seem to render fine in MS Edge. Adblocker in Firefox was off.

Versions:

IPython          : 8.4.0
ipykerne

[2022-06-04 13:18] shergreen opened #6442 "Expose the toggle between full width and classic notebook-style width in the settings"
See https://discourse.jupyter.org/t/eliminate-horizontal-gray-borders-in-retrolab/14250/3

[2022-06-04 13:21] shergreen opened #6443 "Add toggle to set default output mode of all cells to being fully expanded rather than scrollable"
Note that this feature request is for notebook 7.x/retrolab.

[2022-06-04 13:22] shergreen commented on #6443
Sorry for tagging this as a bug, it happened automatically. This is a feature request.

[2022-06-04 14:20] PanayotisManganaris commented on #5265
I also have this problem. A seemingly functional workaround is to simply use the pip package manager in your conda environment to install jupyter. pip 22.1.2 (python 3.10) does not solve for the packages managed by conda, and since the version conflict appears to be spurious, There's not much issue with taking this leap of faith for a personal environment.

[2022-06-04 19:07] gutow commented on #6307
You're welcome. Sorry about the slow reply. I was traveling.

Actually, I was working with a clone of the repository locally. I am hoping to get things to the stage where I can test porting some of my widgets to the JLab within this interface.

I think  this belongs as part of #6397 and will add to that.

Please port.

[2022-06-04 19:08] gutow commented on #6397
Please add:
"Close and Shutdown notebook" does not exit the browser tab, but should.

[2022-06-05 02:55] fperez commented on #6397
Thanks for that catch @gutow, agreed; this is an important part of the daily UX for notebook v6 users.

[2022-06-07 00:11] maddukurisrinivasarao commented on #6164
is it safe to use the workaround suggested above in this thread (i.e c.NotebookApp.kernel_manager_class = 'notebook.services.kernels.kernelmanager.AsyncMappingKernelManager')?

my version stack:
ipykernel                     5.5.5
ipyparallel                   6.2.4
ipython                       7.25.0
ipython-genutils              0.2.0
ipywidgets                    7.6.5
jupyter

[2022-06-07 13:53] Bastien-mva opened #6445 "Weird display in jupyter notebook with R kernel"
Hello,

I am using jupyter-notebook with an R kernel. I am trying to plot simple things, but the scale is very weird:

Here is the output of  ```conda list ```

[code]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2022-06-09 12:34] tdihp commented on #5994
Can repro also with WSL2+Ubuntu configuration

[2022-06-09 23:02] tvbush commented on #1080
Well, this really doesn't work. I don't see any solution at all. I've tried everything suggested on this page. The only one that works is where there is only a single dollar sign on a line. Anything else seems to break, sometimes in VERY strange ways. Note that when this is rendered, both Chrome and Firefox display the second line correctly for a moment, and then it is turned into math-renderer st

[2022-06-10 00:05] jasongrout commented on #1080
@tvbush - we don't have any control over how GitHub renders Jupyter notebooks. If this is an issue with it displaying a notebook on GitHub, you'll need to file a support request with GitHub.

[2022-06-10 00:15] tvbush commented on #1080
Did you try to reproduce my issue?
Yes, I will send it to Github too. Thanks!
I was just happy to find someone else who had similar issues!

[2022-06-11 00:13] jasongrout commented on #1080
This renders correctly in the latest JupyterLab and Jupyter Notebook:

[code]
<img width="179" alt="Screen Shot 2022-06-10 at 18 12 44" src="https://user-images.githubusercontent.com/192614/173164668-d754afea-9324-470d-8800-c9722f45c91f.png">

[2022-06-11 17:31] Jabi7 commented on #2300
Any updates as of now?

[2022-06-14 03:38] ralberrto commented on #4500
The corresponding issue with *jupyter lab* is solved by:
- Running `jupyter-lab --generate-config`
- Editing the configuration file at `~/.jupyter/jupyter_lab_config.py`;  if the line is hashed out unhash it and change `c.ServerApp.use_redirect_file = True` to `c.ServerApp.use_redirect_file = False`

That should do it, good luck! Thanks to **@radenkovpy** for the actual solution, I merely extrapol

[2022-06-14 15:31] Pranav-tuli opened #6451 "ModuleNotFoundError in Jupyter Notebook"

[2022-06-15 06:08] kloczek commented on #6423
Here is updates list of warnings for just released 6.4.12
<details>

[code]
</details>

You can peak on fixes that kind of issues in other projects
https://github.com/latchset/jwcrypto/pull/289
https://github.com/click-contrib/sphinx-click/commit/abc31069
https://github.com/latchset/jwcrypto/pull/289
https://github.com/RDFLib/rdflib-sqlalchemy/issues/95
https://github.com/sissaschool/elementpath/c

[2022-06-15 14:57] guzmanojero commented on #6001
I had the same issue. I don't understand why it happened, as nothing changed in my environment.

I have many files in a folder and this error occurs in all of them.
It even happens in files that used to work well, but I didn't touch in a while (like not copying/pasting any cells).

PARTIAL SOLUTION: I just copied the files into a different folder and all worked fine.

:0

[2022-06-15 21:28] FatihMercan61 commented on #2558
so is there now a way to enable it?

[2022-06-15 21:30] bnavigator opened #6453 "dir1/./dir2 is hidden (POSIX)"
**Describe the bug**

While packaging the voila rpm for openSUSE, the following test started to fail with notebook 6.4.12:

test_image_inlining << [images.ipynb](https://github.com/voila-dashboards/voila/blob/%40voila-dashboards/voila%400.3.5/tests/notebooks/images.ipynb)

[code]

[code]

<details>

[code]

</details>

Cause:

[code]

**Expected behavior**
The `.` for "current directory" should no

[2022-06-17 09:49] DFEvans opened #6456 "No documentation or release notes for v6.4.12"
**Describe the bug**
`notebook` v6.4.12 was released last week, and is now being highlighted by Github's dependabot as a security fix. However, it is unclear from the documentation v6.4.12 has been released, and what changes it contains, because:

* There is no v6.4.12 tag in the repo, only v6.4.11
* [The changelog in the documentation](https://jupyter-notebook.readthedocs.io/en/stable/changelog.h

[2022-06-17 12:50] choldgraf commented on #1292
Just wanted to give a quick update on this and note that we're experimenting with a JupyterLab plugin that would support these kinds of boxes with MyST Markdown (a cross-platform / extensible flavor of markdown that Jupyter Book uses as well). It's called `jupyterlab-myst`, still very WIP but would love to hear either support or feedback!

- https://github.com/executablebooks/jupyterlab-myst
- [bi

[2022-06-17 13:28] Rixant commented on #6406
Hi @jtpio , I would like to work on this issue. Could you please assign me?

[2022-06-17 13:35] jtpio commented on #6406
Sure thing, thanks @Rixant!

[2022-06-18 12:36] stevengj commented on #1292
@choldgraf, note that it would be good to have something that works for programmatic output, e.g.
[code]
in addition to Markdown cells; hopefully that is true for your plugin.

[2022-06-19 07:37] #5868 closed

[2022-06-20 00:15] KennyLeung commented on #5024
If you are using a reverse proxy like nginx, you should consider whether the reverse proxy directive is set correctly.

I had the same problem, and after I finally set up nginx correctly by referring to this article, everything worked fine.

reference: https://www.cnblogs.com/lcword/p/15544380.html

[2022-06-21 17:44] jtpio commented on #6456
Thanks @DFEvans for reporting.

This will likely be fixed by https://github.com/jupyter/notebook/pull/6452.

[2022-06-24 06:14] Hadi-mac commented on #4656
I have created **two virtual environments** and the **first** one is working properly while the **second** one is having this issue when typing "jupyter notebook" into the conda prompt although I have installed all the required libraries as well as jupyter "conda install jupyter"
can anyone help identify the problem...

(Unable to create process using 'C:\Users\My Name\.conda\envs\ai-env\python.ex

[2022-06-24 06:26] Raghav-Bell opened #6458 "os_path is not defined"
**Describe the bug**
A clear and concise description of what the bug is.
os_path is not defined in rename_file function  (line 579).
**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'File tab'
2. Click on 'Rename'
3. Scroll down to '....'
4. See error : os_path is not defined .(PFA)

**Expected behavior**
A clear and concise description of what you expected to happen.
File should be ren

[2022-06-25 21:13] vsoch opened #6459 "Cannot reproduce unix socket example"
**Describe the bug**

I'm trying to reproduce the only documentation / example I can find for unix sockets, here: https://github.com/jupyter/notebook/pull/4835
And when I do `nc -U /tmp/name.sock` I don't see an error, but I don't see any output at all. I've also read the comments in the template here and opened an issue on jupyterhub, but I don't see there is any support for this same kind of "on

[2022-06-26 00:44] vsoch commented on #6459
Wanted to post a quick update that I got it working - I had to modify the command quite a bit for my setup! I'm going to do a short writeup that I'll share (maybe not today but tomorrow) for others to find in case it's useful. Someone did report that the above worked for them on a Mac (and different cluster resource) so I suspect it has to do with the slight variation in our clusters / setups. Any

[2022-06-26 01:04] gutow commented on #6394
I am all in favor of at minimum providing the limited API that Collab exposes. However, Collab appears to be a version of Jupyter notebook not JLab (see [Using Collab locally](https://research.google.com/colaboratory/local-runtimes.html)).

To add to the discussion of why I think we should have this:
1. There are use cases such as my [Jupyter Physical Science Lab package](https://jupyterphysscilab

[2022-06-26 02:28] ClancyCC commented on #4158
Thank u sooooooo much! It works for me!!!!

[2022-06-26 22:39] vsoch commented on #6459
Heyo! So as promised - I did a writeup:

 - Twitter: https://twitter.com/vsoch/status/1541188213494099968
 - Link: https://vsoch.github.io/2022/ssh-tunnels/

For the simple use case (host to login node) I needed to add -T to disable asking for a pty, which in my case was aborting the request (note that the method you show does seem to work for some people).

[code]
But then the tricky part was get

[2022-06-27 14:55] ghirardinicola commented on #2396
Is the issue solved in newer versions or is it still there?

[2022-06-27 21:46] danizil commented on #1090
still nothing?

[2022-06-29 19:40] #1733 closed

[2022-06-29 20:27] RRosio commented on #1766
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-29 20:27] #1766 closed

[2022-06-29 22:21] RRosio commented on #1768
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-29 22:27] RRosio commented on #1771
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-29 22:27] #1771 closed

[2022-06-29 22:29] RRosio commented on #1772
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-29 22:29] #1772 closed

[2022-06-29 22:38] RRosio commented on #1775
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-29 22:38] #1775 closed

[2022-06-29 22:42] RRosio commented on #1788
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-29 22:42] #1788 closed

[2022-06-29 22:44] RRosio commented on #1790
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-29 22:44] #1790 closed

[2022-06-29 22:58] RRosio commented on #1813
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-29 22:58] #1813 closed

[2022-06-29 23:04] RRosio commented on #1817
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-29 23:04] #1817 closed

[2022-06-29 23:09] RRosio commented on #1818
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-29 23:09] #1818 closed

[2022-06-29 23:11] RRosio commented on #1819
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-29 23:11] #1819 closed

[2022-06-29 23:12] RRosio commented on #1824
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-29 23:12] #1824 closed

[2022-06-29 23:24] RRosio commented on #1841
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-29 23:24] #1841 closed

[2022-06-30 01:38] RRosio commented on #1843
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 01:38] #1843 closed

[2022-06-30 01:39] RRosio commented on #1849
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 01:39] #1849 closed

[2022-06-30 01:43] RRosio commented on #1853
Hello, I'm closing this issue as it has had no updates in the last 365 days and an answer was provided. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 01:43] #1853 closed

[2022-06-30 01:45] RRosio commented on #1893
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 01:45] #1893 closed

[2022-06-30 13:25] RRosio commented on #1932
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 13:26] #1937 closed

[2022-06-30 13:27] RRosio commented on #1946
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 13:27] #1946 closed

[2022-06-30 13:29] RRosio commented on #1962
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 13:29] #1962 closed

[2022-06-30 13:30] #1971 closed

[2022-06-30 14:08] RRosio commented on #1978
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 14:46] RRosio commented on #2013
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 14:46] #2013 closed

[2022-06-30 14:48] RRosio commented on #2021
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 14:48] #2021 closed

[2022-06-30 14:56] #2027 closed

[2022-06-30 14:59] #2029 closed

[2022-06-30 15:14] RRosio commented on #2043
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 15:14] #2043 closed

[2022-06-30 16:18] RRosio commented on #2056
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 16:18] #2056 closed

[2022-06-30 16:19] RRosio commented on #2062
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 16:27] #2064 closed

[2022-06-30 16:33] #2079 closed

[2022-06-30 16:34] #2081 closed

[2022-06-30 16:42] RRosio commented on #2117
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 16:42] #2117 closed

[2022-06-30 17:14] RRosio commented on #2123
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 17:16] RRosio commented on #2125
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 17:16] #2125 closed

[2022-06-30 17:20] RRosio commented on #2144
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 17:20] #2144 closed

[2022-06-30 17:22] RRosio commented on #2160
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 17:28] RRosio commented on #2179
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 17:28] #2179 closed

[2022-06-30 17:31] #2193 closed

[2022-06-30 17:33] RRosio commented on #2194
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 17:33] #2194 closed

[2022-06-30 17:43] RRosio commented on #1738
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 17:43] #1738 closed

[2022-06-30 20:28] krassowski commented on #6458
Is the file that you are attempting to rename in a hidden directory, or hidden itself?

[2022-06-30 21:29] jakobbrown opened #6462 "Jupyter stuck on one environment's executable"
So i went back to an old environment in anaconda i hadn't used in a couple months, and i get #4079 kernel error when starting up jupyter lab or notebook. I try the solution posted on that issue (pictured below and linked here: https://github.com/jupyter/notebook/issues/4079#issuecomment-429651480)

![image](https://user-images.githubusercontent.com/71882999/176779418-6b8e1f77-9fa5-49f4-8c4f-68715c

[2022-06-30 22:44] RRosio commented on #2197
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 22:44] #2197 closed

[2022-06-30 22:52] RRosio commented on #2217
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 22:52] #2217 closed

[2022-06-30 22:55] RRosio commented on #2218
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 22:55] #2218 closed

[2022-06-30 23:09] RRosio commented on #2237
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 23:09] #2237 closed

[2022-06-30 23:10] RRosio commented on #2241
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 23:10] #2241 closed

[2022-06-30 23:21] RRosio commented on #2506
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 23:21] #2506 closed

[2022-06-30 23:22] RRosio commented on #2504
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 23:22] #2504 closed

[2022-06-30 23:31] RRosio commented on #2269
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 23:31] #2269 closed

[2022-06-30 23:32] RRosio commented on #2275
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 23:32] #2275 closed

[2022-06-30 23:33] RRosio commented on #2276
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 23:33] #2276 closed

[2022-06-30 23:35] RRosio commented on #2288
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 23:35] #2288 closed

[2022-06-30 23:49] RRosio commented on #3162
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 23:49] #3162 closed

[2022-06-30 23:50] RRosio commented on #2317
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 23:50] #2317 closed

[2022-06-30 23:51] RRosio commented on #2322
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-06-30 23:51] #2322 closed

[2022-07-01 02:23] RRosio commented on #2303
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-01 02:23] #2303 closed

[2022-07-01 02:32] RRosio commented on #2296
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-01 03:30] RRosio commented on #2330
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-01 03:30] #2330 closed

[2022-07-01 03:42] RRosio commented on #2360
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-01 03:42] #2360 closed

[2022-07-01 03:42] RRosio commented on #2366
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-01 03:42] #2366 closed

[2022-07-01 03:45] RRosio commented on #2367
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-01 03:45] #2367 closed

[2022-07-01 04:10] Raghav-Bell commented on #6458
@krassowski  , No nothing is hidden . I created new file and tried to rename it and got this error.I think this is the error with new roll back because i renamed the file in other env (older version of Jupyter notebook)

[2022-07-01 04:23] Raghav-Bell commented on #6451
Use csv instead . What is the python version you are using in your env ? Unicode csv does not support all python versions .
check here :[doc](https://pypi.org/project/unicodecsv/)
check here : [stackoverflow](https://stackoverflow.com/questions/50363282/difference-between-unicodecsv-and-csv)

[2022-07-01 04:30] Raghav-Bell commented on #6438
can you give stdout of following code:
`jupyter  --version`
(run on anaconda prompt)
and Python version you are using.
Following are  some simple fixes:
1) Check if any notebook is running in background .Please shutdown all open notebooks.
2)Use Jupyter notebook locally rather than globally (internet may slow)
3)Reinstall jupyter notebook
4) Check for viruses

[2022-07-01 07:13] ggrrll commented on #2079
it's ok for me... up to the devs to set their priorities :) -- I guess this is not very high :)

[2022-07-01 09:41] jakobbrown commented on #6462
Further info:

I can run `python -m ipykernel install --user` on any of the environments i have and the problem will switch over to that environment. This appears to be changing the kernel.json at this path:

![image](https://user-images.githubusercontent.com/71882999/176868237-f8c08bde-aaec-45d6-a8f7-58a4b29eec1b.png)

rather than changing the kernel.jsons i was checking under each of my environm

[2022-07-01 18:39] krassowski commented on #6458
I could not reproduce on Linux. If you continue getting this error in the new environment, could you please provide a full path to the file that you are trying to rename and the new name you are trying to set? If the paths requires removal of potentially sensitive details, please confirm that the sanitised path is still sufficient to reproduce.

Could you also check if this is also reproducible wi

[2022-07-02 04:03] Raghav-Bell commented on #6458
Thanks @krassowski  it is working fine , now .

[2022-07-03 19:12] vobine commented on #6339
Thank you, @parthmahe, for suggesting a workaround.  I've used conda before in other contexts.

However, it's a workaround and not a fix.  Project Jupyter provides a snap package that does not work.  If it can't be made to work, shouldn't it be withdrawn?  As it stands, I'm sure I'm not the only one who's tripped over this.

[2022-07-07 12:53] slel commented on #2667
Does this still occur with current Jupyter Notebook? If not, please close.

[2022-07-07 20:40] RRosio commented on #1897
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-07 20:40] #1897 closed

[2022-07-08 23:08] robmak1968 opened #6467 "Jupyter lab ribbon buttons disappeared"
- Windows 11
- Browser MS Edge

The ribbon buttons and menu are not shown on my jupyter screen.  I have tried installing jupyter notebook again already.

[2022-07-11 02:14] junjis0203 commented on #6458
I reproduced this bug unfortunately on Mac.

arguments for rename_file:
  old_path: 'chap01/Untitled.ipynb'
  new_path: 'chap01/sample01.ipynb'

self.root_dir: '/Users/win/work'

In this case, is_hidden returns True! because is_hidden assumes **absolute** path, but passed **relative** path.

inside_root is '.ipynb' and startwith('.') returns True...
https://github.com/jupyter/notebook/blob/4ba07e1

[2022-07-12 21:36] dylanraws opened #6469 "Upgrade jQuery to 3.5.x for Notebook 5.x"
As reported in https://github.com/jupyter/notebook/issues/5489, jQuery versions below 3.5.0 have known security vulnerabilities. My organization provides customers with a managed compute environment with Jupyter Notebook 5.x installed. Our customers have the requirement that we update jQuery to resolve known CVEs. Long term, we will work with our customers to use newer major versions of Jupyter No

[2022-07-12 21:38] dylanramzn commented on #6469
Tagging @jweill-aws for visibility

[2022-07-12 22:12] rickwierenga opened #6470 "JUPYTER_CONFIG_PATH does not work."
**Describe the bug**

`JUPYTER_CONFIG_PATH` does not work.

**To Reproduce**

[code]

**Expected behavior**

The file should be loaded; `test` should be printed in the console.

**Desktop (please complete the following information):**

- OS: macOS 12.3.1
- Browser Safari 15.4, Chromium 105.0.5175.0 (Developer Build)

[2022-07-13 06:32] Saunak626 opened #6472 "Modify default sorting method"
When I restarted jupyter's kernel, the last modified sort I selected last time became sorted by name again. Is there a solution to change the default sorting to last modified after a kernel restart?
![image](https://user-images.githubusercontent.com/34276206/178666296-1fc8729b-b5f5-4d8c-a037-805ca108879f.png)

[2022-07-14 03:34] jinzhen-lin opened #6473 "Bug when renaming file (notebook 6.4.12)"
**Describe the bug**
In notebook 6.4.12，we cannot rename file sometimes.

**To Reproduce**
Steps to reproduce the behavior:

1. Install notebook 6.4.12
2. Start notebook with `root_dir="/home/foobar"`
3. Create a directory named `abc` (or any name with length `len(root_dir) - len("Untitled") - 1`)
4. Create a notebook with default filename 'Untitled.ipynb'
5. Rename the notebook to any other filen

[2022-07-19 09:40] brichet opened #6476 "Close icon is not displayed on new tab"
**Describe the bug**
The close icon do not appear when adding a new closable tab in the main area (`TabPanel`).

**To Reproduce**
Create an extension which add a new widget in the main area, something like :
[code]

**Expected behavior**
Have a close symbol on the tab, like :
![image](https://user-images.githubusercontent.com/32258950/179714259-6c3751c7-ac3b-4505-a80d-fd9af8f6b210.png)

**Screensh

[2022-07-20 08:41] #6476 closed

[2022-07-20 15:13] jweill-aws opened #6479 "Document major version support cycle"
The Jupyter Notebook team tends to accept patches for the two most recently released major versions of Notebook. As of 2022-07-20, that's Notebook 5 and Notebook 6. Modify the package documentation to make this policy explicit.

[2022-07-20 20:36] #6479 closed

[2022-07-20 22:14] Ali-Bakr16 commented on #6084
AttributeError: 'Token' object has no attribute 'test'
How fix this error that appear when run flask project

[2022-07-21 00:09] kevin-bates commented on #6084
Hi @Ali-Bakr16 - what version of Python are you using?  If 3.6, please use a supported version (3.7+) and try again.  Let us know your result.  As best as can be determined, this is not a notebook issue, but rather some upstream dependency issue.  See the link referenced two comments above this one.

[2022-07-21 10:17] hsevay commented on #1814
I prepare school exams for my university-level courses using NBGRADER.
I'd like to be able to identify a given Jupyter notebook via metadata, if possible, such that I can tell if a given file represents, say, Exam 03 or Homework 05.
If anyone could help, I'd very much appreciate it.

[2022-07-21 19:34] RRosio commented on #1814
Hi @hsevay, it is possible to add notebook metadata from the menubar! On the Jupyter Notebook you can select ‘Edit’ -> ‘Edit Notebook Metadata’ and update the JSON with your desired metadata as described. [This](https://jupyterbook.org/en/stable/content/metadata.html) is a slightly different example as it is done for JupyterBook but the process to edit the Notebook metadata is very similar. If you

[2022-07-22 00:11] Ali-Bakr16 commented on #6084
Hi @kevin-bates I downloaded python 3.10.5 and jinja2==3.0.0rc2 , The problem solved and app run correctly

[2022-07-22 14:09] kevin-bates commented on #6084
Since this appears to be related to the version of Python (and one that is no longer supported) and not notebook, I think we can close this issue.

[2022-07-22 14:09] #6084 closed

[2022-07-23 02:59] cailiang9 opened #6486 "feature request: add run buttons like ipynb extension for vscode"
<img width="804" alt="image" src="https://user-images.githubusercontent.com/3636844/180588081-ebc420ab-d430-4af7-aa28-5d35d082bee2.png">

[2022-07-25 22:51] RRosio commented on #2484
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-25 22:51] #2484 closed

[2022-07-25 23:07] RRosio commented on #2483
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-25 23:07] #2483 closed

[2022-07-25 23:11] RRosio commented on #2474
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-25 23:11] #2474 closed

[2022-07-26 14:36] RRosio commented on #2417
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed here. Thank you!

[2022-07-26 14:36] #2417 closed

[2022-07-26 17:11] callegar commented on #6191
As a workaround, because you are using html anyways, you can use base64 encoded images inline. This is extremely ugly when you expand the cell to edit it, but at least it works.

[2022-07-26 18:44] NikitaMasl commented on #2784
if someone still interesting in this problem solving. Try this in the cell before importing torch. Works for me.
[code]

[2022-07-27 06:08] ShidongPAN commented on #3311
Thanks, I encountered the same problem, and resolved by installing `nb_conda''. :)

[2022-07-27 07:57] sdzbft opened #6492 "jupyter notebook can's display completely, high priority! thx"
**Describe the bug**
jupyter notebook can's display completely

**Expected behavior**
display code completely

**Screenshots**
for example, the line-2 can't display competely
<img width="618" alt="image" src="https://user-images.githubusercontent.com/18287085/181193056-dbb89e59-6181-4b19-8fd8-600e54d36065.png">

**Desktop (please complete the following information):**

- OS: MacOS
- Browser chrome

[2022-07-28 15:08] GabrielOsuna commented on #6001
I just had the same error when copy-pasting cells, on Jupyter. Duplicating the nb worked for me and have not received the error message "Notebook validation failed: Non-unique cell id '########' detected. Corrected to '########'.: UNKNOWN" again. :)

[2022-07-28 18:56] RRosio commented on #2242
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-28 18:56] #2242 closed

[2022-07-28 19:44] RRosio commented on #2253
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-28 19:44] #2253 closed

[2022-07-28 20:09] RRosio commented on #2259
Hello, I'm closing this issue as it has had no updates in the last 365 days and recent versions of Notebook now display _(command mode)_. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-28 20:09] #2259 closed

[2022-07-28 20:13] RRosio commented on #2261
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-28 20:13] #2261 closed

[2022-07-28 20:30] RRosio commented on #2264
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-28 20:30] #2264 closed

[2022-07-28 20:49] RRosio commented on #2282
Hello, I'm closing this issue as it looks like the more recent versions of Notebook have indeed included colorized test output. However, please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-28 20:49] #2282 closed

[2022-07-28 20:51] RRosio commented on #2285
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-28 20:51] #2285 closed

[2022-07-28 21:02] RRosio commented on #2291
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-07-28 21:02] #2291 closed

[2022-07-30 20:40] danzimmerman commented on #5817
Would it be possible to make this more nuanced than testing on `ImportError` on Windows?

If I try to use Jupyter with a [ROS2](https://github.com/ros2/) installation on Windows (using [Robostack](https://robostack.github.io/) in a Conda environment) where I've built packages in a [colcon workspace](https://colcon.readthedocs.io/en/released/user/quick-start.html) I get this error.

It appears that

[2022-07-30 20:41] lonelygoatherd commented on #5817
您好，邮件已经收到。祝您工作顺利，生活愉快。    

[2022-07-31 20:32] ist199099 opened #6494 "6.x series is vulnerable to CVE-2019-10856"
**Describe the bug**
The 6.x series are vulnerable to CVE-2019-10856.

**To Reproduce**
Steps to reproduce the behavior:

1. Set up a notebook server.
2. Construct a link to exploit CVE-2019-10856 and open it in Chrome.
3. Enter a valid username and password and log in.

**Expected behavior**
The server should refuse to show the login page or to redirect to the malicious website.

[2022-08-01 06:06] Raphaelhpze commented on #2784
Thanks so much! It works for me !

[2022-08-01 10:33] user799595 opened #6495 "matplotlib rcParams not taking effect until after the first plot"
**Describe the bug**
matplotlib rcParams not taking effect until after the first plot. Apologies if this is not a jupyter notebook issue!

**To Reproduce**

I have the following Jupyter Notebook (in [percent format](https://jupytext.readthedocs.io/en/latest/formats.html))
[code]

It seems like `rcParams` has to be set after the first plot in order to work.

Using a fresh conda environment
[code]

[2022-08-02 13:03] jtpio opened #6500 "Update to JupyterLab 4.0.0a27"
Listing a couple of items to check when updating to the next JupyterLab 4.0 pre-release:

- [ ] Revert https://github.com/jupyter/notebook/pull/6499
- [ ] Check CodeMirror 6
- [ ] Add `lsp-extension`

[2022-08-02 17:11] bnavigator opened #6501 "Entry-point conflict between notebook <=6.5 and nbclassic"
nbclassic has the jupyter-nbextension, jupyter-bundlerextension and jupyter-serverextension entrypoints but notebook 6.5.x also still has them.

https://github.com/jupyter/notebook/blob/8794be872e5428b82dd57601da3a5e51dbab7c78/setup.py#L136-L143

https://github.com/jupyter/nbclassic/blob/82a5768f5f2dbbf405ced200a0b7bd66ca9f1468/setup.py#L133-L140

This means that one package replaces the files of

[2022-08-02 18:08] bnavigator commented on #6501
Even worse, jupyterlab <4 depends on both nbclassic and notebook <7: https://github.com/jupyterlab/jupyterlab/pull/12767

[2022-08-02 18:54] sethrj commented on #6435
@adamjstewart I see the same thing with my installation from July 12 :(
[code]

[2022-08-03 07:03] Kesanov commented on #641
This issue is my biggest pain with jupyter **by far**.
However, judging by the progress made since 2015,
it looks like this won't get _ever_ implemented
despite this being probably the most upvoted issue here -.-

Since it seems upvotes fail as means of motivation,
would it be possible to put a bounty on this issue
(where people could donate small amount of money
as easily as hitting the upvote bu

[2022-08-03 07:27] astrojuanlu commented on #641
The current status of this issue is a bit unclear to me. gh-12360 was merged, which in theory addressed it at least partially, but then there's also gh-12455, which "would probably need a complete rework of JupyterLab's architecture". Additionally, some videos were posted in the latest comments but as @Wh1isper points out, they were using Chrome Dev Tools and therefore are not representative.

Wou

[2022-08-03 07:32] davidbrochart commented on #641
- https://github.com/jupyterlab/jupyterlab/pull/12360 doesn't address this issue.
- https://github.com/jupyter-server/jupyverse/pull/191 is a step in that direction, but it's very experimental.

[2022-08-03 14:02] isalykke opened #6503 "Markdown rendering of double supscripts in .ipynb file differs from .md file on github"
**Describe the bug**
1. When I render a double subscript in an .md file (like here), it looks correct, like this:
Tab<sub>N<sub>2</sub>Ostald</sub>

2. When I do the same in a markdown block in an .ipynb file, it does not render correctly on github:
![image](https://user-images.githubusercontent.com/26977911/182625552-c8afc70e-a00c-4ea7-b7f4-3522e71e9bf2.png)
See the file here: https://github.com/

[2022-08-03 17:46] ktaletsk commented on #4916
It looks like the issue can now be solved by setting a new parameter in Jupyter Server: `FileContentsManager.always_delete_dir = True` (see [reference](https://jupyter-server.readthedocs.io/en/latest/other/full-config.html))

Following the @albertmichaelj's example, I used a latest jupyter/base-notebook image with the above parameter and was able to delete the non-empty folders

[code]

Deletion i

[2022-08-03 18:45] albertmichaelj commented on #4916
@ktaletsk is right, as long as you are using the Server backend, which I think people should be doing now. So, I'm going to go ahead and close this issue.

[2022-08-03 18:45] #4916 closed

[2022-08-04 08:24] perllaghu commented on #4916
Question: are notebooks still using `os.rename` to move the deleted contents to `~/.local/share/Trash/files/` ?

This solution if fine for most cases, however has a problem when one starts doing clever things with mounts... `os.rename` will not rename across file-system mounts (see https://stackoverflow.com/questions/26765130/how-can-i-move-files-between-mounts-using-python amongst others)

[2022-08-04 16:14] jtpio commented on #6295
Closing as the branch was renamed a couple of months ago already.

[2022-08-04 16:14] #6295 closed

[2022-08-04 17:55] jweill-aws commented on #6486
This will be available in Notebook 7.

[2022-08-04 22:33] pkenjora opened #6507 "Solve Invalid NoteBook Error In GitHub"
**Describe the bug**
Taking a notebook from Colab and saving it to GitHub results in an "Invalid Notebook" error.

The bug happens because the code blocks from Colab are missing "outputs':[] and "execution_count":null.

[code]
To fix add the missing fields to the colab source **for any code block only** not markdown:

[code]

**To Reproduce**
1. Create a notebook with a **code block** using Colab

[2022-08-05 01:55] jasongrout commented on #6507
This is a colab and GitHub issue, neither of which is in our control.

Cc'ing @blois who works on colab, though. There is a colab repo to report colab issues, or you can report to GitHub.

[2022-08-05 01:55] #6507 closed

[2022-08-05 04:27] chenjpu opened #6508 "Status Last Activity Automatic Refresh ?"
Close all client connections, both connections and kernels are 0, access /api/status found that the last_activity interval 15s update once

[2022-08-05 06:18] #6410 closed

[2022-08-05 06:37] jtpio commented on #6486
This was added in https://github.com/jupyter/notebook/pull/6418.

@cailiang9 if you want to try it out you can install the latest pre-release of Notebook 7 with `pip install --pre notebook`. We recommend creating a new environment first so it's not too disruptive to your existing Jupyter installation if you have one already.

[2022-08-05 07:02] echarles commented on #6501
@bnavigator nblcassic>=0.4 is a replacement to notebook-6.x, so both should not be installed at the same time. Do you have cases where you need both?

We were planning to fail nbclassic>=0.4 to start if notebook-6.x was found.

[2022-08-05 07:33] bnavigator commented on #6501
You may have planned that, but the reality is different:

- Despite your PR having a different title, the current release of jupyterlab requires nbclassic and notebook <7. nbclassic >= 0.4 and notebook 6.4 satisfies these constraints and get installed in a regular new install.
- In the 6.5 branch of notebook, there is even a requirement of nblassic >= 0.4 for the static assets.

[2022-08-05 07:44] echarles commented on #6501
This was an idea to clarify things and any feedback can change that.

Yes, the title of that PR does not reflect the discussions. @fcollonval Would you update the title of https://github.com/jupyterlab/jupyterlab/pull/12767

True, users install notebook 6.5 inherit from the nclassic>=0.4 static assets. However, the goal for those users is to launch notebook, not nbclassic, therefore my intution to

[2022-08-05 07:46] bnavigator commented on #6501
The entry-points do have the same name and get installed in `$prefix/bin`. Of course the do collide. One overrides the other, depending on install order.

[2022-08-05 07:49] bnavigator commented on #6501
Be aware that this is not a discussion about your future plans but about an existing problem of released packages.

[2022-08-05 07:54] echarles commented on #6501
OK I see now, 3 of the 4 entrypoints collide. Thx for raising that.

If a user installs notebook-6.5, the nbclassic dependency will be first installed, then the notebook 6.5 will override the entry points. I guess this is what the end-user at the end is willing.

If the user then uninstalls notebook, the entrypoints will be removed, the remaining nbclassic will loose 3 of the 4 entrypoints.

Do yo

[2022-08-05 07:58] echarles commented on #6501
For the jupyterlab case, this may be more tricky as it may depend on notebook and nbclassic. Should we revisit the jupyterlab dependency constraints?

[2022-08-05 08:08] echarles commented on #6501
notebook 6.5 is beta pre-release to gather this kind of inputs.

I have installed in a fresh env latest official jupyterlab 3.4.4, and notebook  6.4.12 as nbclassic 0.4.3 are pulled. The colliding entrypoints are installed with the nclassic variant. nbclassic 0.4 goal is to have parity with notebook 6.4, so my best bet would be to remove the notebook dependency from jupyterlab cc/ @jtpio @fcollonv

[2022-08-05 08:09] bnavigator commented on #6501
- You don't have control over the install order. A user could have nbclassic already installed and then decide to upgrade notebook from 6.4 to 6.5.
- Packaging systems like RPM, Debian,  Arch Linux, prohibit packages with conflicting files. There is no overriding where one package damages the integrity of another. I worked around this restriction in openSUSE by using update-alternatives, but you a

[2022-08-05 08:11] bnavigator commented on #6501
It is already a problem with notebook 6.4

[2022-08-05 08:16] echarles commented on #6501
Really sorry about that.

An really appreciated the time and feedback here.

That would work to remove the colliding issues. Underneath, the code path may be surprising, as the 3 colliding entrypoint are about activating extensions. I am pretty sure that would work as both code path (notebook-v6.5 and nbclassic) are compatible and delivering the same features. But they may read the configuration f

[2022-08-05 08:19] echarles commented on #6501
You mean in the jupyterlab scenario?

@jtpio @fcollonval Would it make sense to pin nbclassic<0.4 on jupyterlab side for now to ease the packagers work?

[2022-08-05 08:21] bnavigator commented on #6501
In any scenario where nbclassic and notebook is installed. The trigger could by jupyterlab or something else. There are people out there installing everything into system (distro packages) or user-sitelib.

[2022-08-05 08:24] jtpio commented on #6501
Isn't that already what was implemented in https://github.com/jupyterlab/jupyterlab/pull/12767?

Also JupyterLab 4.0 will not depend on `nbclassic`, only `notebook_shim`: https://github.com/jupyterlab/jupyterlab/pull/11894

[2022-08-05 08:26] echarles commented on #6501
The title is confusing and should be changed. What has finally been merged is https://github.com/jupyterlab/jupyterlab/pull/12767/files#diff-fa602a8a75dc9dcc92261bac5f533c2a85e34fcceaff63b3a3a81d9acde2fc52R40-R41

[2022-08-05 08:27] jtpio commented on #6501
Right this is because `nbclassic` itself used to have a pin on `notebook<7`.

[2022-08-05 08:34] echarles commented on #6501
A quick action would be to rename the nbclassic entrypoints to

[code]

But we loose the target to ensure portability between notebook-6 and nbclassic.

As said, the safer and making the most sense in terms of architecture, is to publish a npm package with the static assets. This would not solve the issue in case of a user manually installing notebook and nbclassic. In that case, documentation and

[2022-08-05 09:13] echarles commented on #6501
this maybe the easiest and most relevant option. We ensure portability of code (a notebook 6 extension will continue working on nbclassic without source code change), however, we already ask to launch with a different command : `jupyter nbclassic` instead of `jupyter notebook`. It would make sense to ask to change e.g. `jupyter serverextension` to `jupyter nbclassic-serverextension`.

[2022-08-05 14:35] albertmichaelj commented on #4916
@perllaghu I think that it is using the `send2trash` python module (relevant code is [here](https://github.com/jupyter-server/jupyter_server/blob/ba7ac85e39d615986055082d21ee0a69dff88339/jupyter_server/services/contents/filemanager.py#L511)). I'm not sure what exactly that is using (I'm not as familiar with that code base), but from a quick glance, there does seem to be certain situations under wh

[2022-08-05 14:39] albertmichaelj commented on #4916
Actually, it looks like this behavior may have been fixed in a pre-release beta of `send2trash` (relevant link is [here](https://github.com/arsenetar/send2trash/issues/26#issuecomment-903049694)).

[2022-08-05 15:19] blois commented on #6507
Can you share a notebook which does this? I'm unable to reproduce and this behavior is unexpected.

[2022-08-06 01:21] chenjpu commented on #6508
sorry，

[2022-08-06 01:21] #6508 closed

[2022-08-08 17:17] Zsailer commented on #6501
[I commented in nbclassic's PR already, but...](https://github.com/jupyter/nbclassic/pull/138)

What if notebook_shim owned these entry-points, and we removed the entrypoints from both nbclassic and notebook<7?

notebook_shim would attempt to load the underlying methods from nbclassic first, and fallback to notebook if not available.

[2022-08-08 18:18] Zsailer commented on #6501
I don't think this is true, since we hardcoded teh configuration name in nbclassic to `jupyter_notebook_config` in https://github.com/jupyter/nbclassic/pull/137

I agree with @bnavigator, we should just remove the entrypoint definitions from the notebook package, since we depend on nbclassic already. In environments where you already have the old entrypoints installed, they will be over-written wi

[2022-08-08 18:26] echarles commented on #6501
notebook 7 will depend on nbclassic, notebook 6 will not depend.

[2022-08-08 18:46] bnavigator commented on #6501
notebook 6.5 branch already depends on nbclassic

[2022-08-08 18:54] bnavigator commented on #6501
Depends on the distribution.

Dumb installers like pip do "last write wins". Proper packaging systems like rpm don't allow packages with conflicting files. If you have notebook 6.4 already installed and then want to install nbclassic which would install files that are already owned by the existing notebook package, the installer refuses to install nbclassic.

This is solvable by installing a new n

[2022-08-08 19:35] jtpio commented on #6500
The `4.0.0a27` release is out: https://github.com/jupyterlab/jupyterlab/releases/tag/v4.0.0a27

[2022-08-09 13:27] FICU-tensileai opened #6510 "+1 on the solution"
**How I solved my similar problem**

_Prerequisite:_
1) anaconda already installed
2) Spark already installed (https://spark.apache.org/downloads.html)
3) pyspark already installed (https://anaconda.org/conda-forge/pyspark)

_Steps I did_ (NOTE: set the folder path accordingly to your system)

1. set the following environment variables.
2. SPARK_HOME to 'C:\spark\spark-3.0.1-bin-hadoop2.7'
3. set

[2022-08-09 22:05] RRosio commented on #6492
Hi @sdzbft, I was not able to replicate this issue with similar setup, mostly the same package versions as well. Are there any errors in the Javascript console that you can share?

OS: MacOS
Browser: Chrome Version 103.0.5060.134 (Official Build) (arm64)
conda version : 4.12.0 (osx-64)

<details open>
<summary>Packages Installed</summary>
<pre>
# Name                    Version                   B

[2022-08-09 22:55] RRosio commented on #6492
I found some related issues that seem to suggest that this issue might have to do with a combination of factors, some things mentioned are: browsers, CodeMirror, screen resizing and plugging in peripherals. There are some suggested ideas to mitigate the issue but no definite fix since the issue hasn't been pinned down.

Related Issues:
https://github.com/jupyter/notebook/issues/1560
https://github

[2022-08-10 08:18] alibukharai opened #6512 "Bad address (bundled\zeromq\src\epoll.cpp:100) Jupyter error"
Hi, I am new to Jupiter notebook. I followed all the steps to install it. However, there were some errors. Does anyone help me with this thanks.
Below is the output of the anaconda prompt  and Jupiter notebook screenshot

![image](https://user-images.githubusercontent.com/60029742/183850595-306509d2-cef9-4b22-9c33-66679c7fc753.png)
![image](https://user-images.githubusercontent.com/60029742/183850

[2022-08-10 16:22] RRosio commented on #6512
Hi @alibukharai, I found [this comment](https://discourse.jupyter.org/t/unable-to-run-jupyter-notebook-after-update-localhost/10764/8
) in an earlier discussion in jupyter.org, which might be useful to you. It looks like the workaround was uninstalling pyzmq and reinstalling an older version, but if that's not possible or does not solve your issue, maybe you could also [double check the user site

[2022-08-10 17:10] RRosio commented on #6512
@MeeseeksDev please migrate to jupyterlab/jupyterlab

[2022-08-10 20:22] RRosio commented on #6510
Hi @FICU-tensileai, thank you for sharing your findings in relation to issue #743! People will be able to search and find this helpful information in the future!
As this is seems to be a solution to a problem related to the installation path of the Java JDK I think it would be best to tag this with `no action` and `environment`, then close this issue. Before I do close it, please feel free to let

[2022-08-11 15:34] ZohanStv commented on #3303
Thanks

[2022-08-11 17:58] krassowski commented on #6512
@meeseeksdev please migrate to jupyterlab/jupyterlab

[2022-08-11 18:28] RRosio commented on #6512
Thanks again for submitting this issue @alibukharai! As we couldn't get the bot to move it, I've cross-posted this issue in [jupyterlab](https://github.com/jupyterlab/jupyterlab/issues/12939). I'll be closing this issue in favor of the issue in jupyterlab, please feel free to provide any additional information that would be helpful in diagnosing the error there!

[2022-08-11 18:28] #6512 closed

[2022-08-12 17:04] Zsailer commented on #6501
New idea.

Here's a new library to "own" the entrypoints from notebook: https://github.com/Zsailer/jupyter_notebook_entrypoint.

This would require us to change notebook v6, v7, and nbclassic to remove their entrypoints and depend on this (lightweight) package for their entrypoints. This package will resolve the entrypoints based on the packages they have installed.

[2022-08-12 19:10] 12rambau commented on #6060
Just to add some details here, I'm facing the same problem but only with the macOS layout of the keyboard. On the windows machine I'm using at work `ctrl` + `/` work as expected.

looking at this [question on SO](https://stackoverflow.com/questions/29885371/how-do-i-block-comment-in-jupyter-notebook) it seems that the problem is related to every non EN mac layout.

[2022-08-14 10:34] Duks31 commented on #3644
Closing jupyter and renaming the notebook from explorer worked for me

[2022-08-15 07:49] eyildiz-ugoe commented on #4500
This solved the issue for me. Ubuntu 22.04, Anaconda env, Firefox browser.

[2022-08-15 18:11] iammaryam opened #6513 "A bug after restart notebook !"
**Describe the bug**
With all due respect to the makers of the beautiful Jupyter Notebook
I use the notebook for machine learning.
When I run a code like the following code:

![Screenshot_20220815_215610](https://user-images.githubusercontent.com/97895075/184686687-505caf04-6f7e-4f94-90b1-c6edc4cd297a.png)

According to the picture, a score is given to the model prediction. I use " np.random.seed(

[2022-08-16 08:18] nemusa commented on #2563
The problem with `which python` inside notebook not pointing to the same as `sys.executable` is caused by a difference in system paths. In order to make sure they are pointing to the same executable:
* make sure you are using the right python version and it's pip when creating the ipykernel - ensured by `python -m ...`
* set up paths for your ipykernel by passing `--env PATH=...`

For my setup wit

[2022-08-16 10:46] #6513 closed

[2022-08-16 20:31] RRosio commented on #2406
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-08-16 20:31] #2406 closed

[2022-08-16 20:37] RRosio commented on #2405
Hello, I'm closing this issue as it has had no updates in the last 365 days. Please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-08-16 20:37] #2405 closed

[2022-08-16 21:41] RRosio commented on #2393
Hello, I'm closing this issue as it has had no updates in the last 365 days. It looks like this issue may be resolved in the more recent versions but please feel free to reopen this issue if it still needs to be addressed. Thank you!

[2022-08-16 21:41] #2393 closed

[2022-08-17 15:30] RRosio commented on #6503
Hi @isalykke thanks for submitting this issue!
I downloaded the notebook you linked and opened it but I was not able to see the `</sub>` tag as text like this issue. I can see this issue at the link however, so my question is, do you see this issue locally when you run jupyter notebook from a standalone terminal outside VS code? If so, would you provide the version of Notebook that you are using?

[2022-08-17 16:37] #6501 closed

[2022-08-18 06:16] DevsidB commented on #4304
Best Method: Jupyter not opening in browser but opens in some other software (vscode, pdf viewer etc)
1. Search for any .html files in file explorer
2. Right click on the file > open with > set default to any browser
3. See your Jupyter open in the default browser when called from powershell.

[2022-08-18 22:17] kevin-bates commented on #5569
We discussed this in [today's Jupyter Server meeting](https://github.com/jupyter-server/team-compass/issues/15#issuecomment-1220022690) and felt this issue belonged in that repository to go along with the [corresponding pull request](https://github.com/jupyter-server/jupyter_server/pull/947).

[2022-08-18 22:18] kevin-bates commented on #5569
@meeseeksdev please migrate to jupyter-server/jupyter_server

[2022-08-18 22:18] #5569 closed

[2022-08-19 08:08] mosc9575 opened #6514 "Input field for numbers only accepts one nuber at a time in Jupyter Advanced Settings"
**Description**
When I try to modify the setting in the Edvanced Settings Editor using jupyterlab 3.3.0. I can only add one number at a time. After pressing any number, the settings are saved and the cursor moves to a different field.

**Expected behavior**
A expect that it is possible to add multipe numbers to an input field without activating this field multiple times.

**Screenshots**
![set_rul

[2022-08-19 11:56] isalykke commented on #6503
Hi @RRosio - thanks for helping out!
You are right, the issue _only_ occurs here on github - specifically in markdown blocks in .ipynb files
I have never run the notebook in a terminal, as I only use it for sharing with colleagues online as documentation...

[2022-08-19 14:47] bf commented on #5827
Did you fix this issue? I have the same problem @sebastian-molab

[2022-08-22 02:16] Ismaelgithu opened #6516 "Desarrollador en Python"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2022-08-22 02:17] #6516 closed

[2022-08-22 22:28] kliment-slice commented on #4115
If using a docker container, place the file (COPY) in `/root/.jupyter/custom/custom.js` prior to launching the notebook server.

[2022-08-22 22:29] kliment-slice commented on #4970
If using a docker container, place the file (COPY) in `/root/.jupyter/custom/custom.js` prior to launching the notebook server.

[2022-08-23 00:46] darthoctopus opened #6517 "Custom URI schemes are sanitised with rel=nofollow"
**Describe the bug**

I am trying to replace my current markdown-oriented note-taking workflow with inline markdown cells in Jupyter notebooks. Part of this workflow involves links to PDF files in Zotero, which are effected with a custom URI protocol. For example, the following link: [Ahlborn+ (2020)](zotero://open-pdf/0_VCI8KREJ/3) opens page 3 of a specific document in Zotero.

However, the abov

[2022-08-23 09:27] jtpio opened #6519 "Update UI tests snapshots for nbconvert 7"
nbconvert 7 adds new exporters which makes the UI tests fail as noticed in: https://github.com/jupyter/notebook/actions/runs/2910072295

![image](https://user-images.githubusercontent.com/591645/186123426-50a73def-e6d3-45a5-a528-671bf3acfa9b.png)

[2022-08-23 11:29] #6519 closed

[2022-08-23 12:44] GaspardBT opened #6521 "5.7.14 breaks installation of notebook extensions."
**Describe the bug**
The version 5.7.14 for python2breaks installation of notebook extensions. Running  `jupyter contrib nbextension install --user` fails with `TypeError: '_sre.SRE_Match' object has no attribute '__getitem__'`

**To Reproduce**
Steps to reproduce the behavior:

1. Create a venv:
[code]
2. Install jupyter:
[code]
3. Run `jupyter contrib nbextension install --user`

**Expected beha

[2022-08-24 09:11] scruel commented on #6512
It might be related to winsock2 unresolved issue on Windows (When you installed some VPN programs):
https://github.com/microsoft/WSL/issues/4177

You can execute NoLsp.exe with jupyter related EXE files to do the fix:
[code]

[2022-08-24 09:12] scruel commented on #6512
It might be related to winsock2 unresolved issue on Windows (When you installed some VPN programs):
https://github.com/microsoft/WSL/issues/4177

You can execute NoLsp.exe with jupyter related EXE files to do the fix:
[code]

[2022-08-24 18:11] jweill-aws opened #6524 "Notebook 5: Add console output to indicate end-of-life"
Notebook 5 will no longer be maintained after Notebook 7 is released. In the Notebook 5 branch, when the user launches Notebook from a terminal, add console output to urge the user to upgrade to version 6 or later.

We discussed this at the 2022-08-24 Notebook meeting.

[2022-08-24 21:07] RRosio commented on #6521
Hi @GaspardBT thank you for submitting this issue and sharing your findings, your suggested changes were applied in the latest release of Notebook 5!

[2022-08-24 21:15] RRosio commented on #6503
It seems like maybe this issue is tied to the mechanism that Github uses to render Jupyter notebooks. Maybe it's an issue best [reported](https://support.github.com/contact/bug-report) to them? I also tried pasting the notebook link in [nbviewer website]( https://nbviewer.org/) ([nbviewer repo](https://github.com/jupyter/nbviewer)) and I can see that the issue is present there as well. I'm not ent

[2022-08-25 09:26] isalykke commented on #6503
Alright thanks @RRosio, I'll try reporting it in those two places :)

[2022-08-25 13:00] kingcent commented on #2784
that works for me. thank you

[2022-08-25 17:30] jweill-aws commented on #6514
@meeseeksdev migrate to jupyterlab/jupyterlab

[2022-08-25 17:37] RRosio commented on #6514
Hi @mosc9575 this issue was fixed in jupyterlab with this PR: https://github.com/jupyterlab/jupyterlab/pull/12470. If you have some follow-up questions please feel free to open up jupyterlab issues in the jupyterlab repo. Thank you!

[2022-08-25 17:37] #6514 closed

[2022-08-25 17:45] RRosio commented on #6517
Hi @darthoctopus since Notebook 6 uses the Jupyterlab sanitizer, a fix in Jupyterlab as suggested here https://github.com/jupyterlab/jupyterlab/issues/7384#issuecomment-1192816765 would solve this issue for Notebook as well.

[2022-08-25 18:23] RRosio commented on #6510
Closing this issue as previously mentioned, please feel free to re-open if there needed! Thank you!

[2022-08-25 18:23] #6510 closed

[2022-08-26 15:14] RRosio commented on #6521
I'll close this issue as resolved with the merged PR #6522. Thank you!

[2022-08-26 15:14] #6521 closed

[2022-08-26 16:15] braceletboy commented on #6473
I faced this same error too. Can someone fix this?

[2022-08-29 01:31] bentaculum opened #6526 "Next cell does not execute after an exception is thrown"
**Describe the bug**

When using the pyqt gui via `%gui qt`, the cell that I execute after after an exception is thrown is not run.

**To Reproduce**

Run
[code]
in a cell.
After that, the first cell I want to run e.g.
[code]
does not execute. The second cell I run executes as normal.

**Screenshots**

<img width="1143" alt="Screen Shot 2022-08-28 at 21 21 03" src="https://user-images.githubuserco

[2022-08-30 07:59] ivis-akaike commented on #6267
Excuse me for cutting in,  I have the same issue.

I use Jupyter.
The Environmental is below.

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/81957555/187367923-5fc522f4-1c11-44ba-8e3a-70691d2039e7.png)

and tried the test that is written in [here](https://github.com/jupyter/nbclassic/issues/89) (https://github.com/jupyter/nbclassic/issues/89)

![MicrosoftTeams-image (2)](ht

[2022-08-31 08:19] Line290 commented on #4969
Same problem

[2022-09-01 04:19] Davidy22 opened #6531 "AttributeError: module 'mistune' has no attribute 'BlockGrammar'"
**Describe the bug**
There is an error, "AttributeError: module 'mistune' has no attribute 'BlockGrammar'", caused by the mistune library changing their whole structure and the intermediate dependency m2r not being updated or pinning deps. There is a library [m2r2](https://github.com/CrossNox/m2r2) that aims to be maintained and fix that issue because m2r appears to be unresponsive, and switching

[2022-09-01 17:47] RRosio commented on #6531
Hi @Davidy22 thank you for submitting this issue. We found [this issue](https://github.com/jupyter/nbconvert/issues/1787) in nbconvert that seems to be related. It seems like in nbconvert version 7.0.0 this may be fixed, but I'm tagging @blink1073 in case Steve can provide more information.

[2022-09-01 17:59] RRosio commented on #6526
Hi @bentaculum we were able to reproduce this without the qt gui but not in the ipython terminal. Thank you for submitting this issue! Would you be able to provide a recording of the steps you take to reproduce this issue?

[2022-09-01 18:22] blink1073 commented on #6531
I believe this is related to https://github.com/sphinx-contrib/openapi/issues/123.  We don't use `mr2` directly in any Jupyter libraries as far as I know, but if it is pulled in by a dependency, then you need to add `mistune<1` to your requirements file, or manually install that version.

[2022-09-02 06:51] bibhabasumohapatra commented on #6321
depends on the work you are doing,
if you have multiple GPU . . . check it with `! nvidia-smi`
If you are implementing PyTorch : I would suggest looking into https://pytorch.org/docs/stable/generated/torch.nn.parallel.DistributedDataParallel.html
Hope this helps!!!

Prerequisites : check the Cuda package, and if the installation of PyTorch, Tensorflow or others has Cuda version support.

[2022-09-02 07:27] jtpio opened #6532 "No mouse pointer when hovering on the Jupyter icon"
With the latest 7.0 pre-release hovering on the Jupyter icon in the top area does not show the mouse pointer:

![image](https://user-images.githubusercontent.com/591645/188081580-4759821a-c07d-45be-b3aa-069dc555c160.png)

https://user-images.githubusercontent.com/591645/188081975-b57caccb-005a-4311-b7f1-b3c4522f291b.mp4

I think it used to be, so probably a regression that happened at some point.

[2022-09-02 15:19] grisaitis commented on #6531
I'm experiencing this with nbconvert 7.0.0 :/

[code]

[2022-09-02 16:13] Jaisingh-Chauhan commented on #6451
You should install it (from the command prompt) using:
conda install unicodecsv
OR
pip install unicodecsv

[2022-09-02 19:03] schlanghorvetz opened #6534 "Bad config encountered during initialization: The 'port' trait of a NotebookApp instance expected an int, not the str '12151-12250'"
Please find my detailed question is here

https://stackoverflow.com/questions/73582091/bad-config-encountered-during-initialization-the-port-trait-of-a-notebookapp

Feel free to help me here or there!

Thanks,

[2022-09-03 13:33] bentaculum commented on #6526
I confirm, this issue does not occur in the ipython terminal for me either, only in the jupyter notebook. I have used the [jupyter lab test environment](https://jupyterlab.readthedocs.io/en/stable/getting_started/issue.html) to produce this error in the jupyter notebook.

[2022-09-03 19:04] dhbsbdhdhd commented on #6532
Hey! I am a first time contributor.I would like this issue to be my first contribution. Can you guide me more about the issue so that I can work on it?

[2022-09-04 13:44] Davidy22 commented on #6531
Yeah, it's an intermediate dependency. I was already able to get opening notebooks to work by downgrading mistune but there'll probably be other people impacted by the cascading dependency issues flowing from m2r. Actually, I can grab the stack trace when mistune is the latest version:

[code]

I don't remember why I pointed the finger at m2r, but it seems like the last offending dependency before

[2022-09-04 14:22] blink1073 commented on #6531
Pinning mistune will work in all cases, but the issue in nbconvert has already been fixed through the 7.0 release.  https://github.com/jupyter/nbconvert/issues/1842

[2022-09-05 03:48] Davidy22 commented on #6531
Oh, I guess that makes this issue moot then. How'd my pip jupyter install give me nbconvert 6.5? Well, shouldn't be an issue going forward for new installs then I think.

[2022-09-05 03:48] #6531 closed

[2022-09-05 09:00] tmikus commented on #6254
Just to confirm, jQuery UI <1.13.2 has two known vulnerabilities:
- https://github.com/advisories/GHSA-h6gj-6jjq-h8g9
- https://github.com/advisories/GHSA-j7qv-pgf6-hvh4

[2022-09-05 18:26] empet opened #6536 "Invalid signature error"
Two weeks ago a reinstalled miniconda3, jupyter notebook and then Julia 1.7.3. Everything worked fine, but today, suddenly when I selected the Julia kernel  and tried to run a few cells the following error was displayed:
[code]
![Server-info](https://user-images.githubusercontent.com/3627253/188500177-7a56e303-b831-47bf-b163-9fcb2aee86e1.PNG)

 Please give an advice how to fix it.

[2022-09-06 08:43] elizavetasemenova commented on #2784
@NikitaMasl your solution works, thank you!

[2022-09-06 10:06] afshin opened #6538 "Update Notebook 7 to Lumino 2"

[2022-09-07 02:08] zhongxiang117 commented on #4871
Just a few comments: since `notebook` works like a third party package for `python`, thus any `pth`s defined in `sys.path` should be the valid path that `python` is looking for, so, to find **absolute path Jupyter is looking in**, you only need to execute python and printout their values, looking for the folder named by `notebook`.

[2022-09-07 06:42] laowantong commented on #4158
Under macOS 12.5.1 / Chrome 105.0, I needed to combine three of the above workarounds:

1. Under Chrome Preferences, put English on top.
2. Under Chrome Preferences, suppress my local language.
3. Under terminal, language voodoo before launching the command.

I defined a shortcut `juno` in my `.bash_profile`:

[code]

[2022-09-08 05:54] Felipe15-R commented on #5645
2 años, y nadie de GitHub te respondió ? tengo el mismo problema ahora, cual es la solución?

[2022-09-08 17:17] RRosio commented on #6536
Hi @empet, we are not sure if this is maybe an issue with Jupyter Notebook or the Julia kernel. If you open this notebook with JupyterLab maybe, do you have this same issue? If you could provide a code snippet of what causes this issue that would be helpful. Thank you!

[2022-09-08 17:27] RRosio commented on #6534
Hi @schlanghorvetz this looks like an environment issue, maybe reaching out to the person who set the port number or trying to start a new environment. There is also `jupyter --paths` that you can check to see where other configurations may be set. It could be coming from a JUPYTER_PORT environment variable. Other people have fixed configuration issues in the comments of issue #274 as well.

[2022-09-08 17:44] williamstein commented on #1999
Of related interest, I recently implemented a Jupyter whiteboard for CoCalc:  https://doc.cocalc.com/whiteboard.html

It's a basic whiteboard and there's a Jupyter button off to the left that you can click on to create a new Jupyter code cell.  The result is that you get a whiteboard with Jupyter code cells in it, which is kind of fun to use as an alternative UI to Jupyter notebooks.  This is sort

[2022-09-08 18:38] empet commented on #6536
Hi @RRosio,
This was the code generating the above error:
[code]
It is an answer for a Julia discourse question. It was written in a single cell.
Now running it again, and moving the line:
[code]
to the upper cell, it worked.

[2022-09-08 19:50] bouzidanas commented on #2604
Ive implemented a personal solution for points 2 & 3 and since point 3 relates more so to nbconvert and the issue is still open there as well, Ive submitted it to nbconvert (https://github.com/jupyter/nbconvert/pull/1861#issue-1365317287).

For point 1, I suggest something similar to how tags are handled except perhaps limit the data attributes to what the installed version of reveal.js supports.

[2022-09-10 13:57] MuhammadNoorani commented on #6532
Is this issue open,
I would like to contribute to it, would love to collaborate and solve this issue. So, can I go ahead

[2022-09-10 18:06] raghulkrishna commented on #5447
any movement on this!?

[2022-09-11 00:02] gomeje commented on #3882
Actually, it is kind of curious, but this is happening to me as well. It is happening in my personal computer using Linux Ubuntu 22.4 .

[2022-09-11 14:15] xuhuizhou-vt commented on #6458
Hi, how did you solve the problem? I also have this bug on my mac.

[2022-09-11 17:29] krassowski commented on #6458
Yes, this all confirms what I suspected; two options:
- contribute by applying https://github.com/jupyter-server/jupyter_server/pull/886 to notebook v6.5
- use nbclassic which is notebook frontend running on jupyter-server.

[2022-09-11 18:25] jaivanti commented on #6402
Hi! Can I try this one?

[2022-09-11 20:19] xuhuizhou-vt commented on #6458
Thanks. I installed Jupyterlab in my environment and now it works.

[2022-09-12 11:59] pyh-129 commented on #6473
Me too!

[2022-09-12 13:46] jedbrown commented on #6267
This fixes the analogous issue for nbclassic. https://github.com/jupyter/nbclassic/pull/148

[2022-09-13 18:52] ericspod commented on #6267
I'm getting the same issue but downgrading `notebook` to 6.3.0 hasn't helped. I tried replicating @ivis-akaike 's environment and I get instead an internal issue with jinja (`ImportError: cannot import name 'contextfilter' from 'jinja2'`).

[2022-09-14 02:25] AaronB3110 commented on #6532
Hello! I am a beginner contributor and I would love to contribute to this issue if it has not been worked on.
I would love guidance through it and work on it.

[2022-09-14 02:35] ivis-akaike commented on #6267
I tried nbclassic's update, but it does not work for my environment.

![image](https://user-images.githubusercontent.com/81957555/190041145-64e447c5-d202-47b1-9abb-ce4fc824263c.png)

so, I check image's path.「edit」 is still  added to URL.

https://github.com/jupyter/nbclassic/pull/148
other command is needed to reflect this pull request?

@ericspod
my emviroment with notebook 6.3.0 looks like work

[2022-09-14 08:49] YXW249 commented on #6473
Same error. I have to rename it in the file folder after I close the jupyter notebook.

[2022-09-14 10:23] Wh1isper commented on #641
I found a discussion here that in this [issue](https://github.com/jupyter/notebook/issues/1647#issuecomment-377166130), the cache of the notebook does not work because the browser loses the previous msg_id after refreshing, so I propose here that jupyterlab should store the `msg_id` in ipynb to ensure message recovery after refreshing

here is my issue https://github.com/jupyterlab/jupyterlab/issu

[2022-09-15 04:48] sagnik1511 commented on #3278
Thanks, It worked!!!

[2022-09-15 13:42] xuhuizhou-vt commented on #6458
Yes. It works for me.

zape ***@***.***>于2022年9月15日 周四上午9:40写道：

[2022-09-15 15:37] tbarbette opened #6541 "nbconvert to slides does not work with matplotlib svg"
**Describe the bug**
Exporting a matplotlib plot in SVG in slides (with jupyter nbconvert) does not work.

**To Reproduce**
The minimal ipynb:
[code]
jupyter nbconvert md1.ipynb --execute --to slides

**Expected behavior**
The graph renders in jupyter, and the graph should also be  visible in the html slides.

**Screenshots**
![image](https://user-images.githubusercontent.com/248961/190445792-871d

[2022-09-15 17:36] RRosio commented on #6534
Hi @schlanghorvetz! Just following up on this issue, are there any updates to share?

[2022-09-15 17:38] RRosio commented on #6536
Hi @empet, thank you for sharing, I'm glad you were able to solve it. I will close this issue as it seems this was not a Notebook issue. Please open another one if you have any other issues.

[2022-09-15 17:38] #6536 closed

[2022-09-15 17:42] RRosio commented on #6541
Hi @tbarbette, thank you for submitting this issue! We'll track this in the nbconvert issue https://github.com/jupyter/nbconvert/issues/1863

[2022-09-15 17:42] #6541 closed

[2022-09-15 19:00] tbarbette commented on #6541
Ah sorry for the duplicate !

[2022-09-18 11:05] harsh788 commented on #6532
Hello there! I am new to the open source world and would like to contribute to some real-world projects. If this issue is not resolved yet, can I be assigned to it?

[2022-09-18 13:41] player999 commented on #6473
The same.

[2022-09-19 01:22] devimprevia opened #6542 "Mac´s window freeze using gym on Jupyter"
**Describe the bug**
When using `frame = env.render(mode='rgb_array')` in Jupyter on my Mac, a window pops-up with the result (animation of Lunar Lander, for example) and then it freezes. The only way I can close it is by restarting Kernel.
This happened on a Mac where I installed different versions of gym, and by chance I happened to buy a new Mac some days ago. The first thing I did was installi

[2022-09-19 19:08] g33kex commented on #3121
Is there any news on this? Autoreload is still missing after 5 years.

[2022-09-21 01:32] asifahmed1997bd commented on #5149
Same issue . Is there any apecific solution for this problem

[2022-09-22 17:39] RRosio commented on #6542
Hi @devimprevia, thank you for submitting this issue. Would you please provide the version of Notebook that you are using? If you could please provide a full code cell that would reproduce this issue. If possible as well, could you try this in JupyterLab and see if you encounter this issue. It would be great if we could identify if this is a Notebook issue, a Gym issue or something else. Thank you

[2022-09-22 17:41] RRosio commented on #6534
Please feel free to reopen this if new information comes up!

[2022-09-22 17:41] #6534 closed

[2022-09-24 05:05] Raghav-Bell commented on #6458
Hi! @xuhuizhou-vt  please check [discourse](https://discourse.jupyter.org/t/rename-failed-os-path-is-not-defined/14687/5).

[2022-09-24 09:24] sbushmanov commented on #6473
Please resolve the bug

[2022-09-25 05:00] tommedema commented on #1090
Unfortunately that extension doesn't work with Jupyter Lab

[2022-09-25 19:19] ajjayymahato commented on #6402
Hi there! I would like to work on this issue. Can you please assign this issue to me!

[2022-09-25 19:21] ajjayymahato commented on #970
Hi there! I would like to work on this issue. Can you please assign this issue to me?

[2022-09-26 07:34] jtpio commented on #6532
@AaronB3110 @harsh788 @MuhammadNoorani yes the issue is still open, feel free to work on it and open a PR, thanks!

[2022-09-26 11:44] liuguanfu1120 commented on #6458
I reproduced this bug by the following steps:
1. Create a file notebook1.ipynb and save it.
2. Rename notebook1.ipynb to notebook2.ipynb
3. Create a new jupyter notebook file, and try to rename it as notebook1.ipynb

I fix this bug by the following steps:
1. change directory to the .ipynb_checkpoints folder
2. Delete the notebook2-checkpoint.ipynb

I think this is not a "bug":
1. The notebook2-che

[2022-09-26 16:19] 21pravi commented on #6538
Hello there! I am new to the open source world and would like to contribute to some real-world projects. If this issue is not resolved yet, can I be assigned to it?

[2022-09-26 17:36] ranjan2829 commented on #6492
ok

[2022-09-26 17:41] jtpio commented on #970
Adding this issue to the [7.0](https://github.com/jupyter/notebook/milestone/45) milestone.

Since Notebook 7 is based on JupyterLab components, it includes a button to terminate all terminals and kernels at once like in JupyterLab:

![image](https://user-images.githubusercontent.com/591645/192344304-4e8b6565-f00f-44a6-a65e-a4a8f1316b1b.png)

Leaving this issue open until Notebook 7 final is relea

[2022-09-27 07:34] jtpio opened #6547 "Remove `nbclassic` explicit uninstall on Binder"
https://github.com/jupyter/notebook/pull/6505 explicitly uninstalls `nbclassic` on Binder as it would otherwise shadow the Notebook 7 endpoint:

https://github.com/jupyter/notebook/blob/73646334817ffaf3dd6adde7a746a2cc2ff1f9cf/binder/postBuild#L6-L8

We should try removing this when a new release of `nbclassic` is out with this fix: https://github.com/jupyter/nbclassic/pull/141

[2022-09-28 12:25] martinal commented on #5478
I got this same error on a fresh jupyter notebook install:

[code]

[2022-09-28 12:26] martinal commented on #5478
[code]

[2022-09-28 17:17] jtpio commented on #6500
Two more releases to check for downstream changes:

- https://github.com/jupyterlab/jupyterlab/releases/tag/v4.0.0a28
- https://github.com/jupyterlab/jupyterlab/releases/tag/v4.0.0a29

[2022-09-29 10:37] UriZY commented on #5079
I have met similar problem recently, everytime I try to print something, the console shows error message.
Then I find it's caused by the Variable Inspector extension in Nbextensions
Maybe you can check what extension THIS refers to
at html_table (:8888/nbextensions)/v...=20191120195430)

I guess it's the Variable Inspector

[2022-09-29 13:08] Grimoors commented on #6532
Hi! This looks like a good first issue. I am new to open source and want to try to contribute to this. May I try to work on this issue as well? (@jtpio )

[2022-09-29 13:09] Grimoors commented on #396
Hi! This looks like a good first issue. I am new to open source and want to try to contribute to this. May I try to work on this issue?

[2022-09-29 13:40] jtpio commented on #6532
Sure, whoever wants to work on this please feel free to open a PR, thanks!

[2022-09-29 15:07] kostyafarber commented on #6524
Hi I'd like to contribute. Any tips on where to get started with this?

[2022-09-29 17:55] RRosio commented on #6542
Hi @devimprevia, just wanted to follow-up with you and see if there are any updates that you could provide? Thanks!

[2022-09-29 22:49] rickwierenga commented on #3170
Has anyone built this yet?

[2022-10-01 15:21] eBuxie24 commented on #2308
I am notebook 6.4.8 and I too is experiencing this problem.

[2022-10-03 11:55] #6532 closed

[2022-10-03 14:39] #6500 closed

[2022-10-03 14:39] #6538 closed

[2022-10-04 03:15] pai-djmoon commented on #6458
I faced the same issue and solved it through change the folder name first.

Actually, it seems like the error is raised if the folder name is 'notebooks' or includes it any way, though it's a sheer guess.
To summarise, I faced the issue when the folder containing the notebooks file to rename has a name 'notebooks', and made another folder with another name, and it was solved directly.

[2022-10-04 07:27] jtpio opened #6552 "Improve the About dialog"
The look of the current "About" dialog could be improved:

![image](https://user-images.githubusercontent.com/591645/193758807-639a9464-880b-4947-be4a-c9b1bc166c89.png)

As a comparison this is what the about dialog in JupyterLab looks like:

![image](https://user-images.githubusercontent.com/591645/193759193-3dd12c0f-ea9b-46c6-9f77-fece0e5bbbfc.png)

Maybe the notebook dialog could be aligned to

[2022-10-04 07:29] jtpio commented on #6552
This is where the About dialog is created:

https://github.com/jupyter/notebook/blob/e8e0f8f32172ab834ce9005277c32ad04fadf8cd/packages/help-extension/src/index.tsx#L119-L161

[2022-10-04 07:40] jtpio commented on #3335
Closing as the `main` branch of the repo is now using jest and Playwright for testing.

[2022-10-04 07:40] #3335 closed

[2022-10-04 07:48] jtpio commented on #1238
The search replace feature from JupyterLab will be available in the next Notebook 7 major release:

https://user-images.githubusercontent.com/591645/193763736-318566c6-19f6-4c72-a0ba-8940e3f5d205.mp4

There is also a third-party `search-replace` extension for JupyterLab which should be compatible with Notebook 7 as well: https://github.com/jupyterlab-contrib/search-replace

[2022-10-04 09:23] krassowski commented on #6552
The Notebook v6 About dialog was even more informative:

![Screenshot from 2022-10-04 10-20-01](https://user-images.githubusercontent.com/5832902/193783359-0b3ce353-de42-4558-ab23-dade5e94ad2e.png)

In particular, showing jupyter-server version (and maybe also the Python version it is running on) might be worth considering.

I think I remember that the kernel info was a separate menu item in Jupyt

[2022-10-05 08:15] jtpio commented on #5675
Closing as this indeed sounds more related to the kernel behavior.

[2022-10-05 08:15] #5675 closed

[2022-10-05 10:37] kostyafarber commented on #6524
@jweill-aws

[2022-10-05 12:11] davinderpalrehal commented on #6552
Is someone working on this issue? If not I would like to have a crack at it.

[2022-10-05 12:46] jtpio commented on #6524
@kostyafarber probably we good first step would be to start from the `5.x` branch of the repo and add a warning somewhere during the application startup:

https://github.com/jupyter/notebook/blob/5.7.x/notebook/notebookapp.py

For example with `self.log.warning()`.

[2022-10-05 13:53] kostyafarber commented on #6524
Ah okay. Thanks for the guidance, I'll work on it.

[2022-10-05 21:22] jtpio opened #6553 "Toolbar is often empty when opening a Notebook"
Sometimes the notebook toolbar moves most of the items in the toolbar popup, leaving only the popup opener visible.

This is one of the causes for the flaky UI tests ([example run](https://github.com/jupyter/notebook/actions/runs/3192850297)):

https://user-images.githubusercontent.com/591645/194165361-234a2c8e-f9e6-40d3-b098-0376cd87d91d.mp4

But this sometimes also happens when opening a noteboo

[2022-10-06 07:23] kostyafarber commented on #6524
@jtpio @jweill-aws Any suggestions on the content of the warning? I was thinking something along the lines of `Notebook version 5 is no longer being maintained. Please upgrade to version 6 or later.`

Also:
- at what point in the startup do we want this msg to appear? (I've initially put it here)

![Screen Shot 2022-10-06 at 08 22 19](https://user-images.githubusercontent.com/73378227/194243106-2f

[2022-10-06 07:41] jtpio commented on #6524
Thanks for sharing the screenshot, this looks good :+1:

Probably it would be fine to only target one branch. The latest `5.x` release is `5.7.15` as of today. This could go in a `5.8` final release for example.

cc @RRosio for awareness

[2022-10-06 07:47] kostyafarber commented on #6524
Thanks for the quick reply. Will work on it and submit PR.

[2022-10-06 12:56] jtpio opened #6555 "Align the RTC user menu dropdown in the top area"
A user menu dropdown is automatically added to the top area of the notebook when RTC is enabled:

![image](https://user-images.githubusercontent.com/591645/194317779-41ab5aff-0ead-4efe-babb-13adb876a835.png)

This menu is currently a bit off and should be aligned vertically so it's more visually pleasing.

[2022-10-06 13:37] #6326 closed

[2022-10-06 13:37] #6403 closed

[2022-10-06 13:37] #6405 closed

[2022-10-06 13:38] jtpio commented on #6553
This looks like a real issue / race condition.

Part of the fix should include the removal of this workaround in the UI tests added in https://github.com/jupyter/notebook/pull/6487:

https://github.com/jupyter/notebook/blob/62c0fa84d2ea58afd5227b9c5cbc0657be243940/ui-tests/test/mobile.spec.ts#L21-L23

and:

https://github.com/jupyter/notebook/blob/62c0fa84d2ea58afd5227b9c5cbc0657be243940/ui-tests/

[2022-10-06 13:42] jtpio opened #6556 "Hide the debugger button on mobile"
https://github.com/jupyter/notebook/pull/6487 added the debugger extension by default.

This shows the debugger button in the notebook toolbar:

![image](https://user-images.githubusercontent.com/591645/194328218-9512ed44-0ca1-4269-9e4e-5ddb6b39d712.png)

However on mobile it might not make sense to support debugging since the viewport is usually much smaller:

![image](https://user-images.githubu

[2022-10-06 15:24] jtpio opened #6557 "Side panel follow-ups"
Opening a new issue to keep track of a few items as a follow-up to https://github.com/jupyter/notebook/pull/6487

- [ ] do a pass on the shell to keep its API surface as small as possible (if possible)
- [ ] reorganize some of the sidebar components as suggested by @brichet in https://github.com/jupyter/notebook/pull/6487#issuecomment-1268511141:

[2022-10-06 17:37] RRosio commented on #6542
Hey @devimprevia, thanks again for submitting this issue! At this moment I will be closing this issue, but please feel free to reopen it if the issue persists and there is more information you'd like to provide!

[2022-10-06 17:37] #6542 closed

[2022-10-06 19:06] stephenisau commented on #6555
I can take a look at this ticket over the weekend if no one's claimed it yet.

[2022-10-07 12:00] jtpio opened #6558 "Update to JupyterLab `4.0.0a30`"
`4.0.0a30` will be the next JupyterLab pre-release. Opening this issue to track what updates need to happen in the notebook repo:

- [ ] Remove CSS fixes:

https://github.com/jupyter/notebook/blob/62c0fa84d2ea58afd5227b9c5cbc0657be243940/packages/notebook-extension/style/base.css#L139-L140

https://github.com/jupyter/notebook/blob/62c0fa84d2ea58afd5227b9c5cbc0657be243940/packages/notebook-extensio

[2022-10-07 14:57] vdrhtc commented on #6526
Confirming, too, observed on multiple computers. Occurs when %matplotlib qt is loaded.

[2022-10-07 20:20] kulsoomzahra opened #6559 "Running Panel sections not accessible at browser zoom"
This issue was discovered during browser zoom audits.

## Context
When Kernels section is expanded, it's hard to access other sections (like Language Server and Terminal) of the Running Panel.

![Screencast-from-Saturday-08-October-2022-12_23_18-IST](https://user-images.githubusercontent.com/46336830/194634263-465f18a7-2553-4874-b749-a5798144d98c.gif)

**Expected behavior**
Our goal is to be able

[2022-10-07 20:37] kulsoomzahra commented on #6559
Hey! @jtpio
Are you aware of any plans to upstream the expand/collapse functionality of the Running Panel sections to JupyterLab?
 I'm asking in an attempt to resolve an [accessibility issue](https://github.com/Quansight-Labs/jupyterlab-accessible-themes/issues/37) in JupyterLab. Thanks!

[2022-10-08 16:01] LinyiGuo96 opened #6560 "Jupyter Notebook is getting stuck after upgrading to WIN11"
Hi Jupyter Notebook Support Team,

I found my jupyter is getting stuck while inputting recently, while the run time is still very quick.

The main changes of my environment include:

- Win10 to Win11
- Reinstall the Anaconda, as welll as Jupyter Notebook

![image](https://user-images.githubusercontent.com/51500878/194716510-c2f9358d-5fc4-42ae-8a5d-d018f37bc934.png)

I tried the suggestions online

[2022-10-08 16:55] jtpio commented on #6559
Many thanks @kulsoomzahra for opening this issue and for the screenscasts :+1:

The Running Panel section in Notebook 7 is the same as the one JupyterLab. It was recently updated in https://github.com/jupyterlab/jupyterlab/pull/13074, and Notebook 7 just reuses it as is.

So any fix to this component should be implemented upstream in JupyterLab. Which can then be pulled in Notebook 7 next time the

[2022-10-09 04:28] Pijarem commented on #5149
There is no alternate for Jupyter Notebook so you have dwell with it

[2022-10-09 14:57] jasonhilton commented on #6458
@pai-djmoon Thanks for this - I had my notebooks in a folder called 'notebooks'. I simply did `mv notebooks ntbks` and the issue was resolved!

[2022-10-10 13:45] kulsoomzahra commented on #6559
@jtpio That's great, thanks!

[2022-10-11 08:28] kulsoomzahra commented on #6559
**Update-1**
Something that I tried doing:

1. Identify the **.lm-AccordionPanel** and put a scroll to it.
2. Modified `min-height:auto` which helps to scroll the entire length of the **.lm-AccordionPanel**.
(Previously it was 328px)

Current scenario:

[Scroll.webm](https://user-images.githubusercontent.com/46336830/195037428-5a738a81-ba92-4293-a1a0-922818fb9b22.webm)

[2022-10-11 13:34] jtpio commented on #6559
Thanks @kulsoomzahra! Feel free to open a PR (even as a draft) in JupyterLab if you would like to suggest these fixes :+1:

[2022-10-11 19:12] jtpio commented on #1283
Thanks all.

Something similar to this is currently possible in JupyterLab and will be possible in the coming Notebook 7 (which inherits from JupyterLab's components). Which is also included in the latest Notebook 7 pre-release:

![image](https://user-images.githubusercontent.com/591645/195178576-af61c394-d81d-4e8c-a82b-d374fc9661cd.png)

Adding to the 7.0 milestone for consideration.

[2022-10-12 02:12] rijieli commented on #4158
That's really what I want! I don't want to change ENV language settings.

[2022-10-12 20:54] jweill-aws commented on #6524
Fixed in v. 5.7.16. Thanks again @kostyafarber !

[2022-10-12 20:54] #6524 closed

[2022-10-13 06:33] #6555 closed

[2022-10-13 06:46] #6344 closed

[2022-10-13 06:46] #6558 closed

[2022-10-13 06:49] jtpio opened #6567 "Missing syntax highlighting for the JSON viewer"
As noticed in https://github.com/jupyter/notebook/pull/6566#issuecomment-1276424208, syntax highlighting is missing when opening JSON files with the JSON viewer:

![image](https://user-images.githubusercontent.com/591645/195393192-31be07e6-f30f-4a1b-ac7f-1865d018c2a0.png)

[2022-10-13 15:06] iorlas commented on #5446
@kevin-bates Alright-alright. I know this ticket might be quite old, but really, this issue arise in the IntelliJ IDEA, so I guess it is their issue. But I'm not sure what they have to do. Should they change the frontend? Which frontend should they use then?

[2022-10-13 16:32] echarles opened #6572 "Jupyter Notebook 6.5.0 is broken - Upgrade to 6.5.1"
Jupyter Notebook 6.5.0 release is broken, please upgrade to 6.5.1.

[2022-10-13 17:19] kevin-bates commented on #5446
Hi @iorlas.  I see that the README notice item referenced above has been removed due to the recent progress that's been made toward a Notebook 7 release - so I'm including it here for completeness:

I can't speak to the IntelliJ IDEA integration, but the Notebook 7 release should address this issue since it will be using the Lab framework and will offer an option to display the "classic" interface

[2022-10-13 17:25] jtpio commented on #6572
How about yanking it on PyPI?

![image](https://user-images.githubusercontent.com/591645/195664781-a3ec7cf4-f70e-4bc4-b521-2129c4d7f87c.png)

[2022-10-13 17:44] RRosio commented on #6560
Hi @LinyiGuo96 thank you for submitting this issue! Are there any errors that you are able to see in the terminal when encountering this issue? What are you trying to input when you see this issue? If you could post a recording demonstrating the issue you are experiencing or provide the terminal output it would be helpful in diagnosing what may be going on!

[2022-10-13 17:57] echarles commented on #6572
We could yank `notebook 6.5.0` or `nbclassic 0.4.6` (nbclassic 0.4.6 generates the issue, notebook 6.5.1 pins to nbclassic 0.4.6).

I had a quick discussion with @Zsailer and it looks like Jupyter typically does not yank. In this case, we could have an exception. WDYT?
 (cc/ @blink1073)

[2022-10-13 17:58] echarles commented on #6572
(corrected above:  notebook 6.5.1 pins to nbclassic 0.4.5 (not 0.4.6).

[2022-10-13 18:10] kulsoomzahra commented on #6559
I've opened a PR in https://github.com/jupyterlab/jupyterlab/pull/13241, @jtpio thanks for following up! :)

[2022-10-13 18:57] blink1073 commented on #6572
I've definitely yanked when needed before, if a particular version is broke

[2022-10-13 19:08] willgleich opened #6573 "6.5.1 regression: NotebookApp] Could not open static file '' jquery-ui"
Relevant jupyter server logs:

Looks like notebook 6.5.1 has a regression with `jupyter_contrib_nbextensions`

The nbextensions tab is missing from the notebook homepage.

I was able to work around this with downgrading notebook
`pip install jupyter notebook=6.4.12`

Relevant js console errors:

Versions:

python 3.7.13
IPython          : 7.34.0
ipykernel        : 6.16.0
ipywidgets       : 8.0.2
j

[2022-10-14 01:04] LinyiGuo96 commented on #6560
@RRosio Hi, I didn't see any errors in the terminal/jupyter notebook. The issue is only about the latency of my input.

And my work is mainly about some data management work (using pandas and numpy).

Usually the input speed at the beginning is fine, but after a few time it will get slow and delayed.

Not sure whether this is about my environment set-up, or some optimization problem, is there any

[2022-10-14 05:43] echarles commented on #6573
Thx for the report.

We have seen that issue and will fix it ASAP, but I don't think it is related to the `jupyter_contrib_nbextensions` not working;

We have an open PR in https://github.com/Jupyter-contrib/jupyter_nbextensions_configurator/pull/141 to fix that. @damianavila can maybe give more inputs on when this could be reviewed and released.

[2022-10-14 05:43] echarles commented on #6572
I don't have karma to yank in pypi notebook.

Can someone yank notebook `6.5.0` for me, or give me the credentials to do it? Thx.

[2022-10-14 06:17] jtpio commented on #6572
Done

[2022-10-14 06:31] echarles commented on #6572
Thx @jtpio Could you please pin this issue to the issue board so users can find it more easily.

[2022-10-14 06:34] echarles opened #6576 "jquery-ui 404"
The following is shown in the server log. It does not impact the notebook behaviour, but we need to fix it as this is confusing for the user.

[code]

Was that introduced by https://github.com/jupyter/nbclassic/pull/152 ?

cc/ @RRosio @ericsnekbytes

[2022-10-14 07:28] jtpio commented on #6572
Just pinned, although the yank should already help in most cases.

Closing as fixed. You might also want to edit the GitHub Release to mention it is broken: https://github.com/jupyter/notebook/releases/tag/v6.5.0

[2022-10-14 07:28] #6572 closed

[2022-10-14 07:32] echarles commented on #6572
Thx, I have updated the release notes.

<img width="927" alt="Screenshot 2022-10-14 at 09 31 59" src="https://user-images.githubusercontent.com/226720/195788813-a46a5d17-c2f7-499a-801a-bcd8677c9688.png">

[2022-10-14 08:22] ernesto-elsaesser commented on #3610
To answer the question on how to determine which kernel process is used by which notebook (as this issue is still open after all those years, and it was my first result on Google). Run:

[code]

in a notebook cell. That will print a config containing the `IPKernelApp.connection_file` key, which is exactly the JSON file that gets passed as an argument to the kernel process.

The other way around -

[2022-10-14 09:24] jtpio opened #6577 "Update to JupyterLab 4.0.0a31"
A meta issue to keep track of items when updating to the next JupyterLab 4.0 pre-release:

- [ ] https://github.com/jupyter/notebook/issues/6559
- [ ] Check notifications: https://github.com/jupyterlab/jupyterlab/pull/12959
- [ ] https://github.com/jupyterlab/jupyterlab/pull/13141
- [ ] `shared-models` move: https://github.com/jupyterlab/jupyterlab/pull/13389
- [ ] User service: https://github.com

[2022-10-14 10:50] raffaem commented on #1075
Looks like support for Jedi was introduced in [IPython 6](https://ipython.readthedocs.io/en/stable/whatsnew/version6.html#ipython-6-0).

This can be closed?

[2022-10-14 15:21] RRosio commented on #6576
Yes, I believe that was the PR that introduced this issue. I think the issue with these packages could be that I may have had two different jquery-ui package sources in my bower cache which may have resulted in either package being installed from the cache. They have different file structure so there is a bad path to the jquery-ui files if one of the packages is installed.

[2022-10-14 20:29] kostyafarber commented on #6552
@davinderpalrehal you still working on this?

[2022-10-15 07:05] davinderpalrehal commented on #6552
@kostyafarber plans are to work on this over the weekend, is it time sensitive? If it's needed urgently I don't mind if someone else picks it up, my intention was to have the PR open by Monday.

[2022-10-15 08:00] kostyafarber commented on #6552
Oh no go ahead! Just wanted to make sure if you weren't working on it I could pick it up. Thanks.

[2022-10-15 08:19] #6547 closed

[2022-10-15 09:20] davinderpalrehal commented on #6552
Sounds good, thanks @kostyafarber.

[2022-10-17 07:25] brichet opened #6582 "Displaying HTML documents"
**Describe the bug**
The current document manager does not display properly HTML and PDF documents.
The HTML file are displayed as raw text instead of being interpreted.

**To Reproduce**
Open an HTML file from the tree view.

**Expected behavior**
Displaying the HTML file in a iframe, like it is in JupyterLab.

**Screenshots**
![image](https://user-images.githubusercontent.com/32258950/196108392-

[2022-10-17 07:47] jtpio commented on #6582
Thanks @brichet for the report.

Probably the `html-extension` could be added to the application here: https://github.com/jupyter/notebook/blob/b14def0ce19043cc5522244a664f11f826e9600f/app/package.json#L107

`pdf-extension` seems to be listed in the dependencies, but maybe it's not properly included in the build.

[2022-10-17 09:17] brichet commented on #6582
Thanks for the suggestion @jtpio, it was enough for HTML Viewer.
I'm trying to figure out what's going on with the PDF, it seems that the `docmanager.open` command isn't catching the correct file type.

[2022-10-17 11:56] davinderpalrehal commented on #6552
Hey @kostyafarber , I couldn't finish setting up the repo on my laptop and get it up and running, if you are still free please proceed with picking this issue up.

[2022-10-17 12:57] stephencb96 commented on #5024
I am having the same issue - tried uninstalling, reinstalling and changing tornado versions. Attached is terminal output... @kevin-bates any shot you can help?
(base) C:\Users\stephen.bonacci>jupyter kernelspec list
Available kernels:
  my_env     C:\Users\stephen.bonacci\AppData\Roaming\jupyter\kernels\my_env
  python3    C:\Users\stephen.bonacci\Anaconda3\share\jupyter\kernels\python3

(base) C:

[2022-10-17 13:33] jtpio commented on #6582
Thanks @brichet for the PRs, both https://github.com/jupyter/notebook/pull/6584 and https://github.com/jupyter/notebook/pull/6583 are now merged.

I'm happy to start a new Notebook 7 pre-release to help with https://github.com/jupyter/nbgrader/pull/1684, unless there were a couple more fixes you wanted to submit first?

[2022-10-17 13:39] brichet commented on #6582
Thanks @jtpio.
I'm working on a way to open the file browser tab when changing the path from an other tab, and also to open the new tab by default after its creation.
So if you can wait a little longer, that would be great.

[2022-10-17 13:40] jtpio commented on #6582
Sounds good, thanks again :+1:

[2022-10-17 16:41] kostyafarber commented on #6552
No worries @davinderpalrehal I'll try check it out

[2022-10-17 16:56] kevin-bates commented on #5024
Hi @stephencb96. The fact that the restarter is kicking in indicates that the process used to launch the kernel is starting such that the `start_kernel()` request succeeds, then the process is terminating (probably immediately - although the polling interval of the restarter defaults to 3 seconds).  This usually indicates a dependency issue or some runtime anomaly that occurs at startup.

You can

[2022-10-17 18:46] stephencb96 commented on #5024
thanks, @kevin-bates. Debug output below...as a novice is there anything that sticks out?

[2022-10-17 19:21] kevin-bates commented on #5024
I'm not certain that's the correct command-line invocation (what is `62337`?).  If that's a port number, you really need to write the entire JSON block I had provided to a file (brackets included), say, `connection.json`, then reference that file in the command with `-f connection.json`.  That said, I'm not familiar with kernel invocations on Windows.

With that in mind, the issue (above) is due t

[2022-10-18 16:02] kevin-bates commented on #6164
Moving to asynchronous kernel management is probably _safer_ than not since that's where the dev focus has been the last couple of years and JupyterServer has been using it since its inception (and on which Lab 3+ relies).  So you're essentially moving your "experience" closer to where you want to be eventually.

[2022-10-18 20:10] RRosio commented on #6573
I wanted to provide an update on the fix for the jquery-ui 404 error, PR #6578 has been merged!

[2022-10-19 19:55] OliverEvans96 commented on #1898
I can also confirm that this is now implemented in jupyterlab (tested on v3.4.8), but still not in jupyter notebook as of v6.4.12.

[2022-10-20 09:20] jtpio commented on #1898
Adding to the `7.0` milestone as this also does not seem to be supported in Notebook 7 at the moment when creating a new terminal from file menu while in a subfolder:

![image](https://user-images.githubusercontent.com/591645/196909028-7d698676-ecc2-4277-8fcf-944485f931f1.png)

[2022-10-20 11:11] jtpio opened #6594 "Enable `nx`"
As mentioned in https://github.com/jupyter/notebook/pull/6579#pullrequestreview-1149025098, we should try to re-enable the `nx` task runner now used in the newer versions of `lerna`:

https://github.com/jupyter/notebook/blob/d5c9f54528ec31429d75724036ec1f57ae323567/lerna.json#L3

[2022-10-20 17:39] isabela-pf opened #6595 "Notebook 7 prerelease keyboard navigation review"
As a part of reviewing the [prerelease of Notebook 7](https://github.com/jupyter/notebook/releases/tag/v7.0.0a6) for accessibility issues, we teamed up to run some manual keyboard navigation tests on [this Notebook 7 binder](https://gist.github.com/jtpio/d368ab89cee5123ecee60683115e15f3).

Many thanks to @ohrely, @gabalafou, @krassowski, @vidartf, @steff456, and @afshin for authoring this review!

[2022-10-20 17:41] RRosio commented on #6560
Hi @LinyiGuo96, thank you for your response! It is not clear yet if this is a Jupyter Notebook issue or related to environment issues. If you try running your notebook in other like Papermil or IPython, do you see the same behavior? Also, if you could open up your task manager, do you see the the Jupyter process is using up a lot of your system's RAM?

[2022-10-20 19:02] OliverEvans96 commented on #1898
@hdsteineke and I would like to tackle this in the spirit of Hacktoberfest if that's alright with you @jtpio.

[2022-10-20 23:16] OliverEvans96 commented on #1898
BTW, this was addressed in jupyterlab in https://github.com/jupyterlab/jupyterlab/pull/12250

[2022-10-21 05:02] ee2110 commented on #6473
The renaming error still prompt out, not sure if I need to use another version Jupyter notebook. For now, I rename file by manually change the file name at root folder. Look forward to have better version of Jupyter notebook! I like to use it

[2022-10-21 08:31] jtpio commented on #1898
That would be really appreciated, many thanks!

Don't hesitate to open a draft PR, happy to help.

[2022-10-21 09:42] jtpio opened #6596 "[Request] Keyboard shortcut parity with notebook classic"
### Discussed in https://github.com/jupyter/notebook/discussions/6591

<div type='discussions-op-text'>

<sup>Originally posted by **lemontheme** October 18, 2022</sup>
Excited to learn that future versions of notebook will be based off the same core as JupyterLab. I'm creating this post as a user who has tried to embrace JupyterLab but, despite all its great extra features, has always returned to

[2022-10-21 17:28] janton42 commented on #6458
Thanks @pai-djmoon - moving notebooks to a new folder worked for me, too.

My original folder was not named notebooks or anything similar, though, so I don't think the name of the old folder matters.

[2022-10-21 19:03] Strilanc opened #6597 "importmap in _html_repr_ fails in local notebooks (does work in collab)"
**REPRO STEPS**

From the command line, run `jupyter notebook`, create a new notebook, add a code cell, and put the following into the code cell:

[code]

Make sure the notebook is trusted, and execute the cell.

**WHAT SHOULD HAPPEN**

The output should say "worked!".

More specifically, the output should be an html widget containing a div with its inner text set to "worked!".

Note that, in goog

[2022-10-21 21:41] Strilanc opened #6598 "Html outputs write over each other's contents"
Create a notebook with two cells:

[code]

and

[code]

then execute both cells.

**WHAT SHOULD HAPPENS**

First cell output shows "1!"
Second cell output shows "2!"

**WHAT ACTUALLY HAPPENS**

First cell output shows "2!"
Second cell output shows "not initialized"

**WHAT'S PROBABLY GOING WRONG**

It appears that the cells are not being sandboxed so that their scripts can only apply to the elemen

[2022-10-21 23:18] pyh-129 commented on #6473
Hi，
After I rename it, it will be fine. I continue to check the information. It may have the same name as a file in the system

Message ID: ***@***.***&gt;

[2022-10-24 18:25] balajialg commented on #5029
@jtpio I tried testing the alpha version of Jupyter Notebook 7.0 using a [Screen reader tool](https://chrome.google.com/webstore/detail/screen-reader/kgejglhpjiefppelpmljglcjbhoiplfn) available as a Chrome plugin. I tested this using a Chrome browser on a Windows machine. I found the above issue of screen readers not being able to convey the sub-menu information raised by @eileencho  still persist

[2022-10-24 18:32] balajialg commented on #5106
@jtpio I tried testing the alpha version of Jupyter Notebook 7.0 using a [Screen reader tool](https://chrome.google.com/webstore/detail/screen-reader/kgejglhpjiefppelpmljglcjbhoiplfn) available as a Chrome plugin. I tested this functionality by launching the binder link of the alpha version of Jupyter Notebook 7.0 using a Chrome browser on a Windows machine.

I found the above issue of screen read

[2022-10-24 20:16] KC0lin commented on #6573
been half-day with the exact same problem and errors. *install jupyter notebook=6.4.12* this has worked for me

[2022-10-25 11:54] chineiusz opened #6601 "using jupyter notebooks, notebook data is lost after renaming"
Without making any changes to an existent notebook, I clicked on the notebook and used the rename option in the jupyter notebook working environment. I added a suffix to make the file name more descriptive. After renaming, and without raising an error (I only added "_XXX" as a suffix, the notebook disappeared. Using the command prompt of windows, I found out that apparently, the notebook is now 0

[2022-10-25 18:55] chineiusz commented on #6601
I was able to recover my notebook via a backup I could identify. However, it would be great if this problem could be solved for future users...

[2022-10-25 22:55] pchambre opened #6602 "Kernel detected as dead on refresh of notebook page. Dead kernel icon never cleared after that even though the kernel is working."
Hi folks,

I'm using a notebook under JupyterHub and with a custom kernel. Things work fine when I first launch the notebook, but, if I refresh the page, about two seconds after it is reloaded, I will get the "The kernel appears to have died..." message, and the Dead kernel red button/icon will be added to the status bar. At the same time, the custom kernel status will change to a bomb.

After a f

[2022-10-27 17:41] RRosio commented on #6560
Hi @LinyiGuo96 I just wanted to follow up and see if this is still an issue you are encountering and/or if there is any additional information?

[2022-10-27 17:54] RRosio commented on #6597
Hi @Strilanc, thank you for submitting this issue. Could you please share which browser you are using? Would it be possible to test if this works for you in JupyterLab using Chrome? If so, Jupyter Notebook 7 should work as well . Thanks again!

[2022-10-27 17:58] gabalafou commented on #6598
I reproduced this in Notebook 7

[2022-10-27 18:08] krassowski commented on #6598
User-land workaround for this and the issue you see in https://github.com/jupyter/notebook/issues/6597 is to sandbox cell outputs by wrapping them in iframe, like:

[code]

Colab differently to upstream Jupyter frontends uses iframes by default. JupyterLab uses (and Notebook v7 will use) iframe-based isolation for some outputs (e.g. some SVGs).

You can use the workaround like this:

[code]

Now,

[2022-10-27 18:08] RRosio commented on #6601
Hi @chineiusz thank you for submitting this issue. We were unable to reproduce this behavior on our end. Would you be able to provide the output of both the terminal and the browser when you encounter this issue? If you could also please share which version of Jupyter Notebook you are using that would be great as well, thank you!

[2022-10-27 18:13] krassowski commented on #6598
You may also be interested in the Rich Output MIME bundle concept (https://github.com/jasongrout/richoutput-js) which is a result of Jupyter community workshop on widgets and was presented at JupyterLab meeting this week (https://github.com/jupyterlab/team-compass/issues/152#issuecomment-1292354468). This is at a very early stage, but if it were to be accepted as part of the Jupyter standard, it c

[2022-10-28 00:48] gabalafou commented on #6597
I misspoke during triage today.

Using JupyterLab version 4.0.0a30 in Brave, I am able to reproduce this issue (with or without shields up). Using the same version in Chrome, I am not able to reproduce; in other words, the code snippet above works in Chrome.

[2022-10-28 01:14] LinyiGuo96 commented on #6560
Hi @RRosio My Jupyter Notebook is still slow while I am inputting, but now I am moving to use other tools for python programming, thanks for your help!

[2022-10-28 01:14] #6560 closed

[2022-10-28 06:33] echarles commented on #6601
@chineiusz What notebook version are you using? (you can view the version in the About box, or run `jupyter notebook --version` in a terminal)

[2022-10-28 08:56] Strilanc commented on #6598
Here is a recording of me reproducing the bug on the latest version of chrome: https://drive.google.com/file/d/1o24O9W4gXCVHE8CrLGUahX3n7YA2kVn9/view?usp=sharing

Setting up the python environment and starting the server:

![image](https://user-images.githubusercontent.com/79941/198547391-29e668f6-c6bf-4a9d-bae5-144f6faca209.png)

Seeing the bug:

![image](https://user-images.githubusercontent.com

[2022-10-28 08:57] Strilanc commented on #6597
Here is a recording of me reproducing the bug on the latest version of chrome: https://drive.google.com/file/d/1o24O9W4gXCVHE8CrLGUahX3n7YA2kVn9/view?usp=sharing

Setting up the python environment and starting the server:

![image](https://user-images.githubusercontent.com/79941/198547391-29e668f6-c6bf-4a9d-bae5-144f6faca209.png)

Seeing the bug:

![image](https://user-images.githubusercontent.com

[2022-10-28 09:04] Strilanc commented on #6598
The workaround I went with was to find the object by id and then change the id, so that each cell would get out of the way of the next one. There's a risk that the javascript from one cell's output ends up driving the html widgets in another cell's output if they are initializing simultaneously... so I like the iframe idea better.

[2022-10-28 16:12] brichet opened #6603 "Provide the 'serverRoot' in jupyter-config-data for tests"
When testing extensions, it can be useful to retrieve the serverRoot from `jupyter-config-data` script in DOM.
It could be added in `page_config` with a condition: https://github.com/jupyter/notebook/blob/2f26f1b7057896946423410995a1bf63273753dc/notebook/app.py#L61-L64

A simple solution without adding a new option could be to add it if the option `exposeAppInBrowser` is True (if this is an option

[2022-10-28 21:28] sje30 opened #6605 "Output from Julia chunk broken into two parts"
I've found a problem using 'quarto' when trying to render some simple
Julia code.

A full example of the quarto problem was reported [here](https://github.com/quarto-dev/quarto-cli/discussions/3091) and
in turn, it was suggested this is a [bug](https://github.com/quarto-dev/quarto-cli/issues/3093) in Jupyter.

## Example f.ipynb

[code]

The output from the Julia chunk should be:

    Matrix{Float

[2022-10-29 10:38] Alowree commented on #6576
It does impact the notebook behavior a little bit since the nbextension menu does not how up. It appears to me that neither the css file nor the js file has been properly installed. Still struggling for a fix.

<img width="864" alt="image" src="https://user-images.githubusercontent.com/57390638/198826648-45ceb0cb-8cfe-43ae-8210-5d51257d8094.png">

[2022-10-29 19:28] GrigoriiTarasov commented on #5860
I'm also seeing this, has anyone found a solution?

Algo:
1) Copying all the jsons from
~/.jupyter
to another folder
2) start new
`jupyter notebook`
3) `jupyter notebook list`

Not helped

[2022-10-30 07:08] echarles commented on #6576
Notebook 6.5.2 is released and does not show the jquery-ui 404 anymore. Closing (please reopen if it does not work for you).

[2022-10-30 07:08] #6576 closed

[2022-10-30 07:10] echarles commented on #6573
For the jquery-ui 404, Notebook 6.5.2 is released and does not show the jquery-ui 404 anymore.

For jupyter_nbextensions_configurator, https://github.com/Jupyter-contrib/jupyter_nbextensions_configurator/pull/141 is waiting for reviews from the core maintainers. Please upvote that PR in the jupyter-contrib repository if you want to get this move forward.

I will close this issue related to the jqu

[2022-10-30 07:10] #6573 closed

[2022-10-31 07:03] chineiusz commented on #6601
Hi Rosio,

As the problem occured some days ago, I cannot provide you with the output of the terminal, I'm sorry. I am using Jupyter Notebook 6.0.3.

Kind regards

________________________________
Von: Rosio ***@***.***>
Gesendet: Donnerstag, 27. Oktober 2022 20:09:07
An: jupyter/notebook
Cc: Ineichen Christian; Mention
Betreff: Re: [jupyter/notebook] using jupyter notebooks, notebook data is lost

[2022-10-31 15:24] mcrutch opened #6607 "favicon not explicitly specified for /tree (Notebook v7)"
If Jupyter Server is configured at a base_url other than / and a different service is handling the / url, the favicon for Jupyter will not appear on the /tree in Notebook v7 because it looks for /favicon.ico
Scenario:
- c.ServerApp.base_url = '/Jupyter/'
- Notebook v7/Labv4/NBClassic
- nginx server running on 80/443 that forwards /Jupyter/ to jupyter server running in the background
- favicon.ico

[2022-11-01 07:51] yacchin1205 commented on #6473
I faced this same error too.

[2022-11-02 03:49] jt0dd commented on #6394
To add to my previous comment, here's an example of what I'm working on in action: https://i.gyazo.com/83242a1c08a500395928ec786e753856.mp4

I think we can develop some awesome platforms on top of Jupyter and this feature is just really badly needed to make them as user friendly as possible.

[2022-11-02 05:11] ddharshan opened #6610 "Training deep learning model in Jupyterlab desktop"
Hi,
I am trying to train my Deep reinforcement learning based model using jupyterlab desktop. When the training passes 9hrs, the desktop app frozen and the model is not training.(I checked
the task manager as well). Is this because of memory limitation, Do i have to change any settings?

[2022-11-02 14:37] RRosio commented on #6494
Hi @ist199099, thank you for submitting this issue! The fix for this issue, #6511  was merged in and available the latest release of notebook, 6.5.2. I will close out this issue now, but please feel free to reopen if there is more to address!

[2022-11-02 14:37] #6494 closed

[2022-11-03 07:40] ztsweet commented on #6473
i get the same error

[2022-11-03 14:00] vishvapalsinh commented on #6473
same error :(

[2022-11-03 14:11] stanwest opened #6611 "Tooltip for signature and docstring appears at wrong vertical position"
In versions 6.5.1 and 6.5.2 of *notebook*, but not in v. 6.4.12, the tooltip that displays the current object's signature and docstring when one hits Shift + Tab appears at the wrong height within the browser window. As far as I've seen, the tooltip appears too low when the view is scrolled near the top of the notebook and too high when near the bottom. The screen-shots below illustrate the behavi

[2022-11-03 17:29] mcrutch commented on #6598
I would argue this is desired because some people like to roll their own equiv to a widget (why, who knows) but you want to be able to update a single output element from any cell in the notebook as execution proceeds.  This is also how Notebook v6 and JupyterLab react as well.

[2022-11-03 17:51] RRosio commented on #6601
Hi @chineiusz, thank you for your response! As we are not able to reproduce this issue to see what may cause this, we will be closing this issue. However, if you find this issue comes up for you again, feel free to reopen this and provide any additional information you have available. Thanks again!

[2022-11-03 17:51] #6601 closed

[2022-11-03 17:58] RRosio commented on #6605
Hi @sje30, thank you for submitting this issue. We will keep this open in hopes that someone who uses the iJulia kernel can also verify that this is a jupyter issue but we recommend taking a look at this issue filed in the iJulia repo:https://github.com/JuliaLang/IJulia.jl/issues/1047

[2022-11-03 18:01] RRosio commented on #6610
Hi @ddharshan, thank you for submitting this issue. As this is an existing issue happening with jupyterlab, I will go ahead and close this issue here.

Jupyterlab Issues
https://github.com/jupyterlab/jupyterlab-desktop/issues/504

[2022-11-03 18:01] #6610 closed

[2022-11-03 18:08] RRosio commented on #6611
Hi @stanwest thank you for submitting this issue! As we are not able to reproduce this issue on our end, would it be possible to provide a screen recording to demonstrate the steps to reproduce this issue? Would you also be able to try to reproduce this issue with with no extensions enabled? Also, if you could paste the output from your browser Javascript console here, you can see https://webmaste

[2022-11-03 19:23] stanwest commented on #6611
Thank you for the suggestion to disable extensions. That led me to associate the behavior with the Collapsible Headings extension, and I've opened an issue (ipython-contrib/jupyter_contrib_nbextensions#1611) in its repository. Sorry for the spurious report.

[2022-11-03 19:23] #6611 closed

[2022-11-03 21:56] afshin commented on #6605
Hi @sje30, I tried running your notebook with Julia 1.8.2 using both JupyterLab (3.5.0) and Jupyter Notebook (6.4.12) and in both cases, the output of my cell was correct:

<img width="1217" alt="Screenshot 2022-11-03 at 21 54 45" src="https://user-images.githubusercontent.com/159529/199841856-9134ef31-a7b2-439a-ba50-780bd896eb82.png">
<img width="1137" alt="Screenshot 2022-11-03 at 21 53 20" src=

[2022-11-03 22:16] sje30 commented on #6605
thanks for investigating.

In https://github.com/quarto-dev/quarto-cli/issues/3093 @cscheid noted that he could reproduce the error, but that he had to run the script a couple of times to get the broken output, so maybe it is stochastic?

For me, I got it every time I ran this code (rather than using the web-interface):

    jupyter nbconvert f.ipynb --execute --to markdown

so does it make a diff

[2022-11-04 07:46] chineiusz commented on #6601
Hi Rosio,

Many thanks for looking at the stated issue and sorry for not being able to provide you with more details. I will reopen the query in case I will be confronted with this issue again.

Kind regards

________________________________
Von: Rosio ***@***.***>
Gesendet: Donnerstag, 3. November 2022 18:51:18
An: jupyter/notebook
Cc: Ineichen Christian; Mention
Betreff: Re: [jupyter/notebook] u

[2022-11-04 09:11] kostyafarber commented on #6567
This looks interesting. Any ideas on where to get started with this?

[2022-11-04 18:41] mcrutch commented on #6598
So, I actually found a case where this is really  unexpected IMO but not in Notebook, in JupyterLab's MDI interface.  Where the notebooks aren't sandboxed from each other.  Within the same notebook, I think this behavior is expected but not across notebooks.  I will file a ticket there about that.

[2022-11-05 03:08] sdzbft commented on #6492
make do with it now, thank you very much for your reply,

[2022-11-05 03:08] sdzbft commented on #6492
make do with it now, thank you very much for your reply,

[2022-11-05 04:31] sdzbft commented on #6438
![image](https://user-images.githubusercontent.com/18287085/200100881-b88df98b-e6bb-4c0d-a92f-b4af50c17c8b.png)
Python 3.8.10

i have closed Variable Inspector, and no viruses, thx for your reply

[2022-11-05 04:36] sdzbft commented on #6438
@RRosio Do you know how to solve this problem？Thank you in advance.

[2022-11-05 04:40] sdzbft commented on #6438
Not only running the code, but also switching directories in the jupyter is cumbersome

[2022-11-06 16:01] 2catycm commented on #5817
我也遇到同样的问题了，不过我的来由不一样。
我原本是WIndows+3.9.13的环境，可以跑jupyter。
现在创建了venv，重新安装jupyter，用Pycharm professional试图启动notebook，报了这个错误

[2022-11-06 16:02] lonelygoatherd commented on #5817
您好，邮件已经收到。祝您工作顺利，生活愉快。    

[2022-11-06 16:02] 2catycm commented on #5817
老哥你的邮箱自动回复哈哈哈

[2022-11-08 13:09] cmnikumb commented on #2555
if i want remove that "Edit Attachment" button from cell how can i do this can you plzzz tell me that

[2022-11-08 21:08] Fida1316 commented on #3332
please help.
File "C:\Users\dell\Anaconda3\envs\uner\lib\site-packages\notebook\notebookapp.py", line 45, in <module>
    from jinja2 import Environment, FileSystemLoader
ImportError: cannot import name 'Environment'

[2022-11-09 00:43] Benr027 opened #6614 "ImportError: cannot import name 'default_gui_banner' from 'IPython.core.usage'"
Hi
I am not able to launch notebook.
I am using `PRETTY_NAME="Kali GNU/Linux Rolling"
NAME="Kali GNU/Linux"
ID=kali
VERSION="2022.1"
VERSION_ID="2022.1"
VERSION_CODENAME="kali-rolling"
ID_LIKE=debian
ANSI_COLOR="1;31"
HOME_URL="https://www.kali.org/"
SUPPORT_URL="https://forums.kali.org/"
BUG_REPORT_URL="https://bugs.kali.org/"`

I have installed Anaconda and then launch Jupyter Notebook .I am try

[2022-11-09 13:26] kostyafarber commented on #6458
Is there any reason why this is still open?

[2022-11-09 16:23] jonaszubindu commented on #3417
Hi, I experience the same problem, but only if I want to store my jupyter notebooks. It doesn't matter how much output I have, just as soon as I want to store it after a longer time running it, the connection keeps failing every minute with "zmq message arrived on closed channel" and WebSocket ping timeout...", "Starting buffering for ..." It's very annoying because it almost always happens when I

[2022-11-10 18:46] RRosio commented on #6605
Hi @sje30, thank you again for opening this issue. As of now, we don't have a way to reliably reproduce this issue that indicates it is an issue coming from any part of the Jupyter stack. If new information comes up and it indicates that this is a problem with Jupyter we can go ahead and reopen this issue. Thank you!

[2022-11-10 18:46] #6605 closed

[2022-11-10 18:48] RRosio commented on #6614
Hi @Benr027, thank you for opening this issue. There is a similar issue that was previously submitted  https://github.com/jupyter/notebook/issues/4375#issuecomment-471511903 and the recommendation is to try updating ipython and/or conda. Could you give this a try and see if this resolves your issue? If not, you can feel free to reopen this issue and post more information about your environment lik

[2022-11-10 18:48] #6614 closed

[2022-11-11 01:51] Zhiwei35 opened #6617 "zmq.error.ZMQError: Address already in use when enable multiprocessing in notebook"
## Error
`zmq.error.ZMQError: Address already in use`
## overview
I am benchmarking a DL model using multiprocessing python library. And it reported above error. when I disabled the multiprocessing or run without jupyter notebook, it works well
## Reproduce steps
`os: linux
python reproduce.py --model_path=/path/to/froze_graph.pb`
note that github does not support attach .py and .pb file, so I cha

[2022-11-13 08:31] oveeauki opened #6618 "i installed jupyter as always before and after launching it spams this error message non stop on terminal but i have not found any way to fix this."
![image](https://user-images.githubusercontent.com/62937543/201512905-c122c069-f252-4767-98f3-c3bfb38e375a.png)

[2022-11-14 08:03] jtpio commented on #6567
Thanks @kostyafarber for looking into this.

Right I guess the first step would be to check if the styles are correctly added to the page, as there could be one missing in notebook compared to lab (haven't looked more into it since)

[2022-11-14 11:23] jtpio commented on #6394
Linking to https://github.com/jupyterlab/richoutput-js which might help address such use cases across Jupyter frontends in a more consistent and documented manner.

:warning: this is still a very young project and might still be subject to major changes.

[2022-11-14 17:52] ShubhamSongire opened #6619 "Regarding popup"
<img width="364" alt="image" src="https://user-images.githubusercontent.com/68246393/201730707-25dce112-ce1c-4569-a9cd-b911a0ae23f0.png">

Hello Team Jupyter,
   From the last few days this popup was coming whenever I close the command prompt before closing all ipynb files, this is not stopping until I stut down my PC. please fix this error. I am using windows 11.

[2022-11-14 22:05] Benr027 commented on #6614
Thanks, it worked when I did the update.

[2022-11-15 03:04] jt0dd opened #6621 "Is there a native way across Jupyter Notebook, Jupyter Lab, and Jupyter Hub to programmatically store ipynb metadata?"
I [asked about this in the Discourse forum](https://discourse.jupyter.org/t/is-there-a-native-way-across-jupyter-notebook-jupyter-lab-and-jupyter-hub-to-programmatically-store-ipynb-metadata/16602) a while back with no response.

https://user-images.githubusercontent.com/42309086/201816480-4c221bb6-b331-4d09-a3dd-5c97e7e391e5.mp4

Right now for a project I’m working on, I’m building a fairly compl

[2022-11-15 03:12] jt0dd commented on #6394
@jtpio Does this address the exposure of the Jupyter JS application & access to execute python in the notebook's kernel via javascript? Is there any clear direction on the continued support of that feature? I haven't seen a clear answer about how this will work in the future.

[2022-11-15 15:57] jtpio commented on #6394
@jt0dd the goal is to provide a consistent *minimal* API so different frontends (JupyterLab / Notebook, Colab, VS Code) can implement a specific mime renderer and give this kind of "escape hatch" to notebook authors. It's still not clear what and how globals will be accessed from the user code but the idea would indeed be to allow for manipulating UI elements or kernel states via the `sharedState`

[2022-11-16 05:26] hakunamatata1997 commented on #6618
Are you running this in a VM?

[2022-11-16 06:22] hakunamatata1997 commented on #6472
Hi @Saunak626 , I don't think it's a bug. You're asking about enhancement. Please tag appropriate label.

[2022-11-16 06:27] hakunamatata1997 commented on #6438
@sdzbft Same behaviour in other browsers?

[2022-11-16 06:32] hakunamatata1997 commented on #6420
@zdlspace0528 I see you want to style your code in PEP8 style. You can do this by installing an extension and it automatically does that for all the cells.

[2022-11-16 06:33] zhaiyusci commented on #2755
I can reproduce this issue with Firefox 106 on Windows. I find this is (partly) because a wrong monospace font is used.

In my case, this is because the default monospace font is Consolas, and for some reason the designer of Consolas decided to use varphi as phi and vice versa.

See discusion here https://github.com/JuliaLang/julia/issues/8429

[2022-11-16 06:36] hakunamatata1997 commented on #6361
@nmbike When a jupyter notebook is already running you can get the link of it by command "jupyter notebook list"

[2022-11-16 09:31] jtpio opened #6622 "Modernize `os` operations in `conftest.py`"
Currently in `conftest.py` there are multiple uses of `os.path.join`: https://github.com/jupyter/notebook/blob/main/tests/conftest.py

Ideally it would be great to do a pass on that file to use `pathlib`: https://docs.python.org/3/library/pathlib.html

[2022-11-17 05:45] sdzbft commented on #6438
Looks like it's a package compatibility issue

[2022-11-17 05:46] sdzbft commented on #6438
Looks like it's a package compatibility issue

[2022-11-17 08:09] borjasanlei commented on #3750
Same issue here runnig `jupyter-notebook` installed in a Docker image using pip.

Context
======
- Using a custom `python:3.9` image
- Installed notebook via `pip`
- Running as `root` by default

Issues
=====
- URL not appearing on `jupyter-notebook` command. Solved with flad `--allow-root`, since in the image the user is root by default
- Once appeared, the same messaged received on `localhost:88

[2022-11-17 14:20] #6622 closed

[2022-11-17 18:20] jweill-aws commented on #6617
Another multiprocessing bug here: #5951

[2022-11-17 18:28] RRosio commented on #6619
Hi @ShubhamSongire thank you for submitting this issue. Do you see this issue when you run Python scripts or only when you use Jupyter Notebook? Also if you could please provide the version of Python and Jupyter Notebook you are using? How did you install jupyter Notebook in this case? Could you try uninstalling Jupyter Notebook and re-installing it?

[2022-11-17 18:34] RRosio commented on #6621
Hi @jt0dd thank you for submitting this issue.
There is an existing [issue](https://github.com/jupyterlab/jupyterlab/issues/12709) where many experienced developers have been talking about this, although it seems the discussion is a bit quiet. Let's continue the discussion on the JupyterLab issue.

[2022-11-17 18:34] #6621 closed

[2022-11-18 09:05] #6557 closed

[2022-11-18 15:09] jtpio opened #6628 "TypeError: this._items[(this._items.length - 1)] is undefined"
Getting the following logged in the dev tools console while trying the latest version from `main` on Binder: https://mybinder.org/v2/gh/jupyter/notebook/main?urlpath=tree

[code]

![image](https://user-images.githubusercontent.com/591645/202735756-8a9ff470-65b7-4d52-832d-7c897bf653ef.png)

[2022-11-18 20:24] kostyafarber commented on #6402
Just checking if anybody is still working on this

[2022-11-18 22:12] kostyafarber commented on #6567
Can't seem to isolate why notebook is not applying the styles. I can see in JupyterLab style tags are produced with these `ͼr` styles  in `head` but in notebook they are missing.

I can't find any reference to these in the code anywhere. They look like they are to do with `CodeMirror` but don't know how they are produced by it.

<img width="1512" alt="Screenshot 2022-11-18 at 22 03 19" src="https:

[2022-11-19 11:22] morrisalp opened #6630 "Bug running jupyterlab in Docker - "Bad config encountered during initialization""
When running jupyter-lab in Docker I encounter the following error:

`[C 11:15:44.783 LabApp] Bad config encountered during initialization: The 'contents_manager_class' trait of a LabApp instance expected a subclass of notebook.services.contents.manager.ContentsManager or jupyter_server.contents.services.managers.ContentsManage, not the JupytextContentsManager JupytextContentsManager.`

I've repro

[2022-11-19 23:20] christianbrodbeck commented on #6224
I have the same issue (on macOS), the server console prints the following. Looks like a template file is missing?

[code]

Environment info:
[code]

[2022-11-20 01:02] walkacross opened #6632 "notebook unable to import dynamic link library(shared object)"
hi
I have a shared object(pybindings.so), in terminal/spyder, I can import the shared object
[code]

while, the notebook unable to import this module. it raises ModuleNotFoundError error.

[2022-11-20 19:31] ShubhamSongire commented on #6619
Sir problem solved, I tried to update my jupyter notebook version at that
time warning has came that your jupyter notebook is installed in path which
is not in environment, do add it. I have added that path into system
environment path and error solved,
thank you for your kind reply 🙏

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>

[2022-11-21 07:30] jtpio commented on #6402
@kostyafarber I don't think anyone is still working on this so if you want to have a look that would be great, thanks!

In the meantime there has been some work on adding support for (hidden by default) left and right panels:

![image](https://user-images.githubusercontent.com/591645/202990213-f9ccf6bd-d87e-4d2c-b52a-b4bf79a9870b.png)

The notebook metadata can be edited there, but there could als

[2022-11-21 07:32] #6577 closed

[2022-11-21 07:32] #6559 closed

[2022-11-21 13:19] fcollonval commented on #6567
@kostyafarber for CodeMirror 6, the theme uses CSS in JS (see [documentation](https://codemirror.net/examples/styling/#themes)). That way is usually combined with auto-generated class name (as you are seeing). But they are never mentioned explicitly in the code (as they should never be used and can change without notice).

So if in notebook you can see the style applied have colored defined like `

[2022-11-21 15:49] kostyafarber commented on #6567
@fcollonval okay, I can see these styles in the debug console on notebook.

![image](https://user-images.githubusercontent.com/73378227/203095470-d191bc64-d7dc-4418-b238-6485392c8fa1.png)

I can even see the `ͼ12` styles attached to the spans in the JSON (which are the styles that have colours applied to them in Lab), but there are no styles defined on them in notebook.

It looks like these styles

[2022-11-21 15:57] fcollonval commented on #6567
Ok I think I get what is happening - the CodeMirror theme rules are not added to the page because there are no CodeMirror editor.

[2022-11-21 16:03] fcollonval commented on #6567
What we should do is add the CodeMirror rules on the page for the JSON Renderer.

https://github.com/jupyterlab/jupyterlab/blob/42992295a40e030d7875ab063aa8ebb1ada3ca74/packages/json-extension/src/component.tsx#L38

You can do that by adding manually the style using [`style-mod`](https://github.com/marijnh/style-mod):

[code]

[2022-11-21 16:12] fcollonval commented on #6567
`StyleModule` is designed to add a style sheet only once. So I would suggest fixing it upstream.

[2022-11-21 16:15] kostyafarber commented on #6567
Sorry if this is a silly question, but what do you mean by fixing it upstream?

[2022-11-21 16:17] fcollonval commented on #6567
Sorry fixing it in JupyterLab itself

[2022-11-21 16:18] kostyafarber commented on #6567
All good! Thanks for the help 😄

[2022-11-21 16:18] fcollonval commented on #6567
We usually refer JupyterLab as the upstream of notebook as notebook v7 is a remix of JupyterLab plugins.

[2022-11-21 16:19] kostyafarber commented on #6567
Ah okay. Thanks for that. Good to know the lingo

[2022-11-21 21:05] jtpio opened #6633 "Icons not visible with the `jupyterlab-night` theme"
Opening the issue in this repo since they used to be visible before if I recall correctly.

Trying the latest 7.0.0a9 pre-release on Binder with the `jupyterlab-night` theme (https://github.com/martinRenou/jupyterlab-night), the icons in the menu are not clearly visible:

![image](https://user-images.githubusercontent.com/591645/203157767-fc3e12ad-0f79-4006-b738-996cac32a470.png)

It might be rela