[2017-01-18 03:36] chakpongchung opened #2045 "latex formula is not displaying correctly viewed online"
This .ipynb is displayed correctly in local, but not correctly displayed online. Are there any encodings problem in notebook?

http://nbviewer.jupyter.org/github/chakpongchung/spherical-harmonics-expansion/blob/master/Master-Project.ipynb

[2017-01-18 08:12] juhasch commented on #2044
An API for controlling nbconvert from the notebook would be really welcome, I asked for something similar in #1629.

In the [printview extension](https://github.com/ipython-contrib/jupyter_contrib_nbextensions/tree/master/src/jupyter_contrib_nbextensions/nbextensions/printview) I currently I have to call the Python kernel of the notebook directly  to be able to customize nbconvert options. This is

[2017-01-18 09:48] chavanhub opened #2046 "deep learning"

[2017-01-18 10:41] takluyver commented on #1000
The JS sets the name in the main user namespace. When the function is moved into a module, it's looking in the module namespace, so it never sees that name. But that function is a hack, and I wouldn't rely on it in any case.

[2017-01-18 10:47] takluyver commented on #2046
Let us know if this was meant to mean something.

[2017-01-18 10:47] #2046 closed

[2017-01-18 15:04] daniel1124 commented on #96
We have solved the problem of loading large files by chunking. We also added a progress bar to indicate the upload progress. I would be happy to contribute the code. Please let me know what's the process. Thank you!

[2017-01-18 15:12] dsblank opened #2047 "print css needs some tender loving care"
The "print" css style for the notebook needs some refinement:

* "Print preview..."  doesn't seem to use it?
* links will show their content, even if that content is exactly the same as the link text
* sometimes you want to use HTML as it is on the screen (without showing link targets)
* a table at the beginning will be reordered after headings (?)
* tables seem to cause page breaks (empty first p

[2017-01-18 15:25] Carreau commented on #96
Hi @daniel1124 this was given a shot in #536 currently IIRC the server side does not support receiving the files in chunk so that would need to be improved From the UI side of things, I guess the best path forward may be to directly implement that in [jupyterlab](https://github.com/jupyterlab/jupyterlab) which will end up replacing the current notebook, but if you want to try to implment that in n

[2017-01-18 15:27] takluyver commented on #2047
The 'print preview' option uses nbconvert to generate static HTML, which may have different CSS from the live view.

[2017-01-18 15:39] oolongknits commented on #1227
I had the same problem and (at least in my case) this is a problem with the terminal shortcuts.

I'm on Linux and in the terminal I did:
Edit -> Preferences -> Shortcuts
I found Ctr+C was a shortcut to Copy.
I changed it to something else and now it works as it is supposed to.

[2017-01-18 15:50] blink1073 commented on #96
In my opinion this should be done in the Notebook first.  The bulk of the work will be in the server and the low-level services calls.  A PR will need to be made against this repository either way.   A [bootstrap progress bar](http://www.w3schools.com/bootstrap/bootstrap_progressbars.asp) in a bootstrap modal could be used for the Notebook UI, and we can use the new server API and much of the fron

[2017-01-18 15:52] ggrrll commented on #1747
@gnestor - thanks for the suggestion

however, it doesn't look for the file in sub-directories... maybe that's something to be implemented too...

[2017-01-18 15:56] dsblank commented on #2047
@takluyver But when you continue to print it, it does use the print css from the live view. This is confusing! "Print preview" should be a preview of what would actually print, right?

[2017-01-18 16:23] takluyver commented on #2047
AIUI, we can't activate the print CSS until you use the browser's own print preview function.

[2017-01-18 16:35] dsblank commented on #2047
@takluyver Perhaps, but the output of the conversion process could itself define the view CSS using the print CSS values. Then there would be no differences, and the HTML view would look the same as applying the print CSS.

[2017-01-18 16:57] hatv commented on #1169
+1
I like the idea of paragraphs that exists in tools such as Mathematica. You can execute whole paragraphs which are group of cells as a single block of code and hide them.

[2017-01-18 17:58] xsway commented on #1927
I'm running some (data modelling) code in Jupyter notebook which after execution makes everything painfully slow (e.g. 5-10 secs to execute a cell, 3-4 secs for autocomplete etc). I checked with the standard IPython and there is no such problem there, so I assume it's not the code itself but something on the end of Jupyter?

[2017-01-18 18:00] blink1073 commented on #1927
HI @xsway, is your code producing a lot of text or visual output in the Notebook?

[2017-01-18 18:09] xsway commented on #1927
No, I removed all logging just in case. I also tried with FIrefox and Chrome, both are slow.

[2017-01-18 18:11] blink1073 commented on #1927
Are you logging in to a remote server, or did you launch it from your machine?

[2017-01-18 18:11] xsway commented on #1927
My local machine.

[2017-01-18 18:13] blink1073 commented on #1927
Using the built in Python kernel?

[2017-01-18 18:24] xsway commented on #1927
I think so, but I'm not completely sure. It's the one with this record in .ipython/kernels/python3/kernel.json

` "display_name": "IPython (Python 3)",
 "language": "python",
 "argv": [
  "python3",
  "-c", "from IPython.kernel.zmq.kernelapp import main; main()",
  "-f", "{connection_file}"
 ],`

[2017-01-18 18:28] blink1073 commented on #1927
Can you share any example code or which libraries you are importing from?

[2017-01-18 18:32] xsway commented on #1927
I'm using PyMC3 for Bayesian modelling which I thought initially was the source of the problem, since it's quite slow sometimes and uses some theano computations and variable locking. However, in standard IPython interpreter everything works fine after my code execution. So it shouldn't be my code's problem, right?

[2017-01-18 18:49] blink1073 commented on #1927
It could be that the code "finishes" but is still processing in a thread, but presumably you'd see that in the IPython interpreter as well.  There is some overhead to sending the data back and forth to the browser, but it shouldn't be as different as what you are seeing if there is not a lot of output showing on the page.  I'm afraid I may be out of ideas.

[2017-01-18 19:12] michaelpacer commented on #1812
the relevant issues in jupyterlab (I think) are:
* https://github.com/jupyterlab/jupyterlab/issues/902
* https://github.com/jupyterlab/jupyterlab/issues/1308

[2017-01-18 19:18] blink1073 commented on #1812
Agreed, thanks for coordinating, @michaelpacer!

[2017-01-18 20:50] jcb91 commented on #1169
@hatv, this is what  [collapsible_headings](https://github.com/ipython-contrib/jupyter_contrib_nbextensions/tree/1d98f7b3f402096c1e08a06b8354a9f960743390/src/jupyter_contrib_nbextensions/nbextensions/collapsible_headings) provides, available as part of the [jupyter_contrib_nbextensions](https://github.com/ipython-contrib/jupyter_contrib_nbextensions) collection.

[2017-01-18 21:03] juhasch commented on #2043
This should be easy to do using a template:
[code]
Using a recent nbconvert version, this will remove input and output prompts.

[2017-01-18 22:03] daniel1124 commented on #96
@blink1073 yeah that's exactly what we did. We modified notebook-4.3.1, mostly in the notebook/static/tree/js/notebooklist.js file, and we add a largefilemanager.py under notebook/service/contents/.

Do you think I should follow the instructions here to contribute? https://github.com/jupyter/notebook/blob/master/CONTRIBUTING.rst

[2017-01-18 22:09] daniel1124 commented on #96
@Carreau @blink1073 the way we make it work is that if it is the first chunk, then we set the write mode to "w"; for following chunks we set the write mode to "a". All my changes are confined under the notebook package.

[2017-01-18 22:25] themrmax opened #2049 "Slow to change focus to/from a cell containing a large amount of output"
Sometimes I would like to view a large dataset inside the output of a cell. If the cell contains a lot of data, it's slow to change focus to/from the cell. For example if I run a cell with the following, once it's completed it takes around 2 seconds to focus in or out of the cell (tested on Chrome and Firefox on a Macbook Air). This is especially frustrating when I'm trying to quickly navigate aro

[2017-01-18 22:33] blink1073 commented on #96
That sounds great, @daniel1124, and yes, that is the preferred process document.

[2017-01-19 05:42] jinmehta13 commented on #1664
Hello, I'm new to open source but a big fan of Jupyter Notebooks and hoping to contribute if I can. Any tips to get started on this?

[2017-01-19 06:20] Carreau commented on #1664
Hi @jinmehta13 welcome !

How experienced are you, and in which domain ?

Depending on how you want to get started I would do the following:

If you want to get started on the website, and add a message in the JS console there, the first step would be to get the website to work on you local machine. The website repo is [there](https://github.com/jupyter/jupyter.github.io), once this work we can se

[2017-01-19 11:00] ggrrll commented on #263
Hi,

(I don't know if this is the right place to ask )

is there/ do you plan to add  a quick shortcut that allows me to quickly find the selected work
- like in sublime text, for instance - _without_ having to type 3 cmd+C, cmd+F,cmd+V

Thanks for your help

[2017-01-19 11:17] #1431 closed

[2017-01-19 11:17] #1554 closed

[2017-01-19 11:17] #2024 closed

[2017-01-19 11:21] takluyver commented on #2037
I've marked this as 5.0 - I'd really like to get it fixed soon, because syntax highlighting is currently broken with the new Python 3.6 strings.

Are we aware of any fix for the Safari issue in CodeMirror that would let us update it again? If not, can we work out a way to use a patched CodeMirror?

[2017-01-19 12:21] rgaiacs opened #2050 "Wrong focus when remove many cells"
# Steps to reproduce

1. Open a notebook.
2. Select many cells (start with the first one). The sum of height of the selected cells must be greater than the height of the visible area.
3. Delete the cells.

# Expected behaviour

The focus is on the next cell of the last removed cell and that cell is on the visible area.

# Current behaviour

The focus is on the next cell of the last removed cell **

[2017-01-19 12:21] ggrrll commented on #263
pps: another nice feature would be to make the results of the 'find-window' clickable, in a way that re-send you directly to  the corresponding line/cell in the notebook

[2017-01-19 15:47] ggrrll opened #2051 "Focus on cell after finding a word"
Hi all,

Let's say I want to find a string in the notebook (`cmd+f` from browser or simply `f` from notebook)
Would be nice to have the focus move directly to the corresponding cell where I stop the search (press `esc` with the browser option), or where I click in one of the found instances  (this feature does not exist yet - notebook option)  - _even better if it's directly in the editing mode_ .

[2017-01-19 16:18] stuaxo opened #2052 "Splitting and Merging Cells ?"
It would be great if you could right click and split a cell into two at some point.

Similarly, being able to control-click to pick adjacent cells of the same type and then have some way of merging them would be useful.

[2017-01-19 16:23] takluyver commented on #2052
Ctrl+Shift+- while editing a cell should split it at the cursor. We've not yet gone down the road of custom right-click menus.

You can use Shift+(up/down) to select a range of cells, and then Shift+M to merge them.

[2017-01-19 17:03] stuaxo commented on #2052
Cheers - I see I should have checked in the help to see the awesome cheatsheet.

Some UI at some point in the future would definitely be nice for this.

[2017-01-19 19:33] Nagasaki45 opened #2053 "Python 3.6 underscores in numeric literals are not highlighted correctly"
Python 3.6 supports underscores in numeric literals (PEP 515). They are currently not highlighted correctly:

![Problematic highlighting of numberic literal with underscore](https://cloud.githubusercontent.com/assets/2564187/22121982/f5cd895a-de7d-11e6-94be-19bf46d458fb.png)

[code]

[2017-01-19 23:43] bogdanteleaga opened #2054 "Flaky ligatures in Python code"
As can be seen in the image, some ligatures do not show up in Python code, while they do work in the comments, javascript or markdown parts. Seems to happen because `!`, `<`, `>` are highlighted, while `=` is not. Is there any simple way to fix this?

![image](https://cloud.githubusercontent.com/assets/6207800/22129893/06da9c80-dea9-11e6-8317-8ef8e87fd22d.png)

[2017-01-20 00:34] gnestor commented on #2037
@takluyver Agreed! I've spent some time investigating the Safari issue and what I've concluded is that it was introduced in CodeMirror 5.17. To quote from https://github.com/codemirror/CodeMirror/issues/4454#issue-196746612:

I will keep trying to isolate the issue. If it's not resolved by 5.0 release time, let's try patching CodeMirror.

[2017-01-20 00:51] bogdanteleaga commented on #2054
Fixed it by editing the codemirror js.

[2017-01-20 00:51] #2054 closed

[2017-01-20 01:39] psahu commented on #270
I got the same import error while opening ipython notebook after I upgraded my pip. I tried everything suggested above including uninstalling anaconda (which did not uninstall for some reason) but nothing worked. While reviewing anaconda documentation, I thought of updating my conda and anaconda to see if that would help. Luckily, it did the trick. Once again, my jupyter notebook is up and running

[2017-01-20 04:55] themrmax commented on #2053
@Nagasaki45 the code highlighting is provided by [CodeMirror][1], can you please raise this issue in their bug tracker?

[1]:https://github.com/codemirror/CodeMirror/

[2017-01-20 05:00] themrmax commented on #2051
Just noticed this is supported in the "code editor" mode (ie when you open file which isn't a notebook), but not the notebook mode. I wonder if this feature could be ported from there?

[2017-01-20 12:49] ggrrll commented on #2051
also another way of looking at this, is to enable the _cmd+find_ (_not_ find&replace)  for _all_ cells...

[2017-01-20 12:52] Nagasaki45 commented on #2053
Hi @themrmax, I would definitely do this, but I couldn't find which version of CodeMirror I'm using. Do you know the exact version (based on the information I provided above) or suggest a way to check it?

[2017-01-20 13:19] takluyver commented on #2053
The version the notebook uses is encoded in [bower.json](https://github.com/jupyter/notebook/blob/master/bower.json). You can check that at the tag of the version you have installed. In master we're currently back on an older release to avoid a Safari bug.

You can also test on [this CodeMirror demo page](http://codemirror.net/mode/python/index.html), which should be more up to date.

[2017-01-20 13:47] Nagasaki45 commented on #2053
CodeMirror issue added: https://github.com/codemirror/CodeMirror/issues/4506.

[2017-01-20 13:50] ggrrll commented on #2051
a _partial_ solution  (for mac os) would be what I [posted here](http://apple.stackexchange.com/questions/269476/merging-keyboard-shortcuts/269506#269506)

[2017-01-20 13:51] takluyver commented on #2054
Can you describe in more detail what you changed? Other people might be interested in making those ligatures work too.

[2017-01-20 14:55] takluyver commented on #2045
If I make the block maths (`$$` delimited blocks) start at the beginning of a line, without leading spaces, it renders correctly. At present, nbconvert only handles block math correctly if it's at the start of the line.

@michaelpacer this is a discrepancy between our processing of math blocks in the live notebook and in nbconvert. I don't have a particular feeling about which behaviour is better.

[2017-01-20 15:16] takluyver commented on #2040
I agree that autoclosing brackets can be tricky, but not that it should be removed entirely.

Here's how you can set it in frontend config with the current code:

[code]

To restore the default, do the same with `None` in place of False.

[2017-01-20 15:37] chakpongchung commented on #2045
Thank you for looking at it!

"make the block maths ($$ delimited blocks) start at the beginning of a line, without leading spaces"

I have modified this part:
$$ \vec{R} = \begin{bmatrix} R{x} \ R{y} \ R_{z}

     \end{bmatrix}
    =
     \begin{bmatrix}
       i L_{x} \\
       i L_{y} \\
       i L_{z}
     \end{bmatrix}
              =
     \begin{bmatrix}
       \frac{i}{2}(L_{+}+L_{-} ) \\

[2017-01-20 15:51] takluyver commented on #2045
That sounds right. Here's a copy where the rendering works for me:

http://nbviewer.jupyter.org/gist/takluyver/ed0c6030eb07ab2d76f74d3e295e7b75

[2017-01-20 16:10] chakpongchung commented on #2045
Thanks!

It seems like you are using python 3?

[2017-01-20 16:35] takluyver commented on #2045
Yep, though it shouldn't affect the Markdown.

[2017-01-20 17:14] gnestor commented on #1747
@ggrrll I suggest that you create a feature request issue on the https://github.com/jdfreder/jupyter-tree-filter repo.

[2017-01-20 17:14] #1747 closed

[2017-01-20 18:32] chakpongchung commented on #2045
Anyway thank you for the help!

[2017-01-20 18:33] #2045 closed

[2017-01-21 00:47] oldgeeksguide commented on #2037
Thanks for the detailed info on the patch!

[2017-01-21 01:59] gnestor commented on #2037
Ok, I've isolated this bug to this commit: https://github.com/codemirror/CodeMirror/commit/e60f4b7dd88b71e227f79200932c028ca047d78e

We'll see if we can fix it on the CM side... @takluyver Any idea why this commit is causing this behavior?

[2017-01-21 02:02] ruxi commented on #2037
whats the recommended workaround for this?

[2017-01-21 02:17] gnestor commented on #2037
You can try @bede's patch: https://github.com/jupyter/notebook/issues/2037#issuecomment-272466046

[2017-01-21 11:25] dkrenn opened #2056 "fresh installation fails on current master with "No such file or directory""
`git clone ...` and `pip install -e . --user` fails on current master `58c66ef45 Merge pull request #1984 from jasongrout/resize` with
`error: [Errno 2] No such file or directory: '/local/dakrenn/sage/jupyter-notebook/node_modules/proptypes'`.
It works with the 4 days older `68a514a29 Merge pull request #2033 from vlimant/master`.

[2017-01-21 12:11] dkrenn opened #2057 "fresh installation fails on recent master with "Promise is not defined""
`git clone ...` and `pip install -e . --user` fails on recent master `68a514a29 - Merge pull request #2033 from vlimant/master` with
`ModuleBuildError: Module build failed: ReferenceError: Promise is not defined`.
It works with 4.3.1.

[2017-01-22 00:20] David-OConnor commented on #1151
This feels like counterintuitive behavior; it'd be nice to have an option to allow notebook-backend figures to appear in the cell you call them from.

[2017-01-22 06:48] codeisnotcode commented on #2040
Outstanding! Thanks!

[2017-01-22 07:48] jinmehta13 commented on #1664
Hey @Carreau, I finished up my undergrad in Computer Science and Engineering this past May. Still looking for a job but my internship experiences worked with a single page web application and a lot of IPython Notebooks with pandas, NumPy, and matplotlib. Like I mentioned earlier, new to open source but looking to be an involved contributor to a project and this seemed like a good fit given my fami

[2017-01-22 09:00] ggrrll commented on #1661
Hi,

as @gnestor suggested, version 4.3.1 should persist the user configaration also after server restart.
How can I get that version?

After `pip3.5 install -U jupyter`  I still have `jupyer --version` -> 4.2.1

Thanks

[2017-01-22 11:02] ggrrll opened #2058 "Cycle among findings in search box"
Hi,

another important feature that should be added is the possibility to cycle through all the results returned, after I search for something in the search box - in the _notebook editing mode_.

For now, by pressing 2 times <kbd>return</kbd>, you are  able to comment the cell - therefore actually deleting what you searched for.

In the end you should  be asked, for instance, if you want to start

[2017-01-22 21:28] MatthewKleinsmith opened #2059 "jupyter --version is incorrect"
### From the terminal:

![jupyter_version_false](https://cloud.githubusercontent.com/assets/8968171/22186194/8d6d4032-e0a6-11e6-8f03-901f97cd850a.png)

### From the notebook:

![jupyter_version_true](https://cloud.githubusercontent.com/assets/8968171/22186193/8d6bf86c-e0a6-11e6-9e67-0d00bf21ffd1.png)

[2017-01-22 21:31] SylvainCorlay commented on #2059
Hi Matthew,

jupyter is not the notebook. It is a meta package having a dependency on
notebook, and therefore it can have a different version number.

Sylvain

On Sun, Jan 22, 2017 at 10:28 PM, Matthew Kleinsmith <
notifications@github.com> wrote:

[2017-01-22 21:35] #2059 closed

[2017-01-22 21:49] themrmax commented on #2053
Cool Martin has fixed this in codemirror/master, we should bump our codemirror version when he marks a new version
https://github.com/codemirror/CodeMirror/commit/39ad3b619ba9ea481f2847fb85aed647b67d17d1

[2017-01-22 22:51] gnestor commented on #1661
@ggrrll `jupyer --version` returns the jupyter core version (4.2.1 is the latest). Try `jupyter notebook --version`.

[2017-01-23 00:23] jinmehta13 commented on #1664
@Carreau so I can add the console message like so:

`<script>console.log('Welcome to Project Jupyter! Explore the various tools available and their corresponding documentation. If you are interested in contributing to the platform, please visit the community resources section at http://jupyter.org/community.html.')</script>`

I added that at the bottom of the "head.html" file but I'm not sure if t

[2017-01-23 02:36] Carreau commented on #1664
Thanks @jinmehta13 ! That's seem like a good message and a good place. You can make a PR directly on the website repository.

The message is great !

Thank you for the feedback on the doc as well, we'll see if we can improve the instruction. It's true that few of us have windows machines available and are used to windows, so the instruction are often lacking.

[2017-01-23 03:04] jinmehta13 commented on #1664
@Carreau thanks, PR made with the website repo. I'll get working on the notebook version and I'll provide feedback on that setup process too.

[2017-01-23 03:56] Carreau commented on #1664
Thanks ! It's live !

[2017-01-23 05:57] jinmehta13 commented on #1664
@Carreau, question regarding the console message for the notebook (I got a development version of the notebook up and running by the way): is the message to be displayed in the user's terminal or in the browser console when the notebook app launches?

[2017-01-23 06:18] jinmehta13 commented on #1664
Also, is `notebook/notebook/templates/tree.html` an appropriate place for the message if it's to be displayed in the browser console?

[2017-01-23 06:39] dkrenn opened #2060 "add event for finished execution of cell"
At the moment, there are is no event that signals the completion of the evaluation/execution of a code cell (FYI, there is one, if the execution starts). The aim of this issue is to implement such an event.

[2017-01-23 08:12] ggrrll commented on #1661
Thanks... indeed it gives 4.3.1 , but still, when I re-start the kernel it still re-open the toolbar and header
( maybe there are conflicts with `Nbexstensions` ?  )

[2017-01-23 10:02] thekuroro opened #2062 "Jupyter notebook and jupyter console won't start on win 10"
Hello guys i tried many time to install and reinstall anaconda but I all way end with the same problem, went I try to launch jupytrer notebook or jupyter console it crash and give me the message below, does anyone knows how to solve it ?

Thank's

Traceback (most recent call last):
  File "C:\Dev\Anaconda3\Scripts\jupyter-console-script.py", line 4, in <module>
    app.main()
  File "C:\Dev\Anacon

[2017-01-23 14:27] jbeezley opened #2063 "server extensions not loaded when installed to different locations"
If two extensions are installed, one with flag `--user` and another with `--sys-prefix`, then they are both listed by `jupyter nbextension list`, but only one is actually loaded when the server starts.  I suspect the configuration objects are being over-written rather than merged.

See the following issue for more details: https://github.com/OpenGeoscience/geonotebook/issues/70

[2017-01-23 15:59] chris246 opened #2064 "Configurable notebook permissions (file based)"
For our multi-user setup of Jupyter (using JupyterHub on Debian Linux) we need to grant writing access to the owning group of a Notebook.
Per default, Jupyter creates Notebooks that are writeable only for the creating user (and readable for the group and everyone else).

A possible approach would be to allow the configuration of Unix permissions in the configuration file of Jupyter and evaluate an

[2017-01-23 17:20] Carreau commented on #1664
@jinmehta13 I was thinking in the JS console, but we could have something in the terminal as well. It should not be too hard.

I would try to add th message in one of the `main.js` likely, for the notebook we try to separate cleanly the html from the javascript.

You can also try to figure out if the developer tools are getting opened, and re-print the message in the JS console if it has been. How

[2017-01-23 19:45] pylang commented on #1999
Re: editing canvas-like images in notebooks
https://github.com/uclmr/egal

[2017-01-23 20:32] takluyver commented on #1992
See jupyter/jupyter_core#96.

[2017-01-23 21:59] nimasasa commented on #1331
Hi,
Does anybody know how we can use matplotlib (inline) on Jupyter? My kernel dies when I am using this package. I am using WSL. I know it does not support graphical applications officially. But I was able to use Xming. Now, my problem is I can have anaconda and Jupyter on my chrome to run my codes, but when I am trying to plot something, my python kernel dies.

Nima

[2017-01-23 22:29] takluyver commented on #2059
To check the version number of the notebook at the command line, you can run `jupyter notebook --version`

The version number you get with `jupyter --version` is actually that of [jupyter_core](https://pypi.python.org/pypi/jupyter_core), a common base piece which all Jupyter applications depend on, rather than than the jupyter metapackage.

[2017-01-23 23:10] gnestor commented on #1661
@ggrrll My mistake, the PR for this feature (https://github.com/jupyter/notebook/issues/1769) is targeted for notebook version 5.0, so it is not available in 4.3.1. We are working towards a 5.0 release, so in a couple weeks you should have this feature 👍

[2017-01-24 02:42] aseering commented on #1331
Hi @nimasasa -- for what it's worth, matplotlib works fine for me.  That said, I'm using a recent [Insider Build](http://insider.windows.com) of Windows despite its potential bugs, because its support for Linux features is so much better.

[2017-01-24 02:58] willingc commented on #1331
@nimasasa Check that your versions are up to date too.

[2017-01-24 03:14] nimasasa commented on #1331
@aseering and @willingc thanks for your responses. I am currently using the updated windows (but not the insider build -- unfortunately cant use it on my work PC) and my notebook is 4.2.3.

[2017-01-24 03:19] willingc commented on #1331
If you haven't already done this, try running `%matplotlib inline` in a cell before plotting.

[2017-01-24 05:53] jinmehta13 commented on #1664
@Carreau, I moved the console message into `..notebook/static/tree/js/main.js`. I looked around between Stack Overflow and the Chrome/Firefox APIs and I don't think there's any sound way to detect if the dev tools are being opened.

Also added the console message into the terminal output between the Control-C exit information and authentication token. That change was made in the `../notebook/noteb

[2017-01-24 06:02] vivekteega commented on #1147
@coconutattitude - Changing the python kernel in Jupyter notebook to 'Python [conda root]' worked for me. Qtconsole is back, thanks man! :D

[2017-01-24 10:49] takluyver commented on #2062
What do you get from:

[code]

[2017-01-24 10:51] takluyver commented on #2063
Are they both listed as enabled?

[2017-01-24 10:53] takluyver commented on #2064
Maybe this is something that would make more sense to do in Jupyterhub?

[2017-01-24 13:58] jbeezley commented on #2063
Yes, for example:
[code]
[code]

I get validation errors, but I think those are unrelated.  With this setup, geonotebook's server extension is not initialized.  Once I delete the user config at `~/.jupiter`, it works again.

[2017-01-24 15:31] minrk commented on #2064
I think setting default permissions needs to be done at the FileContentsManager level. I'm happy for an option / different defaults in JupyterHub if that makes sense, but I think the option needs to be exposed somewhere in the single-user code. Unless setting `umask` for the process is enough, in which case JupyterHub can do it at the Spawner level.

[2017-01-24 16:56] ggrrll opened #2067 "Cycle among 'find' results"
Hi,

in the script viewer (when I open for instance a .py file - _not a notebook_), after typing the string you are looking for in the search-box, you should be able to _cycle among instances until you reach the one you wanted_ ,
and not being able directly to edit after the 2nd time you press the 'return' key - like in other editors.

Thanks as usual for the support.

[2017-01-24 16:57] takluyver commented on #2056
I don't get this error, nor the one you describe in #2057. Are you still experiencing them? Can you provide more details about your system (OS, Python version, pip version)?

[2017-01-24 18:00] ggrrll commented on #1584
I would appreciate as well that feature -  I can simply show here the case for safari
<img width="432" alt="spell_check_integration" src="https://cloud.githubusercontent.com/assets/15370425/22259873/4cdc0586-e267-11e6-871f-fc8163cf4649.png">

[2017-01-24 18:09] ggrrll commented on #2067
the solution might be similar to the one for  #2058

[2017-01-24 18:14] ggrrll commented on #1684
@mikebotazzo isn't' 'h' what you were looking for?   - maybe you can close this?

[2017-01-24 22:51] kikocorreoso opened #2069 "Errors on 'Custom front-end extensions' docs"
Hi all,

Reference: http://jupyter-notebook.readthedocs.io/en/latest/extending/frontend_extensions.html#custom-front-end-extensions

I'm updating some of my stuff and I was re-reading some docs. When I arrive to this [example](http://jupyter-notebook.readthedocs.io/en/latest/extending/frontend_extensions.html#defining-and-registering-your-own-actions) I think there are some issues:

* In the line

[2017-01-25 01:17] rainwoodman commented on #2030
How is this going?
I just worked with a new Jupyter notebook user who complained more than 5 times about not being able to fold chunks of the file like Mathematica.
The vertical visible area of a notebook is only about half (between half and 2/3) of screen on her moderate mac book (the top bar, the browser bars, the tab bar, the scroll bar, then the Jupyter banner)

So usually a cell and the figur

[2017-01-25 04:48] gnestor opened #2071 "Tree > Open a text file (or any editable file other than ipynb) > Blank page"
This appears to be a regression in 4.2 or 4.2.1. Possibly related to https://github.com/jupyter/notebook/commit/11bd42c35322b7914fdc7e7097b1a5b8a0623c7f.

https://github.com/jupyter/notebook/blob/master/notebook/static/edit/js/main.js#L46

[code]

[2017-01-25 05:46] gnestor commented on #2067
I'm going to close this as it's a duplicate of https://github.com/jupyter/notebook/issues/2058

[2017-01-25 05:46] #2067 closed

[2017-01-25 05:50] gnestor commented on #2058
I agree that this would be better and the current workaround is to use the browser's native find feature by just clicking outside of the CodeMirror text field and pressing CMD+F (or CTRL+F). Given that, we may be better off just disabling the CodeMirror find feature (except its regex search feature is nice).

[2017-01-25 06:07] gnestor commented on #2056
It looks like you need to do an `npm install` and `npm run build`, then `pip install -e .`.

[2017-01-25 06:07] gnestor commented on #2057
Same as https://github.com/jupyter/notebook/issues/2056, try `npm install` and `npm run build`.

[2017-01-25 06:18] #2052 closed

[2017-01-25 06:26] gnestor commented on #2051
Similar: https://github.com/jupyter/notebook/issues/2058

[2017-01-25 06:35] gnestor commented on #2050
This is a bug. I will take a look at this when I have a chance, but the culprit is here: https://github.com/jupyter/notebook/blob/master/notebook/static/notebook/js/notebook.js#L1100-L1167

[2017-01-25 06:37] gnestor commented on #2049
I can't reproduce. Please provide a link to an example notebook.

[2017-01-25 06:46] gnestor commented on #2047
Similar: https://github.com/jupyter/notebook/issues/2044

[2017-01-25 06:47] #2040 closed

[2017-01-25 08:33] dkrenn commented on #2056
@gnestor: `npm run build` seems to be called by my `pip install ...` because, typing in this manually as you suggested gives the same error as mentioned at the top.

[2017-01-25 08:36] dkrenn commented on #2056
@takluyver: Yes, still experiencing these problems. I use Linux Mint 17.3, Python 2.7.6 (same troubles with Python 3.4.3), pip 9.0.1.

[2017-01-25 10:01] #2060 closed

[2017-01-25 11:11] takluyver commented on #2069
Yup, I agree. PR welcome for that.

Looking at the code, I think that should work, so if it's going wrong, there's an issue in the code. @Carreau may want to investigate.

I think it should work with either - unless it has a specific significance, I think that code should ignore a trailing slash on paths. So if you want to make a PR for that, I'd rather it was fixed in the code than the docs.

[2017-01-25 13:10] #1992 closed

[2017-01-25 13:14] minrk commented on #1514
closed by #1553

[2017-01-25 13:14] #1514 closed

[2017-01-25 13:20] kikocorreoso commented on #2069
Just to provide some context, all my tests were made in a new conda env, installing jupyter from conda and tested on Linux and windows 7 (32bits). The extensions were always installed using `--sys-prefix` option. Here is a list of the packages installed in the conda env in the w7 box:

[code]

Tested in both, linux and windows and I can't see an error but the button is not in the frontend. I've tr

[2017-01-25 13:28] minrk commented on #355
Going through backlog for 5.0. I think the current situation makes the most sense to me:

1. mathjax can still be disabled for deployments with mathjax security concerns
2. The notebook cannot be *installed* without mathjax, so the removal in #323 was correct (distros installing without mathjax should be considered broken)

But if we do want to remove the ability to run without mathjax, I'm also f

[2017-01-25 15:58] gnestor commented on #2056
@dkrenn `error: [Errno 2] No such file or directory: '/local/dakrenn/sage/jupyter-notebook/node_modules/proptypes'` suggests that `proptypes` has not be installed. notebook still depends on a couple npm packages, namely `preact` and `preact-compat` and `proptypes` is a dependency of `preact-compat`:

[code]

[2017-01-25 16:01] gnestor commented on #2057
`ModuleBuildError` sounds like a webpack error. We recently removed webpack from notebook, so if your local copy if up-to-date with upstream master (double-check!) and you're still seeing this, try `git clean -xfd` and `pip install -e .`.

[2017-01-25 18:47] minrk commented on #2071
That commit makes sense that it could cause such an error, but it wouldn't affect 4.2, since that commit is only in master. Can you see this error in a 4.2 release?

[2017-01-25 18:58] glampr opened #2072 "Cannot edit .rb files from the notebook dashboard"
While clicking on all other files, opens them in an editor page, when clicking on *.rb files the browsers downloads the file instead of opening it in an editor.
The *.rb don't have any special permissions or chmod settings, i.e. txt, py, etc. files with the exact permissions and settings open in the editor.

Is there a way to configure which extensions to open in the editor?

[2017-01-25 19:10] gnestor commented on #2071
Yes, I only see this is master. I tried the 4.2 branch and it works as expected.

[2017-01-25 19:22] minrk commented on #2071
Mark as 5.0, not 4.3, then?

[2017-01-25 19:34] minrk commented on #2071
#2073 ought to do it.

[2017-01-25 20:08] fbertsch opened #2074 "Can't upload into a mounted dir"
We use Jupyter Notebooks on EMR clusters to do analysis with Spark. I'm playing around with EFS mounted directories. When I have jupyter notebook running on a mounted dir, I can't upload a file (though I can open and run files just fine.)

[2017-01-25 21:39] #2071 closed

[2017-01-25 21:39] #2037 closed

[2017-01-25 21:52] gnestor commented on #2072
I can't reproduce using notebook 4.3.2 or master. I click on a `.rb` it open in the editor.

![screencap](http://g.recordit.co/yYErksOnJP.gif)

[2017-01-25 21:53] gnestor commented on #2074
Ping @rgbkrk

[2017-01-25 22:03] foice opened #2075 "timeout error on a large notebook (Collapsible headings do not show up anymore)"
Hi, as discussed in [822](https://github.com/ipython-contrib/jupyter_contrib_nbextensions/issues/822) I am stumbling in a problem of timeout when loading exetensions (Collapsible headings in my case) on load of a large notebook.

For small notebook the extension loads fine, only when the notebook has too many section to collapse I get a timeout error.

As suggested in  [822](https://github.com/ipy

[2017-01-25 22:09] glampr commented on #2072
Using notebook 4.3.1 via JupyterHub 0.7.2 (just upgraded), and the problem is still there.
Even happens when I create new text file from the Jupyter web UI, the moment I save it as .rb file, it won't open in the editor anymore.

Is this something that was fixed from 4.3.1 -> 4.3.2 ?

What could cause this?
Is there a setting in jupyter regarding which extension/file types to view in editor or down

[2017-01-25 22:21] gnestor commented on #2036
Hi @lincolnfrias! This is possible because the notebook uses CodeMirror and CM supports "swapLineUp" and "swapLineDown" commands as apart of its Sublime Text keymap bindings. The following tutorial will explain how you can [edit your custom.js file](http://jupyter-notebook.readthedocs.io/en/latest/examples/Notebook/JavaScript%20Notebook%20Extensions.html#custom.js) and add [something like this] to

[2017-01-25 22:22] gnestor commented on #2036
I'm going to close this as [we don't plan on supporting this out-of-the-box](http://blog.rtwilson.com/how-to-get-sublime-text-style-editing-in-the-ipythonjupyter-notebook/).

[2017-01-25 22:22] #2036 closed

[2017-01-25 22:25] takluyver commented on #2072
Probably to do with what mimetype the system tells us .rb files are. Can you try (in Python):

[code]

If it doesn't get a `text/something` mimetype, we won't try to edit it.

[2017-01-25 22:34] rgbkrk commented on #2074
What happens when you try to upload a file?

[2017-01-25 23:07] glampr commented on #2072
You are correct, python replies with ```('application/x-ruby', None)```.

Solution was to use the output of ```mimetypes.knownfiles``` and check the contents of these files for the mapping ```('application/x-ruby', None)``` which I replaced with ```('text/x-ruby', None)``` and now editing works!

Thanks for pointing me to the right direction.

[2017-01-25 23:07] #2072 closed

[2017-01-25 23:13] fbertsch commented on #2074
So the process is:
1. I click upload, select my file from the directory viewer
2. Try and press "Upload" next to the file to be uploaded

I get the following:
[code]

Looking at this, I'm *guessing* there's nothing you can do...

[2017-01-26 00:25] gnestor commented on #2035
This is a good point! The notebook uses Bootstrap and jQuery, so this should be trivial...

[2017-01-26 00:32] BBischof commented on #2035
🙌

[2017-01-26 00:36] gnestor commented on #2075
This sounds like it may be an issue with the implementation of the extension. I suggest that an issue be posted on its repo vs. notebook.

https://github.com/ipython-contrib/jupyter_contrib_nbextensions/blob/master/src/jupyter_contrib_nbextensions/nbextensions/collapsible_headings

Is this the extension you're using?

[2017-01-26 00:39] gnestor commented on #2031
I should add that [nteract](https://nteract.io/), being a desktop app, provides this functionality.

[2017-01-26 00:40] gnestor commented on #2031
I'm going to close this but let us know if you figure out a way to enable this 👍

[2017-01-26 00:40] #2031 closed

[2017-01-26 00:44] gnestor commented on #2030
There is a notebook extension for this: https://github.com/ipython-contrib/jupyter_contrib_nbextensions/tree/master/src/jupyter_contrib_nbextensions/nbextensions/collapsible_headings

I'm not sure about its current state or compatibility, but if nothing else it's a reference implementation.

[2017-01-26 00:45] gnestor commented on #2075
Similar: https://github.com/jupyter/notebook/issues/2030

[2017-01-26 00:48] gnestor commented on #2034
I'm going to close this as the issue is being tracked at https://github.com/jupyter/nbconvert/issues/361

[2017-01-26 00:48] #2034 closed

[2017-01-26 00:51] gnestor commented on #2027
Ping @Carreau

[2017-01-26 00:54] gnestor commented on #2025
Ping @Carreau

[2017-01-26 01:47] rainwoodman commented on #2030
Thanks for the link.

The particular case was affecting `new users` who likely have no idea how to install an extension. Therefore I definitely would recommend including the feature as a builtin.

[2017-01-26 08:13] foice commented on #2075
Thanks for your suggestion. The issue I was referring to, https://github.com/ipython-contrib/jupyter_contrib_nbextensions/issues/822, is with the developer of the extension, who suggested to open an issue here.

Please let me know if I did not understand your message.

[2017-01-26 12:27] jcb91 commented on #2075
Hi @gnestor so after some debugging, I had this failure to load as a result of timeouts occur even for minimal nbextensions which just log a single line to console on loading, so concluded it was a more generic problem. It's a while since I looked at it though, so I may be wrong...

[2017-01-26 13:20] lincolnfrias commented on #2036
Ok, thanks for the tips.

On Wed, Jan 25, 2017 at 8:22 PM, Grant Nestor <notifications@github.com>
wrote:

[2017-01-26 16:33] jcb91 commented on #2075
so, yes, I can get this to occur for the following nbextension:

[code]

given a large enough notebook, which for me seems to be ~ 500 cells (I used the notebook in [this gist](https://gist.github.com/jcb91/286ae54c8d631501d543c495b2ad1e81) to make large numbers of cells).

[2017-01-26 18:25] Carreau commented on #2069
I've added that on my looong todo list. If someone can get it first, please do.

[2017-01-26 18:30] Carreau commented on #2025
Yeah, I think we have seen this one before. The problem is we have no clue why.
I'm going to guess a ZMQ/Qt event loop integration.

It's really complex to debug, and none of us a Qt5 experts. I'll add that on my loong todo list.

[2017-01-26 18:34] takluyver commented on #2069
@kikocorreoso if you have time, could you:

1. Open a doc PR for the `action_name` fix - I think that's simple and correct.
2. Work out what's going on with nbextension install and the trailing slash. I think that specifying a directory with a trailing slash should work exactly as specifying it without the trailing slash. If you can find what's going wrong, a PR to fix that would be welcome.

Then

[2017-01-26 19:11] bogdanteleaga commented on #2054
Sure, I edited [this](https://github.com/codemirror/CodeMirror/blob/39ad3b619ba9ea481f2847fb85aed647b67d17d1/mode/python/python.js#L45) line, by adding the ligatures I needed in there.

[2017-01-26 22:12] #2035 closed

[2017-01-27 00:55] ivanov commented on #1880
Related to this, in #2070, which was recently merged, I added a "Shutdown" menu item to the Kernel menu.

[2017-01-27 02:38] fbertsch commented on #2074
Alright, this is my fault. I just need to give the directory permissions. For any others that see this, just run `sudo chmod 777 $DIR` and things should work.

[2017-01-27 02:38] #2074 closed

[2017-01-27 09:10] kikocorreoso commented on #2069
@takluyver @Carreau

Sent a [PR](https://github.com/jupyter/notebook/issues/2077) for "1. Open a doc PR for the `action_name` fix - I think that's simple and correct."

Regarding the trailing slash (2.), Reading the [docs](https://github.com/jupyter/notebook/blob/master/notebook/nbextensions.py#L91):

[code]

I think the problem is [here](https://github.com/jupyter/notebook/blob/master/notebook/nb

[2017-01-27 14:01] rancherobeans commented on #1927
I've noticed that as iPython notebooks become longer Jupyter inevitably gets slower. Is there ever going to be  a way around this given Jupyter is running in the browser?

[2017-01-28 00:33] jaykinghorn commented on #1560
I have the same issue on Chrome. I don't believe I'm using Code Mirror anywhere. This was a notebook that showed this appearance upon open. (screenshot attached).
<img width="771" alt="screen shot 2017-01-27 at 5 32 39 pm" src="https://cloud.githubusercontent.com/assets/13428836/22392464/bd2091da-e4b6-11e6-9bd1-246c4caa2a8a.png">

[2017-01-28 11:51] takluyver commented on #2069
That does look likely to be the issue. I think calling `os.path.normpath()` on the path before passing it to basename should fix it; among other normalisations, that removes a trailing slash from the path.

No worries if you don't have time to get to the JS. I don't think any of us are very excited about trying to debug it!

[2017-01-28 15:42] ggrrll opened #2079 "Add parenthesis in auto-completion"
Hi all,

what about having an autocompletion that adds _also the parenthesis_ , when I select the completion, with 'tab' + 'return' ?

(for instance, for pandas dataframe (df): shape stays as `df.shape`, but for _head_  I would like to get `df.head()`, instead of just `df.head`).

It would be quite helpful to skip fingers 'acrobatics' each time you have that kind of functions...

Thanks for your s

[2017-01-28 18:49] ggrrll opened #2080 "Multiprocessing cell gets the kernel stuck"
Hi,

I am running this code

[code]

where `my_loop` is my custom function that returns a list.
The processes stop from running but they are still loading the memory, as you can see in the screenshots
<img width="319" alt="screen shot 2017-01-28 at 19 39 39" src="https://cloud.githubusercontent.com/assets/15370425/22398938/37f04e7e-e592-11e6-80ec-cd8a16fe097a.png">
<img width="197" alt="screen sho

[2017-01-28 19:12] ggrrll commented on #2080
ok, sorry,

I realised that this is more an issue for stack overflow...

I get this error message from ipython3 console
`AttributeError: Can't get attribute 'my_loop' on <module '__main__'>`

[2017-01-28 21:50] #130 closed

[2017-01-29 08:44] #2080 closed

[2017-01-29 08:49] AmirIvry-aka-AI opened #2081 "Error Installing Jupyter Notebook"
Hey,

I downloaded anaconda exactly according to the site instructions. The installatoin was marked completed.

When typing "Jupyter notebook" or "jupyter notebook" in the cmd I got an error (screenshot attached).

Also, when trying to use pip, as in "pip install jupyter", it is writen "requirement already satisfied: jupyter in c:\users\dell\anaconda2\lib\site-packages"

Thank you
![error](https:/

[2017-01-29 08:56] ggrrll commented on #2080
problem solved by defining the pool in:

`if __name__ == '__main__':`

(but still, I don't understand why, as I run many simulations in the past without the need of `__main__`)

[2017-01-29 09:56] takluyver commented on #2081
If you run `conda list`, what version does it show for `notebook`. Try `conda update notebook` to make sure you have the latest. If you've got the latest version (4.3.1) and it's still showing that error, that sounds like an Anaconda packaging problem.

[2017-01-29 10:41] takluyver opened #2082 "test_get_spec failing on Jenkins"
I'm working on getting the jack-of-none builds (which tests master of all our repos together) running again on Jenkins. This came up:

[code]

[2017-01-29 22:33] themrmax commented on #2049
@gnestor did you try my example code? maybe you just have a faster computer than me?

[2017-01-30 14:04] #1752 closed

[2017-01-30 14:24] minrk commented on #2079
Interesting idea! This is probably a job for IPython's completions, and may be addressed by the upcoming switch to jedi in IPython 6.

[2017-01-30 14:34] silentsnooc opened #2084 "Keep cursor at last position after executing a cell with Ctrl + Return"
The shortcut <kbd>Ctrl</kbd> + <kbd>Return</kbd> is very convenient but it's a bit annoying that the cursor is not where it was before execution. One always has to click into the cell in order to continue typing. It's very often the case that I just want to check if I e.g. didn't mess up with dimensions or something similar thus I run the cell. However, this requires me now to grab the mouse to re

[2017-01-30 14:40] takluyver commented on #2084
You don't need to go for the mouse - if you press <kbd>Return</kbd> again after executing the cell, you should go back into edit mode with the cursor at the same place.

[2017-01-30 15:14] #2082 closed

[2017-01-30 15:29] takluyver commented on #2050
@gnestor I'm planning to aim for a 5.0 release quite soon. Do you think you'll have time to get to this?

[2017-01-30 15:57] Juanlu001 commented on #473
I'm also having this problem, and someone reported a similar issue on Stack Overflow: http://stackoverflow.com/questions/41125690/matplotlib-notebook-showing-a-blank-histogram

[2017-01-30 15:57] flying-sheep commented on #1135
maybe we should do another interim fix (or the real deal) for inspect requests

[2017-01-30 17:21] tritemio commented on #473
Just a temporary workaround. When switching from inline to notebook backend, you can run two cells with `%matplotlib notebook` and `plt.plot([])` respectively. Rerun the previous 2 cells (usually 3-4 times) until the figure appears. Once the figure appears, Matplotlib will work without issues for the rest of the session. Not a great solution, but better than nothing if you desperately need an inte

[2017-01-30 17:23] thomasaarholt commented on #473
@tritemio try just calling
[code]
a bunch of times in a cell, holding ctrl whilst pressing return. That should do the same as you suggest, but without having to wait for the plot.

[2017-01-30 17:53] #1586 closed

[2017-01-30 19:28] gnestor commented on #2050
Ya, I'll work on this today 👍

[2017-01-30 21:37] takluyver commented on #1960
@SylvainCorlay can you verify whether [this code](https://github.com/jupyter/notebook/blob/ba7e7186cf00287747a2681a9c36955eccdc0102/notebook/notebookapp.py#L284-L300) is now redundant? I'm trying to aim for a 5.0 release.

[2017-01-30 23:18] SylvainCorlay commented on #1960
Wow, I had no idea this was still around.

[2017-01-30 23:26] SylvainCorlay opened #2087 "Delayed evaluation of early-evaluated cells seems to cause ipywidgets "missing js issue""
In PR #1002, @jasongrout implemented the delaying of the evaluation of the cells that were executed before the kernel was up.

I think that this is what introduced the random jupyter widgets warning message on missing widgetsnbextension, which occurs when such early evaluation is attempted. Indeed, code is then executed before the notebook extension is loaded.

Ping @takluyver

[2017-01-30 23:27] takluyver commented on #1960
So I take it widgets hasn't needed it for some time, then? Do you know what version of widgets will be the minimum supported if that code is removed?

[2017-01-30 23:31] gnestor opened #2088 "Release 4.3.2"
GH Project for 4.3.2: https://github.com/jupyter/notebook/projects/7

* [x] Merge open PRs marked with 4.3.2: https://github.com/jupyter/notebook/pulls?q=is%3Aopen+is%3Apr+milestone%3A4.3.2
* [x] Backport all merged PRs marked with 4.3.2 (try `@meeseeksdev backport to 4.x`)
  * https://github.com/jupyter/notebook/pull/2068
  * https://github.com/jupyter/notebook/pull/2089
  * https://github.com/ju

[2017-01-30 23:32] gnestor commented on #2088
@takluyver @Carreau Are there any other patches that you would like to see included in 4.3.2?

[2017-01-30 23:45] takluyver commented on #2088
No, I don't think so. I'm trying to focus my efforts on getting 5.0 out soon.

[2017-01-31 00:00] SylvainCorlay commented on #1960
5.x are will be required.

[2017-01-31 11:23] takluyver commented on #1960
#2093 removes it

[2017-01-31 11:45] #1960 closed

[2017-01-31 12:33] minrk opened #2094 "Link with token from UI"
It would probably be convenient for users who switch browsers / toggle private browsing to be able to get a link with the auth token in the URL that can be copied from somewhere in the notebook UI. That way opening a new authenticated browser can be done easily from the already authenticated browser, without needing to get the token from `jupyter notebook list` in a terminal.

Possibly related:

-

[2017-01-31 13:51] #2069 closed

[2017-01-31 13:55] minrk commented on #1778
Frontend deps are no longer provided by npm.

[2017-01-31 13:55] #1778 closed

[2017-01-31 13:57] minrk commented on #1795
I think this is the webpack problems with custom.js that are fixed by removing webpack.

[2017-01-31 13:57] #1795 closed

[2017-01-31 14:10] minrk commented on #1241
Forgot to close this in #1827

[2017-01-31 14:10] #1241 closed

[2017-01-31 14:11] minrk commented on #1408
This was fixed by #1413

[2017-01-31 14:11] #1408 closed

[2017-01-31 14:30] takluyver commented on #1700
#2007 added `jupyter notebook password`. This should be released in 5.0.

[2017-01-31 14:30] #1700 closed

[2017-01-31 14:32] takluyver commented on #1654
I think this was fixed by #1891

[2017-01-31 14:32] #1654 closed

[2017-01-31 14:33] takluyver commented on #1640
@Carreau is this something we can get fixed for 5.0 (which I'm trying to make soon)? If not, please bump it to 5.1.

[2017-01-31 14:34] takluyver commented on #1639
@Carreau does this want a docs change for 5.0?

[2017-01-31 14:35] takluyver commented on #1627
Is this fixed (or easier to fix) now that we've dropped webpack?

[2017-01-31 14:42] takluyver commented on #1618
It looks like we already catch errors loading server extensions; that traceback is being logged to show what went wrong, but it shouldn't affect anything else. If you're still having other problems, please file a new issue describing those in more detail.

[2017-01-31 14:42] #1618 closed

[2017-01-31 14:43] takluyver commented on #1611
@Carreau is there anything you want to do here for 5.0?

[2017-01-31 14:45] takluyver commented on #1608
I couldn't easily reproduce this. @Carreau do you still see it?

[2017-01-31 14:46] takluyver opened #2097 "View and edit buttons show up when nothing is selected"
Ping @gnestor

![screenshot from 2017-01-31 14-45-55](https://cloud.githubusercontent.com/assets/327925/22469477/0ec38532-e7c4-11e6-9787-28a541e21f93.png)

[2017-01-31 14:49] takluyver commented on #1550
I think jupyter/jupyter_core#96 provides for this. Please reopen if there's something more to add.

[2017-01-31 14:49] #1550 closed

[2017-01-31 14:53] takluyver commented on #1546
#1557 was merged. Do we want to try to tackle the class-level cleanups as well? Or shall we close this?

[2017-01-31 14:56] takluyver commented on #1534
Couldn't reproduce on Firefox or Chrome on Linux.

[2017-01-31 14:58] takluyver commented on #1469
@parente can this be closed, as #1579 was merged?

[2017-01-31 15:03] takluyver commented on #1439
I think this is fixed now that we've dropped webpack again.

[2017-01-31 15:03] #1439 closed

[2017-01-31 15:03] minrk commented on #1640
I think this one is easy: Don't draw another dialog if one is already there. I can have a fix for that shortly.

 I think we have other Issues tracking when this dialog occurs spuriously, which I think we can't fix for 5.0.

[2017-01-31 15:08] takluyver commented on #1356
Is it realistic to fix this for 5.0?

[2017-01-31 15:11] takluyver commented on #1182
Closing as #1776 improved the default table style.

[2017-01-31 15:11] #1182 closed

[2017-01-31 15:11] #1469 closed

[2017-01-31 15:12] parente commented on #1469
Yes. Thanks @takluyver . Didn't realize this was still lurking.

[2017-01-31 15:12] takluyver commented on #1276
@Carreau now that the keyboard shortcut editor is there in master, can this be closed?

[2017-01-31 15:16] takluyver commented on #1207
We [catch exceptions](https://github.com/jupyter/notebook/blob/5eda1026d3dc40f000a2fc8b3b3f6cc912fff1cf/notebook/static/base/js/events.js#L32) from event handlers, but if an error in one handler prevents another from running, I don't think there's anything we can do, short of replacing jQuery events with a different system.

[2017-01-31 15:20] takluyver commented on #1108
It looks like people have reported several similar but distinct errors here. I suspect it may depend on what math you're displaying in the notebook. Does anyone have a sample notebook that consistently reproduces the error?

[2017-01-31 15:21] takluyver commented on #1106
Closing as we now have an 'edit' button in the UI, which should let you edit these files.

[2017-01-31 15:21] #1106 closed

[2017-01-31 15:21] takluyver commented on #1045
Anybody want to try tackling this for 5.0?

[2017-01-31 15:34] minrk commented on #1640
#2098 should do it.

[2017-01-31 15:39] takluyver commented on #929
@minrk do you know how to fix this?

[2017-01-31 15:41] takluyver commented on #872
Does anyone want to tackle this for 5.0, or shall we bump it again?

[2017-01-31 15:45] takluyver commented on #840
@minrk @Carreau are we any closer to being able to fix this in our LESS files?

[2017-01-31 15:54] MatthewSteen commented on #1439
I'm still seeing this on in Jupyter for 2.7.

---

**Jupyter - long cell magic applies Python highlighting to Ruby**

![image](https://cloud.githubusercontent.com/assets/8397034/22472054/af82af12-e791-11e6-9ad0-c8a4a9fe2caa.png)

**Jupyter - short cell magic highlights all code as a string**

![image](https://cloud.githubusercontent.com/assets/8397034/22472235/453a7526-e792-11e6-9ea0-bf576128f295.

[2017-01-31 15:55] takluyver commented on #660
I'm moving this to backlog - docs improvements are always welcome, but I want to make 5.0 happen!

[2017-01-31 16:03] takluyver commented on #624
Closing this as I don't see anything concrete to do.

[2017-01-31 16:03] #624 closed

[2017-01-31 16:04] takluyver commented on #601
A basic UI was added in #2048 for 5.0; I expect that as people start to use it we'll get a fancier UI.

[2017-01-31 16:04] #601 closed

[2017-01-31 16:06] takluyver commented on #578
This appears to have been done at some point; the example notebook now starts with the section about the dashboard.

[2017-01-31 16:06] #578 closed

[2017-01-31 16:07] takluyver commented on #355
That sounds OK. So is there anything left to do, or can this be closed?

[2017-01-31 16:08] takluyver commented on #184
Closing as this got implemented in #943.

[2017-01-31 16:08] #184 closed

[2017-01-31 16:10] #1641 closed

[2017-01-31 16:13] #1640 closed

[2017-01-31 16:16] takluyver commented on #1439
@MatthewSteen I don't think either of those is the same issue; this was about other kernels, rather than cell magics.

I think the case with `%%script` is expected: we don't try to do anything clever with highlighting for the `%%script` cell magic, so it will get the default syntax highlighting.

The issue with %%ruby is not expected, though - please can you file a new issue for that?

[2017-01-31 16:24] RobbeSneyders commented on #2062
I had the same problem.
[This answer on stackoverflow](http://stackoverflow.com/a/41521017/4098821) solved it for me.

[2017-01-31 16:32] gnestor commented on #2097
I've seen this before but I think it's an artifact of switching between branches. Try `npm run build` and hard-refreshing. That fixes it for me.

[2017-01-31 16:41] gnestor commented on #1795
@minrk I tested and with the following custom.js:

[code]

I am seeing `custom.js` being logged first (which is expected) but no `app_initialized.NotebookApp`.

[2017-01-31 16:44] Carreau commented on #840
AFAICT, no, not without updating to new bootstrap.

[2017-01-31 17:03] takluyver commented on #840
Bumped from 5.0 to backlog so we can try to get to a release.

[2017-01-31 17:09] silentsnooc commented on #2084
@takluyver Thanks, I didn't know that. I'd prefer it to get there back on its own but at least it works with <kbd>Return</kbd>. :)

[2017-01-31 17:09] Carreau commented on #1639
I think we can bump to a 5.1, but it woudl be nice to have that on stable docs.

[2017-01-31 17:10] Carreau commented on #1611
Hum, check if the keyboard shortcut editor still works.

[2017-01-31 17:14] silentsnooc opened #2100 "Display a file description in the notebook file browser for a better overview in larger projects"
In larger projects it can get a bit annoying to find one particular file with "those particular lines I really need to see right now". So, in order to find it more quickly, how about display the content of the first cell if it's a markdown cell in the overview?

It could look something like this:

![screenshot from 2017-01-31 18-16-53](https://cloud.githubusercontent.com/assets/1429426/22476108/76

[2017-01-31 17:16] tachim commented on #1795
Oops, missed these notifs. @gnestor, are the steps you suggested in https://github.com/jupyter/notebook/issues/1795#issuecomment-251822448 still the right things to try?

[2017-01-31 17:27] gnestor commented on #1795
The current release is 4.3.1, so I suggest upgrading...

This should no longer be an issue.

[2017-01-31 17:34] gnestor opened #2101 "Error output when running tests"
I'm seeing the following when running the Python tests:

[code]

[2017-01-31 17:38] MatthewSteen opened #2102 "cell magic syntax highlighting (Ruby)"
I'm seeing this in Jupyter for 2.7. See [this comment](https://github.com/jupyter/notebook/issues/1439#issuecomment-276402940) and the following one by @takluyver.

* jupyter_client-4.4.0
* jupyter_console-5.0.0
* jupyter_core-4.2.0

---

**Jupyter - long cell magic applies Python highlighting to Ruby (expected)**

![image](https://cloud.githubusercontent.com/assets/8397034/22472054/af82af12-e791-

[2017-01-31 17:40] takluyver commented on #2084
No problem. I don't think we're going to change how it works, because it was a deliberate decision to switch into command mode there, allowing you to quickly move to other cells if you want to, and also because people are used to that.

[2017-01-31 17:42] takluyver commented on #2100
Interesting idea. We're reluctant to show anything in the list that requires reading the file, though, because that makes it slower to show the list, especially with many files.

[2017-01-31 17:44] gnestor commented on #2101
The following is my output when I run the js tests (it hangs indefinitely on the mockextension group):

[code]

[2017-01-31 17:46] blink1073 commented on #2101
Hmm, we're importing `SYSTEM_JUPYTER_PATH` [here](https://github.com/jupyterlab/jupyterlab/blob/d14174875712c9ad24bea31be0d54a31daa18b27/jupyterlab/labextensions.py#L19), looks like we need to check if it is empty.

[2017-01-31 17:47] silentsnooc commented on #2100
It surely could have an impact on the performance although I don't know exactly what it would take to get that information out of the .ipynb file or whether one could "cache" that somewhere. There could also be a checkbox to enable/disable this function - just throwing in some ideas :)

All I can say is that a lot of files make it sometimes hard to find the right one and sometimes in larger projec

[2017-01-31 17:47] takluyver commented on #2101
For the former, check that your `jupyter_core` is up to date. I don't think that there should be any case where SYSTEM_JUPYTER_PATH is an empty list (unless conda packaging changes it?)

[2017-01-31 17:47] blink1073 commented on #2101
(Thomas' answer makes more sense).

[2017-01-31 17:49] blink1073 commented on #2101
nbextensions are using the same pattern: https://github.com/jupyter/notebook/blob/2eb7bf19530252247dc9b112016080733b150352/notebook/nbextensions.py#L1013

[2017-01-31 17:50] blink1073 commented on #2101
The second issue looks like a symptom of the first.

[2017-01-31 18:01] takluyver commented on #2097
You're right, sorry about that.

[2017-01-31 18:01] #2097 closed

[2017-01-31 18:05] takluyver commented on #2102
What version of the `notebook` package do you have? If you've got time, can you try installing from master (see [setting up a development environment](http://jupyter-notebook.readthedocs.io/en/latest/contributing.html#setting-up-a-development-environment))?

I think it's [this code](https://github.com/jupyter/notebook/blob/2eb7bf19530252247dc9b112016080733b150352/notebook/static/notebook/js/cell.j

[2017-01-31 18:06] gnestor commented on #2101
Thanks, guys!

I tried `pip install --upgrade jupyter-core` but no luck.

I ran a `conda list` and I have a couple jupyter-cores:

``
jupyter-core              4.2.1                     <pip>
jupyter-core              4.2.0                     <pip>
jupyter-react             0.1.3                     <pip>
jupyter_client            4.2.2                    py35_0
jupyter_console           4.1.1

[2017-01-31 18:06] takluyver commented on #2101
That's a bit disturbing that there are two different versions. Try uninstalling with both pip and conda, and then installing it again with just one.

[2017-01-31 18:07] takluyver commented on #2101
Correction, three versions. Even worse.

[2017-01-31 18:09] MatthewSteen commented on #2102
I have `notebook-4.2.3-py27_0`.

[2017-01-31 18:11] takluyver commented on #2102
Can you try with the latest version, currently 4.3.1?

[2017-01-31 18:16] gnestor commented on #2101
Ok, I'm upgraded:

[code]

I should mention that I've installed all extensions using `--sys-prefix` and cleared out any extension config in nbconfig and labconfig in my user directory.

[2017-01-31 18:33] MatthewSteen commented on #2102
Same result with `notebook-4.3.1-py27_1` after updating, shutting down my running notebooks, and restarting Jupyter.

[2017-01-31 18:37] blink1073 commented on #2101
What is the output of `python -c "from jupyter_core.paths import SYSTEM_JUPYTER_PATH; print(SYSTEM_JUPYTER_PATH)"`?

[2017-01-31 18:44] gnestor commented on #2101
`['/usr/local/share/jupyter', '/usr/share/jupyter']`

[2017-01-31 18:44] jasongrout commented on #2087
Can you walk us through the timeline of what you think is happening?

[2017-01-31 18:45] blink1073 commented on #2101
And you're still seeing the same error as in the original comment?

[2017-01-31 18:47] silentsnooc commented on #2084
Alright, got it. :) At least now I know it's possible :)

![workflow](https://cloud.githubusercontent.com/assets/1429426/22479451/10d1fed8-e7ee-11e6-8daa-c179295d8b50.png)

[2017-01-31 18:47] #2084 closed

[2017-01-31 18:50] gnestor commented on #2101
Ya 😕

[2017-01-31 18:58] blink1073 commented on #2101
I just ran the tests against Notebook and JupyterLab master locally and I'm not seeing this.  What is the output of `which nosetests` vs `which python`?

[2017-01-31 19:03] gnestor commented on #2101
Thanks for your help here, @blink1073!

[code]

[2017-01-31 19:06] blink1073 commented on #2101
That looks like what I have...

[2017-01-31 19:07] blink1073 commented on #2101
Are you able to launch `jupyter notebook` and `jupyter lab` successfully?

[2017-01-31 19:09] gnestor commented on #2101
Ya 👍

[2017-01-31 19:09] gnestor commented on #2101
BTW, Travis runs all the tests that I would run locally, correct? So as long as Travis builds are passing, then we should be ok?

[2017-01-31 19:09] gnestor commented on #2088
Travis builds are passing: https://travis-ci.org/jupyter/notebook/builds/197053747

[2017-01-31 19:12] gnestor commented on #2088
@minrk @Carreau I tested the sdist/wheel and things appear to be working. Give me the green light and I will publish to PyPI.

[2017-01-31 19:20] blink1073 commented on #2101
Yeah, but push and pray is no way to work :wink:.  Just as a sanity check, can you manually rename the JupyterLab folder so it isn't picked up and run it again?

[2017-01-31 19:28] gnestor commented on #2101
I'm seeing a different error now:

[code]

[2017-01-31 19:32] blink1073 commented on #2101
Okay, how about moving the JLab folder back and disabling the JLab server extension?

[2017-01-31 19:40] kotfic commented on #2063
This appears to be due to a condition in traitlets [Config.merge](https://github.com/ipython/traitlets/blob/master/traitlets/config/loader.py#L197) method. Config keys are only merged (as opposed to clobbered) if comparing two Config objects.  In the case of server extension configurations the ```nbserver_extensions``` key is not converted to a Config object during ```Config.__init__()```.  This m

[2017-01-31 19:54] gnestor commented on #2101
That fixes it. Does this output look like the tests are passing or not?

[code]

[2017-01-31 20:01] takluyver commented on #2102
Thanks. In fact, I already tested on master but forgot about it earlier (sorry about that).

[2017-01-31 20:03] takluyver commented on #2084
Ha! :-)

[2017-01-31 20:06] blink1073 commented on #2101
That looks good.  The only other thing I can think of is that using `importlib` to import JupyterLab is not working on your machine.  https://github.com/jupyter/notebook/blob/2eb7bf19530252247dc9b112016080733b150352/notebook/notebookapp.py#L1239

[2017-01-31 20:08] takluyver commented on #2063
Wow, thanks for that thorough investigation!

Fixing it by capitalising a name doesn't seem ideal - especially as that will break all of people's existing config set with the lowercase name. Also, all other config options are lowercase. I'll have a go at thinking of a better way. I'd like to hear @minrk's thoughts too.

[2017-01-31 20:11] takluyver commented on #2101
If you move the `jupyterlab` folder that it's importing, but leave it configured in `nbserver_extensions`, then `ImportError: No module named 'jupyterlab'` is expected (it shouldn't stop the notebook server from working, though).

The original IndexError is strange.

[2017-01-31 20:12] blink1073 commented on #2101
What is the output of `python -c "import importlib;print(importlib.import_module('jupyterlab').__path__)"`?

[2017-01-31 20:14] gnestor commented on #2101
`['/Users/grant/Sites/jupyter/jupyterlab/jupyterlab']`

[2017-01-31 20:15] blink1073 commented on #2101
Whelp, color me stumped.

[2017-01-31 22:08] Carreau commented on #1611
#2104 should be enough and close this.

[2017-01-31 22:11] Carreau commented on #1276
Yes, and that works for me on master. Closing

https://github.com/jupyter/notebook/pull/2104 shoudl make finding the editting capabilities easier.

[2017-01-31 22:11] #1276 closed

[2017-01-31 22:14] Carreau commented on #355
Ok, let's leave the --no-mathjax for one more release, we can make it an error when running `lab` or once the server separation has been done by @SylvainCorlay.

Bumping as "JupyterLab".

[2017-01-31 22:17] Carreau commented on #1045
That's typically where I have the new labelling scheme. GitHub has a Standard "Need Contributor" label which is standard across 99 % of GitHub repo, and that you can't add here. You have to add the "cat:new Contributor" which you can't search across repo  and make issue like this one less discoverable.

[2017-02-01 00:23] gnestor commented on #2088
@Carreau You're the only one that is presumably awake. Can you take a look before I publish?

[2017-02-01 00:40] Carreau commented on #2088
+1 Go ahead !

[2017-02-01 01:07] Nagasaki45 opened #2106 "Cell magic result in printing the last evaluated line even if followed by semicolon"
If the last line in a cell returns a value (evaluated to anything but None) it is printed as the cell output. In case I don't want this last term to be printed I usually use a semicolon at the end of the cell. I'm almost sure I'm not the only one that uses semicolons in cell ends this way.

Now, when a cell magic is added, it stops to work and the value is printed regardless of the semicolon. Here

[2017-02-01 01:23] Nagasaki45 opened #2107 "Getting help with ? when use in assignment duplicate the cell"
When a cell with an assignment that include ? is evaluated the cell is duplicated. Here's an example:
![notebook_bug](https://cloud.githubusercontent.com/assets/2564187/22491651/dcc21bee-e81c-11e6-8ed3-fccad9499891.gif)

**Notebook version:** 4.3.1
**IPython version:** 5.1.0
**Python version:** 3.6.0

[2017-02-01 01:34] gnestor commented on #2088
4.3.2 is out!

[2017-02-01 01:34] #2088 closed

[2017-02-01 01:36] gnestor commented on #2037
Notebook 4.3.2 was just published 👍

[2017-02-01 04:28] Carreau commented on #2088
Thanks !

On Tue, Jan 31, 2017 at 5:34 PM, Grant Nestor <notifications@github.com>
wrote:

[2017-02-01 04:43] #1445 closed

[2017-02-01 04:44] #953 closed

[2017-02-01 04:54] Carreau commented on #2102
Yes, I'm almost sure of what's wrong. It switches language in the middle of the first line instead of waiting to end of first line to switch, which screw up codemirror highlighting.

In general the auto-highlight of IPython should be folded into a **real** IPython codemirror mode. Though that's a non-negligible task. When I was familiar with CodeMirror internals and mode writing, I would have said

[2017-02-01 04:58] Carreau commented on #1627
On master with an invalid (SyntaxError) custom JS, notebooks loads. So I'll consider as fixed and close.

[2017-02-01 04:58] #1627 closed

[2017-02-01 04:59] Carreau commented on #1444
See #2104

[2017-02-01 05:01] Carreau commented on #2107
Wow. Pretty sure that's an IPython bug. Not a notebook one.

Good catch !

[2017-02-01 05:06] Carreau commented on #2106
Thanks, that is likely an IPython thing, not a notebook one as the behavior can be replicated in terminal IPython (and other frontend).
The problem here is that the decision should be taken by the cell-magic itself, not IPython, because in a cell magic the `;` may have another signification. For example in a `C/C++/Cffi` semicolon might be necessary to have valid C/C++

So that's something that ne

[2017-02-01 05:06] Carreau commented on #2106
@meeseeksdev migrate to ipython/ipython

[2017-02-01 05:06] #2106 closed

[2017-02-01 05:09] Carreau commented on #2100
What milestone are we supposed to add now that "wishlist" is gone ?

[2017-02-01 05:16] Carreau commented on #2079
I had this enabled on jedi in terminal for some time.
That's actually annoying in many case, because assigning a method/function is a valid operation in python. As is passing a callback, like in filter, map, or many other case.
So you end up being annoyed by the extra parens even if it's 1 backspace away.
Adding the closing parens would be annoying to, an you would have to press left arrow once. T

[2017-02-01 09:32] minrk commented on #2088
Thanks!

[2017-02-01 09:35] minrk commented on #929
I don't. I imagine it's related to our click/focus events, but that would probably be a sensitive/fiddly issue to deal with. I don't think we can get this one for the impending release.

[2017-02-01 09:52] minrk commented on #2063
The JSON config files for traitlets don't support merging items (setting to an empty dict needs to be possible for override in general). The frontend-specific `nbconfig` setup does, however, which makes more sense for what we are doing with extensions. I think we probably should have used the same extension system for both sides, rather than traitlets for one and a new setup for the other. This is

[2017-02-01 10:20] minrk commented on #2063
#2108 implements the last idea - use ConfigManager to load a merged config for nbserver_extensions, so it behaves like frontend extensions. It's not my favorite thing, but it gets the behavior we want, and might be worth the ickiness.

[2017-02-01 10:52] takluyver commented on #355
I think Min's argument is that the `--no-mathjax` flag should be kept indefinitely, as people might want to disable it for security reasons. However, my priority in commenting was just to get it out of the 5.0 queue, which you've now done. :-)

[2017-02-01 10:53] takluyver commented on #1045
OK, if we're saying it's an issue for a new contributor, I'm bumping it to backlog.

[2017-02-01 11:03] takluyver commented on #2102
Bumped for now; if anyone works out a fix, I'm happy to land it for 5.0, but I don't want to hold up the release for it.

[2017-02-01 11:10] takluyver commented on #2107
This is in IPython, though it's actually a deliberate feature for the terminal that doesn't make much sense in the notebook.

[2017-02-01 11:10] #2107 closed

[2017-02-01 11:29] takluyver commented on #2100
I've been using 'backlog' like 'wishlist'. I don't see us doing this any time soon, though, because of the performance issue.

[2017-02-01 11:32] takluyver commented on #2079
PyCharm also adds parentheses - it does occasionally cause me to write code that does something different from what I expect, because I'm using the result of a function instead of the function itself. Mostly, though, I've got used to deleting the extra parentheses when I want to pass a function or method.

[2017-02-01 11:33] blink1073 commented on #2063
Wait, this means that all of the `Dict` traitlets in the `NotebookApp` have this clobbering behavior?

[2017-02-01 11:50] silentsnooc commented on #2100
@takluyver What do you think would be the bottleneck? The browser or the parsing of the markdown? Imho this should not impact the performance a lot even if one had 100 files in one directory (which I guess is quite uncommon).

[2017-02-01 12:25] minrk commented on #2063
Yes, traits in config are singletons, only class config is merged, so if you have:

[code]

at one config level, and

[code]

at another, the assignment at the later point takes precedent, and the result is the second assignment `{'b': 2}`, not the merge of the two.

The best way to think about traitlets config loading is a series of consecutive assignments.

If dict traits were always merged, the

[2017-02-01 12:28] blink1073 commented on #1706
I propose we target this for 5.0, and I am willing to work on it.
I see this as separate from the kernelspec question because kernels can be used in multiple contexts, whereas nbextensions are meant to be used by the notebook application itself, and so it can be more opinionated.

[2017-02-01 12:33] blink1073 commented on #2063
In that case I don't think we should special-case the server extensions key amongst the others, as it will only worsen the existing confusion.

[2017-02-01 12:41] jdemeyer commented on #1706
In the mean time, there is a minimal example of a kernel at https://github.com/jupyter/echo_kernel

Unfortunately, I disagree with how things are done there. In my opinion, `pip install echo_kernel` should also install the kernel spec file (with the philosophy that basic usage should be as simple as possible). I know that @takluyver claims that it cannot be done, but I disagree with his arguments

[2017-02-01 12:41] minrk commented on #1664
closed by #2065

[2017-02-01 12:41] #1664 closed

[2017-02-01 12:47] minrk commented on #2063
@blink1073 would you prefer to move serverextensions over to the `nbconfig` out of traits, then?

[2017-02-01 12:49] blink1073 commented on #2063
Yes, with a deprecation of the existing trait that still uses the current config data if it exists (removed in 6.0).

[2017-02-01 12:58] ggrrll commented on #2079
indeed...I think it's still easier to click backspace key ( delete one parenthesis ), instead of opening parenthesis ... - considering that some times you don't have too

[2017-02-01 13:06] Adrien-Luxey commented on #552
I there,
This isn't solved. It has happened to me on most of my latest Jupyter installations. The tooltip (Shift-Tab) does not work either (the code completion does, though; and I wonder if it is the tooltip that appears when I hit Tab (only) outside from completion-context (still edit-mode)).

# My setup
## System
Linux Mint 18, kernel 4.4.0-57-generic, x86_64 architecture

## Python-related
Pyth

[2017-02-01 13:17] blink1073 commented on #2063
What if instead we made a separate Dict-based Trait that had different semantics for merging?

[2017-02-01 13:18] blink1073 commented on #2063
Then we could cleanly mark which parts of the config are merge-able.

[2017-02-01 13:31] takluyver commented on #2100
Opening and reading all the files is non-trivial, especially if they're on a spinning hard drive or a network-mounted filesystem. We also don't have a good way to get metadata without reading the whole file, but I suspect that even reading part of every file would be too much overhead.

[2017-02-01 14:27] willingc commented on #1045
I agree that this labeling approach does not make it easy for new contributors to find issues. I would recommend using the standard New Contributor label and give it a distinct color from the others. It would be fine to keep the cat:New Contributor label as well for reports, etc. So a new contributor issue would be tagged with `New Contributor` in a distinct color and `cat:new Contributor`. cc/ @e

[2017-02-01 14:33] minrk commented on #900
It's been a long time since I've been able to see this one. Can anybody reproduce these scrollbar issues with current versions of things?

[2017-02-01 14:42] willingc commented on #900
@minrk I haven't seen this in quite a while either. I recommend closing.

[2017-02-01 14:46] minrk commented on #1560
@cassiusoat's note about mouse and trackpad might be an important clue. macOS can hide scroll bars until scrolling starts. I believe the default (certainly an option) is to hide by default when using a gesture-enabled trackpad, but always show scroll bars if a mouse is in use.

If CodeMirror is measuring assuming a scroll bar would always be present, but it isn't, we could get this behavior (cutof

[2017-02-01 15:00] minrk commented on #1560
@jaykinghorn what versions of:

- notebook
- browser(s)
- OS

If you are using macOS, can you share your `General > Show scroll bars` setting? Does changing it have any effect?

Every text area in the notebook is CodeMirror, so it's always involved somehow.

[2017-02-01 15:08] silentsnooc commented on #2100
@takluyver Okay, that sounds reasonable. In that case I guess this won't make it into the todo list any time soon - if at all. :D

[2017-02-01 15:16] minrk commented on #2101
I think it's the mock environment setup for the tests. It empties SYSTEM_JUPYTER_PATH, which is probably shouldn't.

It should also be preventing any extensions from being loaded, which I'll work on shortly.

[2017-02-01 15:23] drorata opened #2110 "Jupyter terminates/exits with a conda error"
Recently, whenever I terminate Jupyter by hitting CTRL-C I get the following error:

[code]

I have no idea how to solve it nor start to debug it. I'll be happy to follow up on this one.

Thanks

[2017-02-01 15:29] minrk commented on #2101
#2111 should do it, I think.

[2017-02-01 15:30] minrk commented on #2081
This is likely a problem with conda packages. You might try:

- conda remove notebook
- conda clean -tipsy
- conda install notebook

[2017-02-01 15:34] minrk commented on #2063
That would be a great solution. Unfortunately, the config object has finished merging before it knows which traits each value is for.

@SylvainCorlay has plans for a different extension mechanism (based on #1706) for the separated Jupyter Server, and I'm a bit reticent to add another extension mechanism at the last minute for notebook 5.0 that we are going to deprecate immediately after releasing

[2017-02-01 15:43] takluyver commented on #2110
Looks like something conda is adding. @damianavila does this look familiar? Is it related to nb_conda_kernels?

[2017-02-01 16:24] dslemusp commented on #2001
I have a similar problem using sympy. After I do trigsimp (See last cell)

<img width="1149" alt="screen shot 2017-02-01 at 5 15 51 pm" src="https://cloud.githubusercontent.com/assets/6799189/22515523/05d39112-e8a3-11e6-9fbc-ab4f89ddc188.png">

with the command line error

<img width="829" alt="screen shot 2017-02-01 at 5 23 00 pm" src="https://cloud.githubusercontent.com/assets/6799189/22515556/2

[2017-02-01 17:35] cipri-tom commented on #348
I have the exact opposite problem. I want to go through the cells of a notebook (`Shift + Enter`) and jupyter always goes to the one beyond view. Only after I run that one too it shifts up the new one. Ideally, I'd like it to scroll such that the top of the cell is at the top of the page

[2017-02-01 17:39] cipri-tom commented on #1264
@gyphub that's a very useful overriding ! Where exactly should I put it ? (Sorry, I know it must be somewhere in the docs)

[2017-02-01 17:47] blink1073 commented on #2063
I am :-1: to moving server-specific configuration to `nbconfig`, since eventually server != notebook.  It seems like #2108 is the best short term solution until we have the conf.d approach.

[2017-02-01 17:48] takluyver opened #2113 "Terminals broken"
When I start a terminal, I don't see any prompt or other text in the black area, and I can't type anything, but this appears in the lower left corner:

![screenshot from 2017-02-01 17-44-14](https://cloud.githubusercontent.com/assets/327925/22518868/2c60498a-e8a6-11e6-8e67-a0c94ac98282.png)

I've rebuilt the JS and CSS, made sure I'm not hitting the browser cache, and tested it in both Firefox and

[2017-02-01 17:49] takluyver commented on #2113
$SHELL is set to `/bin/bash`.

[2017-02-01 17:56] Carreau commented on #2100
I'll confirm what @takluyver said, we even had a long-ish discussion about having a different icon per language (as the language is in the metadata), and after much discussion we decided that it was not worth it.

While it could be fast enough in some rare case (notebook stored on DB instead of filesystem) anything that requires taking a peek into the file will likely not be worth is.

let's add t

[2017-02-01 19:08] drorata commented on #2110
Could be... I am using conda. In addition, I also have the following file: `~/Library/Jupyter/kernels/python3/kernel.json` with the following content:

[code]

[2017-02-01 19:39] silentsnooc commented on #2100
Fair enough :)

[2017-02-01 19:40] ellisonbg commented on #1045
I am fine using a global "New Contributor" label across all our repos
(without the "cat" prefix). But that is different from "Need Contributor"
which is closer to what we are calling Help Wanted.

On Wed, Feb 1, 2017 at 6:27 AM, Carol Willing <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg

[2017-02-01 20:55] Jessime opened #2115 "Make "Find and Replace" cell only by default?"
I use the Find and Replace function quite a bit, but I don't think I've every intentionally used it on the whole notebook. I'm always trying to modify a single cell. Unfortunately, I have used it on my entire notebook by accident multiple times (by forgetting to click the "replace in selected cells" button). So, I have a multi-part question:

1. Is there a way I can turn that button on by default

[2017-02-01 21:22] Carreau commented on #2113
I think that's more than CSS, the `div.xtem-rows` is actually outside of the `div.xterm-scroll-area`, while it should be in it.

[2017-02-01 21:58] takluyver commented on #2110
That looks normal. The traceback is coming from the notebook application, in any case, not a kernel.

[2017-02-01 23:10] Carreau commented on #2115
I don't believe there is a simple way to do that.

I have not heard people complaining. You point of making it the default is a good one.

None that I know of. Let's tag that as 5.0 to decide. it should not be hard to change.

[2017-02-01 23:11] Carreau commented on #2115
We'll be happy if you want to attempt sending a PR !

[2017-02-01 23:11] gnestor commented on #2049
Yes, I did. Initially, it was throttled by the default data rate limit ([which will ship with 5.0](https://github.com/jupyter/notebook/pull/1846)):

![screencap1](http://g.recordit.co/kHLPjCaiFl.gif)

After overriding it, I was able to fetch the data and it was slow to respond to user events initially (because it's a lot of data and a lot of DOM nodes), but then I was able to change focus with no

[2017-02-01 23:16] gnestor commented on #2113
I can confirm that 4.x branch does not have this issue...

[2017-02-01 23:18] gnestor commented on #2113
Likely culprit: https://github.com/jupyter/notebook/commit/47d44519584f894c0b8bac55a2e234d532bb14db

[2017-02-01 23:30] gnestor commented on #2113
It looks like we were requiring `xterm/src/xterm.css` but now that we don't have webpack, how should we include xterm's CSS?

[2017-02-01 23:32] Carreau commented on #2016
Marking as "JupyterLab" issue.

I believe that for touch screen and tablet in general there are easy way to have improvement.
In particular I believe that having a vertical "thumb accessible" toolbar on left (or right) can be of great use.

For example, faking it with `custom.js`

[code]

To tweak of course....

![screen shot 2017-02-01 at 15 28 07](https://cloud.githubusercontent.com/assets/33556

[2017-02-01 23:43] themrmax commented on #2049
@gnestor yes this makes sense, although it might be a lot of work I think this is definitely a feature we should have, I've renamed the issue accordingly.

[2017-02-01 23:57] gnestor commented on #2049
@Carreau @takluyver Has there been any discussion around infinite scrolling for output areas? I'm not sure how much (if any) performance improvements we would get without kernel interaction (e.g. fetching new _pages_ of data from the kernel).

@themrmax If kernel interaction is required, then this feature would not be implemented in notebook but rather ipywidgets or another "infinite scrolling out

[2017-02-02 00:03] ellisonbg commented on #2016
Yes! I think this would really improve the UI on mobile. Thanks for mocking
this up. Would be especially nice if we could get the buttons to not scroll
with the notebook page. Love this!

On Wed, Feb 1, 2017 at 3:32 PM, Matthias Bussonnier <
notifications@github.com> wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on

[2017-02-02 00:11] Carreau commented on #2016
with the notebook page

Let me show you a live version of above css.

![no-scroll](https://cloud.githubusercontent.com/assets/335567/22531886/b85bd4da-e898-11e6-8dab-e97be1c2408a.gif)

[2017-02-02 00:16] Carreau commented on #2049
Yes, and more generally about the notebook itself.
THe issue is with widgets, or other elements that attach events to the DOM. You can't not display (or remove) them as it will fail to register some events. If it's a "safe" mime then that would be fine.

Another question would be how to "recycle" things that are high on the page.
That _could_ be done, by replacing elements with fixed height divs (

[2017-02-02 00:20] Carreau commented on #2016
Actually there is a double scrollbar bug with  `height: 90vh;`, changed to `80vh` where it solves things (above comment edited).

I don't see any clean way to switch from L to R purely in CSS, and this is kinda a hack.
I'm even wondering if this UI would not even be better than the current toolbar for desktop usage. (with some refinements)

[2017-02-02 00:40] blink1073 commented on #2113
IIRC they have a bower package.

[2017-02-02 00:41] blink1073 commented on #2113
I'll look into this tomorrow morning.

[2017-02-02 00:42] blink1073 commented on #2113
Nevermind, Hrant already fixed it. ;)

[2017-02-02 00:43] #2113 closed

[2017-02-02 01:11] mpacer opened #2117 "Header auto-id generation overwrites ids applied with explicit html"
If you include the following in a markdown cell, it will respect the color information, but it will overwrite the header's manually specified id.

[code]
will create  a dom element with

[code]

cc @Carreau @ian-r-rose

[2017-02-02 01:45] #2063 closed

[2017-02-02 01:46] Carreau commented on #2117
We figured it out.

[2017-02-02 02:25] KelvinJin opened #2118 "The first kernel_info_reply is not received and timeout."
I'm building a Swift kernel for Notebook. This issue has been there since day one. The socket library I'm using is https://github.com/Zewo/ZeroMQ.git.

I run notebook using `jupyter-notebook --Session.key="b''" --Session.debug=True --debug`. According to the logs printed, the first `kernel_info_request` was received by my kernel and the `kernel_info_reply` is sent successfully (based on the return

[2017-02-02 02:39] Carreau commented on #104
Fixed by #1591

[2017-02-02 02:39] #104 closed

[2017-02-02 02:41] themrmax commented on #2049
@gnestor i like the idea of the jupyterlab extension. do you think it would make sense to use something like https://github.com/NeXTs/Clusterize.js ?

[2017-02-02 02:44] #2101 closed

[2017-02-02 03:58] jaykinghorn commented on #1560
The truncated cells seem to happen after I close my laptop and come back to
it after a period of time. I’ll do more testing to see if it always happen
after the computer sleeps, or whether it is intermittent.

I had my scroll bar setting at the default “Automatically based on mouse or
trackpad.” When I change this setting to Always, it restores the correct
height of the cells.

I’m using:
Version

[2017-02-02 04:34] Jessime commented on #2115
It's in my calendar to take a look at it this weekend! The bad news is: I've never made a PR before, and have a only written a handful of functions in JS. So this may not go well, but I'll give it a shot.

[2017-02-02 05:03] Carreau commented on #2115
Well I have a good news then, we'll be happy to guide you through it, and don't worry you can't really screw up. We'll also be honored to receive your first contribution on GitHub.

![beeea97c622c5614a80371eb0aece7082a3ff1b50421cf5acae3125c65ba5d8f](https://cloud.githubusercontent.com/assets/335567/22537732/c7a251fc-e8c1-11e6-9148-2a1b0cc4b099.jpg)

Don't hesitate to ask !

[2017-02-02 06:34] drorata commented on #2110
What is normal? The kernel definition or the error message? 🙃

[2017-02-02 09:19] cheshirecats opened #2120 "Unable to import tensorflow in jupyter (yet able to import tensorflow in python and ipython)"
I am using OSX 10.11 with homebrew python, and tensorflow GPU with cuda and cudnn installed.

Currently tensorflow imports correctly in both python and ipython:
[code]

Yet I am unable to import tensorflow in jupyter (I have tried both Jupyter notebook and Jupyter console):

[code]

I have tried adding the following in ~/.bashrc and ~/.bash_profile and /etc/profile , yet it still does not work....

[2017-02-02 09:58] #1611 closed

[2017-02-02 10:15] takluyver commented on #2118
I don't know if it's relevant, but 'sending' a message with zmq actually puts it in a queue, and a background thread zmq is running sends it out at some point later. So the return value of `zmq_send` doesn't necessarily mean that it's actually sent OK. I think that would only affect you if there was a bug in the ZMQ bindings you're using, though.

[2017-02-02 10:17] takluyver commented on #2110
Sorry, the kernel definition looks normal. I haven't seen the error before.

[2017-02-02 10:21] KelvinJin commented on #2118
@takluyver Thanks for your reply. It's really weird given that the second reply is received. I wonder if there is any difference between how the replies are expected in the first and second situations.

Also, for zmq, I can use the `zmq_sendmsg` to send a `message` instead of a `string`. Not sure if they're different though.

[2017-02-02 10:24] takluyver opened #2121 "Shortcut for command palette doesn't work on Firefox"
The shortcut is Ctrl-Shift-P, but that's Firefox's shortcut to open a private browsing window (equivalent to incognito mode in Chrome), and it appears to be a shortcut that it prevents JS claiming.

Any suggestions for alternatives? Even if it's something that only works in command mode for now. `P` seems to be unclaimed.

[2017-02-02 10:28] takluyver opened #2122 "Command palette not working in Chrome"
I can make it appear, and type into it, but no actions come up, and if I press enter, the page reloads.

![screenshot from 2017-02-02 10-27-31](https://cloud.githubusercontent.com/assets/327925/22545843/5b58cf78-e932-11e6-97fe-0f8bd0c692fd.png)

[2017-02-02 10:29] takluyver commented on #2122
I've gone through the usual steps of rebuilding JS and dodging any browser caching issues.

[2017-02-02 11:40] takluyver commented on #2118
That is weird. I'd guess that the first `kernel_info_request` is coming from the notebook server and the second from the Javascript in the browser.

[2017-02-02 11:49] KelvinJin commented on #2118
@takluyver wait...So the Javascript are connecting to the kernel directly or via the server? If directly then, that might be the reason why these two have different behaviours.

[2017-02-02 11:51] takluyver commented on #2118
No, the JS connects via the server. It uses websockets to communicate from the browser to the server, and the server than sends those messages on over zmq. It may well explain why the username field is different, though.

[2017-02-02 11:59] KelvinJin commented on #2118
@takluyver `username` Indeed. I tried on three different machines/systems (macos and linux), the results are the same. Is there a way to debug local tcp data transportation? As if I can see what data is tranferring between the ports...

[2017-02-02 12:12] takluyver commented on #2118
Have you tried your kernel with `jupyter console` or `jupyter qtconsole`? There's less going on there, so it may be easier to debug things. I think the `--debug` flag on the Qt console shows what messages it sends and receives.

[2017-02-02 12:32] blink1073 commented on #2049
We are having a related discussion in JupyterLab: https://github.com/jupyterlab/jupyterlab/issues/1587

[2017-02-02 12:36] KelvinJin commented on #2118
@takluyver Ha, finally we got something. Thanks for the suggestion. So when I ran `jupyter console --Session.key="b''" --debug --Session.debug=True --kernel=MyKernel`, it seems that the server sent out two `kernel_info_request`s immediately. And my kernel actually received both and replied both. And this time, both replies are received! It's weird though...

I wonder if I should wait for several s

[2017-02-02 12:51] andram opened #2123 "Undesired dirty notebook when changing python version"
Take a notebook, which was created using python version (for example) 3.5.0

Then upgrade to python 3.6.0 and open the same notebook again.

This results in a "dirty" state of the upcoming notebook and the message " (unsaved changes) " is displayed in the title bar. This happens despite me  not actually modifying the contents nor executing any cells. After the auto save timeout, the notebook is wr

[2017-02-02 13:12] takluyver commented on #2118
That's weird. I don't think any of the other kernels need a wait to respond to kernel_info_request messages...

[2017-02-02 14:02] takluyver commented on #2053
This appears to have just missed Codemirror 5.23, which is the latest release at the moment, so I've bumped it to notebook 5.1. If there's a new Codemirror release soon, we can bring it back to 5.0.

[2017-02-02 14:03] takluyver commented on #2050
@gnestor did you get a chance to look at this?

[2017-02-02 14:18] rylanchiu commented on #397
thanks for your answer @resurgo . But what do you mean by "Removing the previous install"? Should I remove `/usr/local/bin/jupyter-kernelspec` directly? But I have tried it and it doesn't solve my problem. Do you have any idea? Thanks!

[2017-02-02 14:23] uditabose opened #2125 "Is there a way to piggyback on the heartbeat message from a custom kernel ?"
I am aware that there is no cron-like feature with Jupyter. There is an issue that was with similar request is in closed status - https://github.com/jupyter/notebook/issues/1034. From the Kernel API itself I can't find any function that gets called repeatedly by the kernel manager. I wanted to know if there is a way I can utilize the heartbeat call.

[2017-02-02 14:35] takluyver commented on #1574
See jupyter/jupyter_client#236

[2017-02-02 14:38] takluyver commented on #1563
I've bumped this to backlog as we don't know how to reproduce it, nor what might have gone wrong.

[2017-02-02 14:47] takluyver commented on #2125
The notebook already doesn't use the heartbeat, and we're moving away from it in general, so I wouldn't rely on it.

[2017-02-02 14:47] takluyver commented on #2125
But if your kernel is based around an event loop, there should be some way to do a periodic callback using that.

[2017-02-02 15:15] akapocsi opened #2126 "Stopping Jupyter Notebook server with Ctrl-C raises error"
Recently, whenever I stop a Jupyter Notebook server with Ctrl-C it raises the following error:

![image](https://cloud.githubusercontent.com/assets/8197282/22554902/d5dac038-e92f-11e6-8d15-2b6a266bc5e4.png)
Here is the full traceback text:

[I 09:54:20.827 NotebookApp] Shutting down kernels
Traceback (most recent call last):
  File "C:\Anaconda3\Scripts\jupyter-notebook-script.py", line 5, in <mod

[2017-02-02 15:20] takluyver commented on #2126
Thanks, this is already tracked as #2110.

[2017-02-02 15:20] #2126 closed

[2017-02-02 15:22] takluyver commented on #2110
I've reported this to conda at conda/conda#4503

[2017-02-02 16:09] uditabose commented on #2125
Hi @takluyver thanks for the suggestion - I will give it a try.

[2017-02-02 16:31] gnestor commented on #2049
@blink1073 Thanks!

@themrmax I started implementing [react-virtualized](https://github.com/bvaughn/react-virtualized) in jupyterlab_table! It will be good to compare the performance of both 👍

[2017-02-02 16:49] takluyver commented on #1164
Can we do more for this for 5.0, or do we bump it to 5.1?

[2017-02-02 16:52] takluyver commented on #650
Shall we bump the limit up for 5.0? Does anyone have a guide as to what a sensible limit might be?

[2017-02-02 16:56] takluyver commented on #649
@gnestor @Carreau @minrk do we understand how to fix this, and can it be done without interfering with other keyboard functionality?

[2017-02-02 17:00] takluyver commented on #629
I've just tested in master, and the horizontal scrollbars appear to be back.

[2017-02-02 17:00] #629 closed

[2017-02-02 17:02] takluyver commented on #571
Anybody want to have a go at this for 5.0?

[2017-02-02 17:18] takluyver commented on #515
I just tested this with the code sample, but I don't know if the problem reported still exists. The output updated less smoothly than in Chromium, but it didn't slow things down problematically. On the other hand, I'm running this on a relatively fast computer, so it may be worse on other machines.

If there is anything to improve, I'd guess it's in our stream concatenation and ansi processing mac

[2017-02-02 17:24] takluyver commented on #429
Is there anything for us to fix on this?

[2017-02-02 17:25] willingc commented on #1164
@takluyver Not sure. Probably bump depending on 5.0 deadline.

@minrk Looking at the second traceback it's a bit different than Chris' probably due to some changes in the code related to checking iopub rate limit and message rate limit. https://github.com/jupyter/notebook/blame/master/notebook/services/kernels/handlers.py#L346
I'm going to do a bit of checking on how we test these. I think that we

[2017-02-02 17:27] takluyver commented on #900
Closed for now, we can reopen it if people can reproduce it.

[2017-02-02 17:27] #900 closed

[2017-02-02 17:27] takluyver commented on #1444
Closed by #2104.

[2017-02-02 17:27] #1444 closed

[2017-02-02 17:32] martinal commented on #429
The notebook min posted above Apr 13 is not relevant here, that was a bug in x3dom which is now fixed.

[2017-02-02 17:38] takluyver commented on #429
OK, then it sounds like there isn't an issue in notebook to be fixed here. If I'm wrong about this, we can reopen it.

[2017-02-02 18:18] jasongrout opened #2127 "Clear the one-time token from the URL when the notebook is launched"
Right now it's confusing that the token in the URL of a browser that has been launched by Jupyter notebook only works one time. We could work around the confusion by clearing it from the URL address immediately.

Thanks to @minrk for the suggestion and @blink1073 for also bringing it up.

[2017-02-02 18:19] jasongrout commented on #2094
I think not - I think it's really important to preserve the notebook's isolation.

[2017-02-02 18:21] jasongrout commented on #2094
I think it would make sense to make it easy to retrieve a one-time token from the rest api, which could be exposed in the browser, or another program could launch another browser, etc.

[2017-02-02 18:58] pfigliozzi commented on #515
Just to follow up. I tried the code from takluyver in the notebook 4.2.1 and it was still causing sluggishness in Firefox but was perfectly fine in Chrome. Adding the 0.01s sleep did help Firefox remain usable but was still sluggish.

Next I tried updating my packages so now I am running notebook 4.3.1. Trying once again takluyver's code in a notebook I found that using the new version 4.3.1 that

[2017-02-02 20:11] takluyver commented on #515
Thanks for the detailed analysis! If you've got time, could you try it with master too (see [setting up a development environment](http://jupyter-notebook.readthedocs.io/en/latest/contributing.html#setting-up-a-development-environment))?

[2017-02-02 21:47] gnestor commented on #2049
@themrmax Here is an initial implementation using react-virtualized's table: https://github.com/gnestor/jupyterlab_table/tree/react-virtualized

I also have an example using it's grid which allows for horizontal scrolling but actually uses 2 different grids (one for the header) and attempts to keep their x scroll positions in sync (not very well).

They're both pretty performant but could be optim

[2017-02-02 22:21] blink1073 commented on #2049
Nice!

[2017-02-02 22:53] rgbkrk commented on #2049
Excellent!

[2017-02-02 23:46] KelvinJin commented on #2118
@takluyver Setting a delay didn't work. I wonder why there were two `kernel_info_request`s sent out when the `jupyter console` started.

The logs can be found [here](https://gist.github.com/KelvinJin/50393936c62c871bc3731d32040927be)

So, the console received both replies somehow and the notebook didn't...I'm really confused now.

[2017-02-02 23:51] KelvinJin commented on #2118
#1281 It might be related to this issue to be honest. I'll have a look!

[2017-02-03 00:23] KelvinJin commented on #1281
@FilippoPolo Hey. I wonder how did you fix this issue at the end? I might have the same issue with a swift kernel I'm building. It would be nice to know your solution to this. Thanks!

[2017-02-03 03:06] themrmax commented on #2049
@gnestor very nice! i've gotten basically the same thing working for containerized (i haven't done the headers, but i think i would need to do a similar trick as you) https://github.com/themrmax/jupyterlab_table/tree/clusterize

a big problem i can see with both of our solutions is that when data gets large (i.e. over a few thousand rows), it takes a very long time to load the component. as far as

[2017-02-03 04:28] KelvinJin commented on #2118
This is solved. It was my issue. I guess it's related to the `identity` (aka u-u-i-d) field of the message. I was always using the session id of the header to be the identity. I replaced it with the `identities` from the request, it seems to work now! (Note that there might be several _identities_.)

[2017-02-03 04:28] #2118 closed

[2017-02-03 05:25] gnestor commented on #2050
I actually can't reproduce this anymore. I do notice that undoing a delete cells will add the cells back out of order which is a separate bug. @rgaiacs Can you provide an example notebook to help reproduce?

[2017-02-03 06:42] #1574 closed

[2017-02-03 10:15] FilippoPolo commented on #1281
Hi! Sorry for not answering sooner. I've found
https://github.com/jupyter/notebook/issues/2118 and I assume that's your
issue? I see you found out about the identity issue yourself; that was
indeed the same problem we had in the F# kernel. More precisely, if I
recall correctly, in our case the kernel was making assumptions on the
format of the identity strings. Those assumptions no longer held tru

[2017-02-03 11:12] takluyver commented on #2118
Great! Yes, identities are something zmq uses to deliver replies corresponding to a request.

[2017-02-03 11:19] KelvinJin commented on #1281
@FilippoPolo Aha, thank you so much for your reply. I actually looked at your code and realised that there might be something wrong with the identity stuff. I didn't really understand the problem though since there's no error printed by Jupyter. But anyway, the initial reply can be received now after I followed your changes. So thanks!

I'm now stuck at the message signature. I just can't get it w

[2017-02-03 11:25] takluyver commented on #1281
Signatures are tricky, especially because you can only see 'is this right' - there's no way to know what is wrong, or how close you are.

The trick with JSON serialisation is that you need to serialise your messages, sign the serialised version, and then send that. Don't serialise it twice. Your serialisation doesn't have to match how Python would serialise it, because we check the signature on th

[2017-02-03 11:37] AndreiCostinescu commented on #1738
Update:
Apparently, this error occurs only when I have notebooks running in an environment.
If I start the notebook without any (conda) environments on, I can create a new notebook and save it without any problems.
However, if I try to create a new notebook using a different environment (Python [python3.5] as shown in the picture), I cannot save it, leading to the error messages described in my or

[2017-02-03 11:59] takluyver commented on #1738
That's odd, I don't know why that would affect it. Are there any errors in the terminal where you launched the notebook?

[2017-02-03 12:37] havnar commented on #1334
A pity this will not be fixed, mounting your desktop to another disk (hdd instead of ssd) means, no saving to desktop for this guy...

[2017-02-03 14:39] hlignin opened #2130 "Jupyter notebook does not launch"
After the conda installation, the Jupyter notebook does not start. There is a command window, which shows up for 1-2 seconds but disappears. The Spyder does work properly so far.

More background information here: Windows 7, used to have an older version Anaconda, tried to update but found nothing worked after update. Uninstalled, and reinstalled the latest version Anaconda 4.3.0 with python2.7 64

[2017-02-03 14:53] takluyver commented on #2130
Can you get an Anaconda command prompt and run `jupyter notebook` in it? It probably won't work, but you should get an error message saying what's failing.

[2017-02-03 15:04] hlignin commented on #2130
takluyver,
Thanks a lot! I just tried, and found it actually works by running from the command window! The problem looks like that the "Jupyter notebook" shortcut in the Windows start menu is messed up?

[2017-02-03 15:10] AndreiCostinescu commented on #1738
Nope, no errors... The exactly same behavior as described in the original post in September occurs now, only that I played around more with the notebook and found this interesting thing.
At least I can work from the root now, although it would also be nice to be able to work from environments..

[2017-02-03 15:24] takluyver commented on #2130
I wonder if that's left over from the older version of Anaconda. The shortcut properties might tell you what it's trying to call - there may be a wrong path to Anaconda or something.

[2017-02-03 15:24] takluyver commented on #2130
Closing as I don't think there's anything wrong in our code; feel free to keep using comments to work out what's going on.

[2017-02-03 15:24] #2130 closed

[2017-02-03 16:37] minrk commented on #649
This appears to be fixed in master. When the dialog is opened, the restart button is focused, and I can select other buttons with tab/shift-tab.

[2017-02-03 16:45] takluyver commented on #649
Great. I thought I had tested it and found it still not working, but I just went to test again and it seems to work.

[2017-02-03 16:45] #649 closed

[2017-02-03 16:59] takluyver commented on #454
@captainsafia I've unassigned you so that other people feel free to tackle this as well. If you want to take another look at it at some point, you're still welcome to.

[2017-02-03 19:48] Jessime commented on #2115
So here's what I've done so far:

1. I forked and cloned the project.
2. I made the necessary changes and manually tested them. Everything looked good.
3. I tried running the JS tests by doing `npm install -g casperjs phantomjs@1.9.18` then running `python -m notebook.jstest` in the notebook directory.

There's a lot of output, much of which I can't interpret. But it seems a lot of things are fail

[2017-02-03 20:12] Carreau commented on #2115
Don't worry too much about testing locally, it is relatively hard with the
notebook.

What you can do is commit, and push on your fork on a new branch. Then
submit a pull request. Even if not done completly it's OK, you can change
afterward.

Travis will take care of testing and we can start reviewing.

I can give you more details instructions but I'm on my phone for now

On Feb 3, 2017 11:49, "Je

[2017-02-03 21:57] gnestor commented on #2049
@themrmax Yes. There is observable latency for 10,000+ cells for me. There is no latency when rendering as a pandas HTML table and this is partly because the pandas HTML is rendered _kernel-side_. A few thoughts:

* I think the real solution is a _hybrid-approach_ between client-side and kernel-side rendering, where the kernel returns a maximum initial payload and the client can request additional

[2017-02-03 21:59] lbustelo commented on #429
@takluyver I can still recreate on try.jupyter.org using Chrome 55. It may be that there is no way of fixing this in the Notebook.

<img width="1235" alt="screen shot 2017-02-03 at 3 58 20 pm" src="https://cloud.githubusercontent.com/assets/2474841/22610161/bffebc6a-ea29-11e6-8b94-c8887670cb8b.png">

[2017-02-03 23:03] gnestor commented on #2120
you should not try to import tensorflow from its source directory;
please exit the tensorflow source tree, and relaunch your python interpreter
from there.

Did you install tensorflow from source? Are you running jupyter from the ts source directory?

[2017-02-03 23:06] gnestor commented on #2122
I can't reproduce on master...

[2017-02-03 23:11] gnestor commented on #2123
The `language_info` property is apart of the notebook metadata, not the cell metadata, so when you open the notebook, the `language_info` is updated to reflect the new Python version and your notebook is modified as a result.

I don't know how we should handle this differently...

[2017-02-03 23:24] rhazegh commented on #207
@Carreau  Are you guys still working on this issue or it is resolved?

[2017-02-03 23:35] gnestor commented on #1560
We need to be able to predictably reproduce this. Based on @rgbkrk's comment, this might be an issue with CodeMirror (possibly https://github.com/codemirror/CodeMirror/issues/3129, https://github.com/codemirror/CodeMirror/issues/3679), but without a reproducible demo, we are not likely to get help from the CM team.

[2017-02-03 23:42] Carreau commented on #207
It's not resolved. There is still a lot of work to do for this to be functional. It's also not not something we have enough manpower to actively work on. Even the way we want to tackle this is unsure.

[2017-02-03 23:49] gnestor commented on #1356
I can work on this! I'm not sure I understand the issue though. How can I reproduce?

[2017-02-04 00:13] gnestor commented on #872
I've struggled with this many-a-times. Here are some thoughts:

* Pull the latest from master: `git pull jupyter master`
  * With git-hooks installed, this will build this JS, CSS, etc. However, git-hooks needs to be installed by the user, so we shouldn't assume that the user has them installed.
* If git-hooks are not installed, rebuild the JS and CSS: `npm run build`
* If actively developing: `np

[2017-02-04 00:50] gnestor commented on #650
You should be able to set a larger `max_body_size` or `max_buffer_size` by providing the `torando_settings` flag or by setting it in `jupyter_notebook_config.py`:

[code]

I don't have a good notebook to test with, but the rationale:

* `max_body_size` and `max_buffer_size` are now both init arguments for `HTTPServer`: https://github.com/tornadoweb/tornado/blob/master/tornado/httpserver.py#L136
*

[2017-02-04 02:07] cheshirecats commented on #2120
Hi. That seems to be a generic error message, as I installed tf from source and I am not running from its source directory. Now the problem must be that jupyter is unable to find "@rpath/libcudart.8.0.dylib" which is part of the cuda runtime (Strangely enough both python and ipython is able to find it).

[2017-02-04 02:08] bluss opened #2135 "Allow hiding menu bar"
The menu bar is using valuable screen space when displaying notebooks (With large font size, so that the content is visible).

[2017-02-04 06:34] gnestor commented on #2135
You can currently hide the tool bar and header:

![screncap](http://g.recordit.co/WdQ8ALdjTe.gif)

If you really want to hide the menu as well, you can run this in the browser's console:

[code]

[2017-02-04 06:44] gnestor commented on #2120
Try running the following in both the notebook and ipython:

[code]

Odds are they are using different python executables. If this is the case, you can update your python kernelspec. See https://github.com/jupyter/notebook/issues/397 for reference.

[2017-02-04 11:39] takluyver commented on #429
Right, my understanding of the consensus was that it's an issue in Chrome.

[2017-02-04 11:52] takluyver commented on #2122
Once I added a shortcut to avoid #2121, I got exactly the same symptoms on Firefox.

Am I using it wrong? I assumed I would just start typing and commands would appear below. Is there something specific I should type? I've been trying obvious things like 'restart' and 'insert'.

Am I rebuilding CSS/JS wrong? I use `python setup.py css js`, which seems to work correctly. I can change the JS, rebuil

[2017-02-04 11:57] takluyver commented on #2135
And there isn't a UI option to hide the menu bar, because it would leave you with no easy way to bring it back.

[2017-02-04 12:54] cheshirecats commented on #2120
I tried that, and they are both using '/usr/local/opt/python/bin/python2.7' (which I think should be the homebrew python).

[2017-02-04 13:33] bluss commented on #2135
Yes this is why this feature request was filed: I really want to hide the menu as well.

[2017-02-04 15:01] takluyver commented on #2120
I'd guess it's something to do with environment variables, but I don't know which. You may be better off asking in a tensorflow forum what might cause the error that you see.

[2017-02-04 16:05] lbustelo commented on #429
Browsers are full of bugs! Not sure it is ok to close this even if the fix will eventually land on chrome. This is very prevalent when using declarative widgets and is related to how the notebook loads cells on refresh.

We should either keep open while waiting for chrome to fix or investigate how to remediate in notebook cell loading code.

[2017-02-04 17:52] rgbkrk commented on #2049
I'd certainly like to see it.

I'm hopeful that we can make some simplified mechanics with the `setIn` based models approach, coupled with the VDom stuff.

[2017-02-04 20:35] gnestor commented on #2135
We appreciate your feedback but this feature won't be added to the notebook because of the reason that @takluyver mentioned. The workaround is `$('#header').toggle()` and you can [edit your custom.js](http://jupyter-notebook.readthedocs.io/en/latest/examples/Notebook/JavaScript%20Notebook%20Extensions.html#custom.js) to insert a menu item and keyboard shortcut. For example:

[code]

[2017-02-04 21:53] takluyver commented on #429
Ok

[2017-02-04 23:16] bluss commented on #2135
Ah I should mention I'm already working on it here. https://github.com/ipython-contrib/jupyter_contrib_nbextensions/pull/863

However, it would be better to include it upstream, it would integrate better with however the site works and someone with actual js skills would implement it :wink:

I use the extension every day, both when working and walking through notebooks with others, so I'd encourag

[2017-02-04 23:47] gnestor commented on #2122
Your screenshot seems to suggest that your JS/CSS if out-of-whack. And I can't reproduce in Chrome or Firefox. So you can always try a `git clean -xfd` and `pip install -e .`.

[2017-02-05 01:40] LunarLanding opened #2136 "SciRuby/iruby, Pry, Tab Completion with >1000 items fast on console, slow on notebook"
Hi. I am trying to setup auto completion for this particular combination: SciRuby/iruby with Pry.
This results in autocompletions returning a list of >1000 suggestions in some situations.
This list is useless because of it's size. However the ipython console seems to handle it instantaneously, while the notebook freezes for some seconds.
This makes it a little annoying to use since it leads to acc

[2017-02-05 07:30] cheshirecats commented on #2120
@takluyver  It's a bit strange, because the tensorflow installation runs fine in my python and ipython. So it shall have something to do with the way jupyter calls the tensorflow installation.

(On the other hand, jupyter is able to import tensorflow on my Windows PC...)

[2017-02-05 09:26] takluyver commented on #2120
Right, but Jupyter just runs your code; it doesn't do anything specific to tensorflow.

This might be a job for [envzigzag](https://pypi.python.org/pypi/envzigzag). Try installing that, then run `!envzig` in IPython (where you can use tensorflow) and `!envzag` in a notebook (where you can't). It should show you any differences in environment variables.

[2017-02-05 09:32] takluyver commented on #2136
Thanks @LunarLanding . I think this is the notebook frontend code that handles completions:

https://github.com/jupyter/notebook/blob/master/notebook/static/notebook/js/completer.js

[2017-02-05 09:46] takluyver commented on #2122
I deleted my clone of the repo, re-cloned it and installed notebook afresh. Still there. I have found, though, that if I press `p` at some point while the page is still loading, I do get a functional command palette. If I wait for it to finish loading, I get the broken version. Even if I get it functional, dismissing it and re-showing it breaks it.

This makes me suspect that an extension has brok

[2017-02-05 09:52] takluyver commented on #2122
Yep, it's a collision with `cite2c`, which also uses typeahead. I think that it currently ships its own copy of typeahead; maybe it should be using the one in jupyter instead.

[2017-02-05 10:43] takluyver commented on #2122
Oh crap.

- Typeahead used by command palette: https://github.com/running-coder/jquery-typeahead
- Typeahead used by cite2c: https://github.com/twitter/typeahead.js/

They both add the `.typeahead()` method to jQuery objects. Similar, but incompatible methods.

I hate Javascript.

[2017-02-05 11:00] takluyver commented on #2122
I found a workaround in cite2c to deconflict the methods.

[2017-02-05 11:00] #2122 closed

[2017-02-05 12:25] andram commented on #2123
My suggestion would be to revert the following commit:

`commit 86b9b0b92a3711229250165a576e46e936f06e24
Author: Min RK <benjaminrk@gmail.com>
Date:   Mon Sep 21 11:13:33 2015 +0200

    set dirty flag on kernelspec/language_info changes
`
Here is a [commit](https://github.com/andram/notebook/commit/64018e450917195ca8ea6e6a123f7e95c1d61791) which would do this.

I have tested this and so far it se

[2017-02-05 13:25] cheshirecats commented on #2120
Thanks. As I am running python 2.7 I couldn't run it. However, I imported os and checked os.environ, and I found I have 'DYLD_LIBRARY_PATH' in my python, but not in my Jupyter console.

So this must be the cause. But I am not sure what is the best way to solve it.

[2017-02-05 17:13] takluyver commented on #2120
Are you launching the Jupyter applications from a GUI launcher? If so, they won't pick up environment variables set in `.bashrc` or `.bash_profile`. A simple workaround is to launch them from a terminal.

On Linux, you can set environment variables in `.profile`, which is run when you log in. I don't know how to do the same on OSX.

[2017-02-05 17:29] gnestor commented on #2122
@takluyver Javascript: You can't live with it, you can't live without it. I'm glad you figured this out!

[2017-02-05 21:18] gnestor commented on #2123
@minrk What are your thoughts?

[2017-02-06 03:31] cheshirecats commented on #2120
@takluyver I am running from console and I have change .bashrc and .bash_profile etc... It seems other people ran into similar problems before. I tried the method in https://github.com/jupyter/notebook/issues/1290 (by ZlodeiBaal) and it works now.

[2017-02-06 09:19] minrk commented on #2123
Setting the dirty flag on the kernelspec changes fixed real issues, so it shouldn't be reverted wholesale. I think the most important aspect was setting dirty on `metadata.kernelspec` change, which we should keep. `metadata.language_info` is probably not as important in practice, so as long as changing the kernelspec sets the dirty flag, we should be okay if changing language_info doesn't.

[2017-02-06 11:10] takluyver commented on #2120
Glad you've got it working. I'm a bit confused about what the problem was, but my suspicion is that there's nothing we can do in Jupyter to fix it.

[2017-02-06 12:00] #2127 closed

[2017-02-06 12:02] rgaiacs commented on #2050
@gnestor Can you try
[bug-353-example.zip](https://github.com/jupyter/notebook/files/754506/bug-353-example.zip).

[2017-02-06 13:39] takluyver commented on #1508
@minrk Am I right that #2108 fixes/works around this as much as we intend to for 5.0?

[2017-02-06 13:48] takluyver commented on #650
#2139 should increase the buffer sizes to 512 MiB, based on nothing much. It doesn't really fix the problem, but it pushes it further out.

[2017-02-06 13:55] takluyver commented on #1356
Bumping for now as @gnestor isn't sure what it entails.

[2017-02-06 14:03] andram commented on #2123
To not set the dirty flag on `metadata.language_info` change would be sufficient to solve my problem.
In case it helps, here is a commit which does that:

https://github.com/jupyter/notebook/commit/411a88f9b0dfef59e895d6a1654f62fe3424c803

[2017-02-06 16:04] gnestor commented on #650
@Horta @ryanpepper @2426021684 Can you try starting the notebook with the `--NotebookApp.tornado_settings` flag to test if that resolves your issue?

[code]

[2017-02-06 18:22] minrk commented on #1508
@takluyver that's my understanding.

[2017-02-06 19:39] bribroder commented on #1925
It would be awesome to have a shortcut for clearing all cells as well as a single cell

[2017-02-06 20:22] borisbolliet commented on #1280
Thank you @majure, this worked for me too.

[2017-02-06 20:32] Carreau commented on #1925
In current master you can setup your own shortcut in the UI.
Example of Ctrl-O, Ctrl-Shift-O for one cell/ all cells:
![screen shot 2017-02-06 at 12 31 55](https://cloud.githubusercontent.com/assets/335567/22665089/5418f5f6-ec68-11e6-8501-1c0fa5008fd9.png)

Closing as customisable now.

[2017-02-06 20:32] #1925 closed

[2017-02-07 00:18] ellisonbg opened #2141 "Resolve problems and inconsistencies with nbextensions/serverextensions for 5.0"
I think this should block 5.0. See background:

https://groups.google.com/forum/#!topic/jupyter/PnSIeGe8VhE

[2017-02-07 00:19] ellisonbg commented on #2141
Also #1508

[2017-02-07 00:31] ellisonbg commented on #1508
@minrk can you summarize how all this will work as of 5.0? I want to make sure this stuff is sufficiently resolved that we don't have to change it again before moving to the conf.d approach.

[2017-02-07 01:04] ellisonbg commented on #2141
Sounds like some of these things have been fixed in master, but I think the lab/nb teams should meet to go over this stuff before 5.0 is released.

[2017-02-07 01:06] ellisonbg opened #2142 "UI/UX design review for 5.0"
Usually before a release I go through the new UI elements and do an in depth review of their behavior and visual design. Not sure we want to wait for *me* to do that before 5.0 is released, but someone should do that.

Can we use this issue to summarize the new UI stuff in 5.0? That way various folks can help us test those things before the release and during the alpha/beta process...

- [x]  Help

[2017-02-07 02:37] randy3k opened #2143 "The new view button for html file is not working"
<img width="759" alt="screen shot 2017-02-06 at 9 33 12 pm" src="https://cloud.githubusercontent.com/assets/1690993/22675490/0c8ff13e-ecb4-11e6-8cbc-638aabdad9f3.png">

while the url `..../user/randy3k/files/foo.html` still works.

It is possibly due to https://github.com/jupyter/notebook/commit/224294c2743df1df2855ea511ad4f612080472b0
or it is an issue for jupyterhub.

[2017-02-07 05:26] Carreau commented on #2142
I've edited your comment to add a list of a couple of things to look at.

[2017-02-07 05:50] ellisonbg commented on #2142
Thanks I am going to try to run 5.0 while I teach and I can test that stuff.

[2017-02-07 08:17] codemeleon opened #2144 "[Suggestion] The code cells location and deletion locking option in the notebook"
Hi,

I think, it would be useful to lock/unlock cell location, it's deletion and content change to avoid any accidental change while using the notebooks later.

Thanks

[2017-02-07 09:19] minrk commented on #1508
@ellisonbg the only change for 5.0 is that `nbserver_extensions` from various config levels is merged in the same way as nbextensions, rather than clobbering at each level. Everything else is unchanged.

[2017-02-07 09:21] minrk commented on #1508
Closing here, since the titular issue is fixed: user wins, merge happens, nbextensions and serverextensions should behave the same now.

[2017-02-07 09:21] #1508 closed

[2017-02-07 10:20] minrk commented on #2141
Bringing together issues from the email:

- [x] #1508 merge inconsistencies between nbextensions and server-extensions (fixed)
- [x] #1992 allow disabling extensions (fixed in jupyter-core by adding JUPYTER_NO_CONFIG)
- [ ] #1797 extension output on stdout (marked as backlog, minor style issue)
- [ ] #1617 autocorrect for missing `--py` arg (marked as 5.1 as a non-blocker, but should be a small fi

[2017-02-07 11:42] takluyver commented on #2143
@minrk can you take a look at this?

[2017-02-07 12:09] takluyver commented on #2141
I'm hoping to get 5.0 out this week, so -1 to rewriting the extension system.

[2017-02-07 12:12] blink1073 commented on #2141
Thank you for laying that all out, @minrk.  I agree with your assessment that there should be no remaining configuration blockers to 5.0.

[2017-02-07 12:13] blink1073 commented on #2141
@takluyver, can go back to having his tea in peace ;).

[2017-02-07 12:18] minrk commented on #2143
On it.

[2017-02-07 12:32] minrk commented on #2143
#2145 should do it.

[2017-02-07 12:40] #2121 closed

[2017-02-07 13:23] minrk commented on #2142
More new UI:

- edit/view links in dashboard
- sort by name, last modified (and display of last modified)
- attachments

[2017-02-07 13:25] blink1073 commented on #2142
Also, support for the `editable` metadata field.

[2017-02-07 13:37] takluyver commented on #2142
Also, the cell tags toolbar. Though we know the UI isn't great on that - I want tab completion, and the ability to remove/change existing tags without using the mouse. The plan is to get it into users hands so people can start using it soon, though, and then refine it later.

[2017-02-07 14:00] #2143 closed

[2017-02-07 15:23] takluyver opened #2147 "Wonky alignment in shortcut editor in Firefox"
@Carreau could you take a look? It seems to affect rows immediately below ones with a shortcut defined.

![screenshot from 2017-02-07 15-21-05](https://cloud.githubusercontent.com/assets/327925/22697400/3c14078e-ed49-11e6-9590-2835af6d62f7.png)

[2017-02-07 16:32] minrk commented on #2001
@dslemusp

Here's a one character fix for your code: use `Omega` instead of `\Omega` for your capital omega. Mostly a coincidence that this fixes it, but it does.

I tracked this down, and it's a doozy. The first thing to note is that it's the plain text (unicode) output, not the latex output that's causing the problem. The second point is that the immediate cause is a bug in Sympy's unicode outpu

[2017-02-07 16:45] dslemusp commented on #2001
@minrk

Thank you for figuring this out. I am relatively new in python/Jupyter and Im not sure Im following quite well the specifics of the issue (Im not really a skilled programmer), but I understand that there is an issue on the way the text is being passed by safari. Indeed it is quite surprising that removing the `\` from the `\Omega` solves it.

Thank you again

[2017-02-07 16:48] Carreau commented on #2147
I'm pretty sure I don't see it.
FF ? Which version ?

On Feb 7, 2017 07:23, "Thomas Kluyver" <notifications@github.com> wrote:

[2017-02-07 16:58] takluyver commented on #2147
51.0.1. Maybe it's another issue with an extension interfering with something, I'll check.

[2017-02-07 16:59] ellisonbg commented on #2141
I agree that doing the full rewrite doesn't make sense for 5.0. We already know that we will break things in the transition to jupyter-server, so I think it makes sense to postpone all breakage until them.

[2017-02-07 17:04] ellisonbg commented on #2141
Thanks for posting the full list of everything that has been done on this front that really helps. I think the work in #1508 is the most important thing.

The only other big issue I keep running into is the need to hard delete all existing extensions of a given type (nb, server, lab) (both the extension and the config). I think a `jupyter nbextension delete-all` would do the trick. Probably should

[2017-02-07 17:07] ellisonbg opened #2149 "Add nbextension/serverextension commands for uninstall/disable all"
It would be really helpful to have the following nbextension/server extension commands:

[code]

that work with the different scope flags (`--user`, `--sys-prefix`, etc).

[2017-02-07 17:09] ellisonbg commented on #2141
@bollwyvl can you confirm issues on your side will be fixed by the stuff that is in master now?

[2017-02-07 17:10] minrk commented on #2141
If there are common / useful actions that are hard to do with current commands, I'm happy to add them. Is `delete-all` only for `--py` extension-providers? e.g. `jupyter nbextension delete-all --py jupyterlab`?

[2017-02-07 17:12] takluyver commented on #2147
I've disabled extensions, rebuilt css & js on master (fc2e03a781b39306d9ce257d32ad927e759bb7ee) and running with a different port to avoid the cache. I still see it.

[2017-02-07 17:15] ellisonbg commented on #2142
Thanks everyone! I have consolidated all the new UI into the top comment to make it easier to look through. There is enough here that needs testing that I think a good solid alpha/beta cycle is in order.  I will open a separate issues on the release schedule.

[2017-02-07 17:22] ellisonbg opened #2150 "5.0 Release Schedule"
I wanted to open an issue to track and discuss the planned release schedule for 5.0. Here is what I would propose:

* [x] Cut a beta release once all PRs associated with open 5.0 milestone issues are merged. There is talk about that being roughly a week from now and I think that sounds about right.
* [x] Finish any UI/UX design review (see #2142) during the alpha cycle. The only caveat is that exp

[2017-02-07 17:22] takluyver commented on #2149
What's the use case? (Not trying to deny that there is one)

For testing with extensions disabled, we added an environment variable in jupyter_core, so you can run `JUPYTER_NO_CONFIG=1 jupyter notebook`

[2017-02-07 17:24] ellisonbg opened #2151 "Test some nbextensions to make sure everything works with 5.0"
During the 5.0 dev cycle, nbextensions stopped working. This was due to the webpack stuff and should be fixed now. As part of the 5.0 release cycle, we need to install and test some of the popular nbextensions with 5.0. Let's track a list here:

- [x] nbgrader create assignment
- [x] cite2c

[2017-02-07 17:27] ellisonbg commented on #2141
See #2149

I was thinking they would uninstall or disable *all* nbextensions or server extensions in a given location (user, sys prefix, system), not just those for a single package. So I am not sure the `--py` flag makes sense. Although I could imagine a user wanting to delete all (user, sys prefix, system) things for a given nbextension, so maybe `--py package` would limit the scope of it. Let's

[2017-02-07 17:30] takluyver commented on #2151
Ping @juhasch @jcb91 @jfbercher we're nearing notebook 5.0, so any help testing extensions is welcome. I don't think there are many major architectural shifts that might break things (we backed off the webpack stuff), but it's always possible.

[2017-02-07 17:31] daniel1124 commented on #96
@Carreau @blink1073 I have finished the code and testing, etc. Right now I'm waiting on our company (BlackRock)'s legal/compliance team to give an approval for pull request. We will be contributing through BlackRock-engineering account https://github.com/blackrock.

This is my first time making pull request. Just to understand the process, does the following sound right:
1. we fork the notebook re

[2017-02-07 17:32] ellisonbg commented on #2149
The usage case is refreshing installs of everything. I don't work in envs, so I often come back and sit down to re-install the entire extension stack based on latest versions (nbgrader, ipywidgets, lab extensions, etc.). What I find is that in previous installation rounds I sometimes installed into user without realizing it. If my new install goes into sys prefix I run into problems. I end up havi

[2017-02-07 17:32] ellisonbg commented on #2149
So for me it isn't a debug issue, more of an installation refresh question.

[2017-02-07 17:32] minrk commented on #2141
Gotcha, thanks!

[2017-02-07 17:33] takluyver commented on #96
@daniel1124  - that process sounds right. Give or take a possible 3.5 - respond to comments from reviewers ;-)

[2017-02-07 17:51] Carreau commented on #2147
Nah, I see it. wait for a PR soon.

[2017-02-07 17:51] takluyver commented on #2147
Awesome, thanks :-)

[2017-02-07 17:55] Carreau opened #2153 "Keyboard shortcut editor documentation."
Review and document how to set shortcuts with space, comma, dash, minus, esc .... etc as they are special characters and need to be spelled out.

[2017-02-07 18:07] blink1073 commented on #96
Great, looking forward to it @daniel1124!

[2017-02-07 18:12] Carreau commented on #2142
Thanks @ellisonbg !

[2017-02-07 18:14] samarsultan opened #2154 "National Calendar Support"
Hello @Carreau .
This Issue is to request new feature to be added to the current Notebook.

Calendar systems and calendar formats vary from region to region. Although the Gregorian calendar is used for business transactions in most countries, national conventions and government requirements make it important that computer applications accommodate local calendar formats.

Our focus is the coverage

[2017-02-07 18:15] Carreau opened #2155 "Fix Find and replace "on all cells" icon."
Just opening an issue not to forget.

[2017-02-07 18:18] Carreau commented on #2154
Hum

if this is on the PDF side we need to ping @michaelpacer, and that will likely require changes on nbconvert for the LaTeX exporter.

@michaelpacer is not available this week but should be back soon.

[2017-02-07 18:23] samarsultan commented on #2154
I found two places that are eligible to national calendar. One inside the notebook and the other one for the generated PDF.

[2017-02-07 18:52] Carreau commented on #96
Thanks @daniel1124 If you or your company need to chat privately for question clarification feel free to reach to any of us privately or contact the Jupyter steering council.

As for your pull-request, you can't break anything so feel free to send even a partial work, it is always possible to update after the fact.

[2017-02-07 18:53] #2147 closed

[2017-02-07 19:13] samarsultan opened #2156 "Arabic Numeric Shaping Support"
Arabic and many other languages (Thai and Bengali) have classical shapes for digits “National Digits” that are different from the conventional Western Digits (European).
National digits have the same semantic meaning as the European digits, and the numbers they form are read from left to right (most significant digit on the left). The difference is only a difference in glyphs.

![3](https://cloud.

[2017-02-07 19:43] bollwyvl commented on #2141
If my side is #1508... don't know! I'll give it a spin right now!

If we're talking _my side_ being the anaconda distribution... I don't think the distribution maintainers will be _happy_ until we have #1706 or equivalent.

[2017-02-07 21:00] gnestor commented on #1779
I'm not seeing this anymore

[2017-02-07 21:00] #1779 closed

[2017-02-07 21:00] ellisonbg commented on #2141
I was wanting to get a sense from the continuum/anaconda folks and you are
the one following this most closely...you have answered both though ;-)

On Tue, Feb 7, 2017 at 11:43 AM, Nicholas Bollweg <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu an

[2017-02-07 21:27] takluyver commented on #2154
This also ties in with the proposed localisation work: https://github.com/jupyter/enhancement-proposals/pull/16

[2017-02-07 21:29] bollwyvl commented on #2141
Yup, it looks like #1508 is [happy](https://gist.github.com/bollwyvl/b6a7b274f5a7d8a572b91833bba468cf). Thanks all!

[2017-02-07 21:41] bollwyvl commented on #2141
Oh, and re `disable-all --user`... from a conda point of view, that's sounds like it will result in support tickets, but perhaps no more than the baseline. `delete-all --user` (and hopefully, also `unset`, not `disable`) does sound handy, but _sounds_ extreme, so might be scary for folks. Doing that with `--sys-prefix`... no idea what that will be like for a conda-managed bunch of extensions. I su

[2017-02-07 22:18] ellisonbg commented on #2141
Good points!

On Tue, Feb 7, 2017 at 1:42 PM, Nicholas Bollweg <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2017-02-08 02:50] #2155 closed

[2017-02-08 07:03] wjlu commented on #397
my environment is mac and python3
i also on jupyter can not import matplotlib

on jupyter run sys.executable is '/Library/Frameworks/Python.framework/Versions/3.5/bin/python3'
on terminal run sys.executable is '/Users/abc/anaconda/bin/python3'

so what can i do to solve the problem ?

[2017-02-08 08:52] kumarNith commented on #2120
@gnestor  Could you please explain how to  update python kernelspec.

Note : As you have mentioned in previous post I have different python executables.

[2017-02-08 11:35] blink1073 commented on #2142
Wondering if I should open an issue for this:  If I drag an attachment to a markdown cell from my local file system, it displays in my current session, but when I save and refresh the page I get a dead link because the file is not local to the notebook.  Perhaps the act of dropping the file should create a local copy if it does not exist?

[2017-02-08 11:37] takluyver commented on #2142
Please do open an issue; I thought the point of the attachment system was that it embedded images in the notebook.

[2017-02-08 11:40] blink1073 commented on #2142
It was my understanding that attachments were adjacent to the notebook, so my point is more about enforcing that fact.

[2017-02-08 11:42] blink1073 commented on #2142
I tested the other items listed in the original comment, all look good.  👍

[2017-02-08 11:45] blink1073 commented on #2142
Ah, no, it looks like the attachments are meant to be embedded in the cell metadata, but that doesn't appear to be working for me.

[2017-02-08 11:53] blink1073 opened #2158 "Markdown Cell attachment not persisting"
Hopefully I'm missing something obvious.

Running on latest master (https://github.com/jupyter/notebook/commit/038eda825f77a48c1c057c906691a04385fd9b1c), it looks like markdown attachments are not getting persisted.

![markdown_attachment](https://cloud.githubusercontent.com/assets/2096628/22736220/cd0a25c4-edc2-11e6-8dd1-325722e4155b.gif)

[2017-02-08 11:57] blink1073 commented on #2158
The raw data is in the file:

![image](https://cloud.githubusercontent.com/assets/2096628/22736385/83e58a4a-edc3-11e6-98b8-9fd02b19127e.png)

[2017-02-08 13:42] takluyver commented on #397
If there's an old install of Jupyter/IPython/ipykernel on your system, try to get rid of that.

Removing the `jupyter-kernelspec` script is usually not the right thing to do; you probably want to run `jupyter kernelspec list` to see where it's finding kernels, and then install/remove kernelspecs to arrive at the situation you want.

[2017-02-08 13:47] takluyver commented on #2158
I just tried the same, and I can reproduce it. At the very least, if we're just missing something, then lots of other people are likely to miss it too, so we definitely need some kind of improvement before 5.0.

[2017-02-08 14:07] blink1073 commented on #2115
I'm calling this one fixed by #2131, feel free to reopen if anyone disagrees.

[2017-02-08 14:07] #2115 closed

[2017-02-08 14:09] blink1073 commented on #2141
Closing due to consensus that all required 5.0 actions have been made.

[2017-02-08 14:09] #2141 closed

[2017-02-08 14:22] minrk commented on #2158
#2159 fixes this. When first added, the attachment was stored as a length-one list, not a string, so there's a bit to get the first element of this list (the string itself). Eventually, this was converted to the correct type (text), but then the code was getting the first element, which is a single character, rather than the full content.

[2017-02-08 15:48] gnestor commented on #2120
Ok, to find the location of your kernelspecs: `jupyter kernelspec list`

Then, edit your `python` kernelspec in your editor. I think the easiest fix is to rename your python executable from an absolute path (e.g. "/Users/grant/anaconda/bin/python") to just "python".

[2017-02-08 16:14] #2158 closed

[2017-02-08 16:31] ellisonbg commented on #2141
Thanks everyone!

On Wed, Feb 8, 2017 at 6:09 AM, Steven Silvester <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2017-02-08 16:58] ianshmean opened #2160 "Change alignment in html tables without being overruled"
I've tried and failed with many methods to change the styled text alignment in tables away from 'left', but the styling gets overruled by parent styles.

Would it be possible to allow something like this rendered html to work without being overruled by parent styles?
[code]

[2017-02-08 17:43] ellisonbg opened #2161 "4.4 Release Schedule"
See discussion here: #2022

I think we should make a 4.4 release to enable ipywidgets 6.0 to move forward.

Github Project: https://github.com/jupyter/notebook/projects/3

* [x] Merge open PRs marked with 4.4: https://github.com/jupyter/notebook/pulls?q=is%3Aopen+is%3Apr+milestone%3A4.4
* [x] Backport all merged PRs marked with 4.4
* [x] Update changelog
  * https://github.com/jupyter/notebook/pul

[2017-02-08 18:06] jfbercher commented on #2151
I have checked most of the extensions in [jupyter_contrib_nbextensions](https://github.com/ipython-contrib/jupyter_contrib_nbextensions), including latex_envs, toc2,  highlight_selected_word, hinterland, collapsible headings, hide_menubar, exercise, exercise2, highlighter, python-markdown, select keymaps, ... and all that work out of the box :-)

I had just a problem of interaction between `python

[2017-02-08 19:45] juhasch commented on #2151
@jfbercher Thanks for checking! What do you need the StartupDelay for ?

[2017-02-08 20:54] jasongrout commented on #2161
@SylvainCorlay - did you want to look into that queued execution thing that you say is causing problems with nbextensions? I'm happy to sit down with you and try to think it through - I'm still don't quite understand how those are conflicting.

[2017-02-08 21:28] SylvainCorlay commented on #2161
I have been trying to reproduce it with notebook 5 and could not trigger the faulty behavior. I would be happy to discuss this tomorrow.

[2017-02-08 21:29] SylvainCorlay commented on #2161
Thanks @ellisonbg for opening this. This would be super helpful to go ahead with the ipywidgets release.

[2017-02-08 21:32] gnestor commented on #2161
Ok, does everyone agree that we should push 4.4 out today with just https://github.com/jupyter/notebook/pull/2022?

[2017-02-08 21:33] ellisonbg commented on #2161
We should confirm with @minrk @takluyver first as they have been doing lots of the work for 5.0. But I am +1

[2017-02-08 21:45] minrk commented on #2161
I'm fine with 4.4 with just this. Since 4.3 introduced the token stuff, it could be logical to include [`jupyter notebook password`](https://github.com/jupyter/notebook/pull/2007) in the backport, since it is related to making notebook auth easier. But since 5.0 is quite soon as well, I don't think it needs a backport.

[2017-02-08 21:50] ellisonbg commented on #2161
I am fine either way with the `jupyter notebook password`. If it is easy and quick to backport sounds good, otherwise, no worry.

[2017-02-08 21:53] gnestor commented on #2161
I just UX tested `Widget List.ipynb` and everything appears to be working properly

[2017-02-08 21:57] gnestor commented on #2161
JS test results:

[code]
None of these seem related to https://github.com/jupyter/notebook/pull/2022, but please chime in if anything looks suspicious. I will run Travis against 4.x branch before releasing.

[2017-02-08 22:00] minrk commented on #2161
It's a relatively easy backport. There are docs that specifically reference 'new in 5.0' that would need to be updated, though, so it might not be worth the bother.

[2017-02-09 10:21] jfbercher commented on #2151
@juhasch I must admit that I do not remember... :-1:

[2017-02-09 10:37] odedbd opened #2166 "matplotlib plot does not fully render if an exception is raised before cell execution completes"
I run the following in a notebook cell:
[code]

Expected output:
- an interactive figure created with the line x==y on range [0,2]
- exception output (including a traceback).

Actual output:
- an interactive figure is created, but the line is not rendered/visible
- exception output (including traceback).

![notebook_matplotlib_exception](https://cloud.githubusercontent.com/assets/721123/22779232/9

[2017-02-09 11:57] takluyver commented on #2166
@tacaswell ?

[2017-02-09 15:13] minrk opened #2167 "4.4.1"
From the PyPI logs, it looks like @gnestor uploaded 4.4.0 and then deleted the release an hour later. This led to some confusion, as `pypi.org` had notebook at 4.4.0, but `pypi.python.org` only had 4.3.2 (it turns out pypi.python.org was the one in the correct state). This means if we want a 4.4 release, we have to make 4.4.1.

[2017-02-09 15:20] gnestor commented on #2167
I just pinged @Carreau about this... Last night, the 4.x Travis build passed so I published 4.4.0 to PyPI. I then received an email that another 4.x build errored, so I went to PyPI and removed the 4.4.0 version, just to be safe. I did some reading and it appears that 4.4.0 is now locked out! So it appears that we have to release under a different version, e.g. 4.4.1 (or can we do 4.4.0.1)?

[2017-02-09 15:23] minrk commented on #2167
You can never re-upload files on PyPI, so removing a release is a big deal. Hiding it is a safer action. If 4.4.0 needs to be changed after uploading to PyPI, the only option is to make a new 4.4.1 release.

[2017-02-09 15:24] gnestor commented on #2167
Ya, now I know. DON'T DELETE RELEASES FROM PYPI. Sorry about that all...

[2017-02-09 15:25] gnestor commented on #2167
I'm building 4.4.1 now...

[2017-02-09 15:25] jasongrout commented on #2167
Thanks!

[2017-02-09 15:25] SylvainCorlay commented on #2167
Thanks!

[2017-02-09 15:27] gnestor commented on #2167
One other question: I backported the release notes with https://github.com/jupyter/notebook/pull/2164 but the [commit history on 4.x](https://github.com/jupyter/notebook/commits/4.x) reads "Merge branch '4.x' of https://github.com/jupyter/notebook into jupyte…". Any idea why?

[2017-02-09 15:28] minrk commented on #2167
@gnestor no problem, I did the same thing with pyzmq a while ago, which is how I learned about these things.

[2017-02-09 15:30] gnestor commented on #2167
Ok wait a minute! @minrk I'm seeing 4.4.0 on pypi.python.org again!

[2017-02-09 15:31] minrk commented on #2167
@gnestor ignore that, I was messing around to see if I could reinstate 4.4.0. I could re-upload the tarball as `.tgz` to get around the re-upload enforcement, but can't do the same with the wheel.

[2017-02-09 15:32] minrk commented on #2167
I don't know what the weird merge commit would be, but I wouldn't worry about it. The actual content looks fine.

[2017-02-09 15:35] gnestor commented on #2167
Ya, ok 👌

[2017-02-09 15:36] gnestor commented on #2167
Ok, 4.4.1 is live: https://pypi.python.org/pypi/notebook

[2017-02-09 15:38] minrk commented on #2167
Thanks, @gnestor!

[2017-02-09 15:38] #2167 closed

[2017-02-09 15:38] #2161 closed

[2017-02-09 15:38] gnestor commented on #2167
Thank you @minrk

[2017-02-09 15:42] jasongrout commented on #2167
@gnestor - please don't forget to push the commit changing the version number to 4.4.1.

[2017-02-09 15:44] gnestor commented on #2167
Done!: https://github.com/jupyter/notebook/commits/4.x

[2017-02-09 18:36] Carreau commented on #2167
Thanks all for taking care of this !

[2017-02-09 20:10] Carreau commented on #2156
Thanks for the detailed description ! The conversion to PDF will also require changes to https://github.com/jupyter/nbconvert likely.

[2017-02-10 03:18] xiaochuanyu opened #2169 "Question: How to interrupt long running magic call?"
I'm trying to improve an extension called [ipython-sql](https://github.com/catherinedevlin/ipython-sql).
It provides magic to run SQL like `%sql SELECT * FROM A;`.

I'd like to modify it so that if you send a keyboard interrupt it will cancel the running query but I'm not sure where to start.
I was thinking about doing something like follows:
1. Run queries in a separate thread.
2. Listen to keybo

[2017-02-10 03:20] ellisonbg opened #2170 "Fix left cell border"
The blue/green 5px left cell border, which we have been styling with gradients is having trouble in master. We saw the same issues with JuptyerLab (we copied the styling). The symptoms are:

* As you resize the browser window, the width of the left border oscillates between 1-6ish px.
* The left border in multiselected mode is up at 7px

We have found a fix in JupyterLab that uses the `:before` ps

[2017-02-10 11:49] takluyver commented on #2169
On Unix platforms, interrupts generally work by sending the SIGINT signal, which can interrupt running code. It shouldn't be necessary to use threads for this, and threads would probably cause more issues than they'd solve. If it's not working for sql magic, the first thing would be to establish why - please open an issue on ipython-sql for that.

Things are a bit different on Windows, because it

[2017-02-10 11:58] takluyver opened #2172 "Terminal background wrong size until resized"
Ping @blink1073 - is it possible this is related to #2171 which I just merged?

When I open a terminal page, the black background of the terminal shows up only as a narrow bar across the top of the terminal area. If I resize the window and trigger a terminal resize, it assumes the correct size and continues to work correctly. I see a similar issue on Firefox and Chromium, though not exactly the sa

[2017-02-10 12:00] blink1073 commented on #2172
Drat, I had seen that at first but then it mysteriously went away and never resurface across the three browsers.

[2017-02-10 12:04] takluyver commented on #2172
That suggests caching issue, but I did make an effort to check that it wasn't that...

[2017-02-10 12:08] takluyver commented on #2172
I made some further effort, and I'm still seeing it consistently. If it is something in cache, it's so far resisted every trick I can think of to avoid loading it.

[2017-02-10 12:30] blink1073 commented on #2172
I tried for the past half hour and can't figure out what to do about this, shall I make a PR to revert the version?

[2017-02-10 13:09] takluyver commented on #2172
Can you still not reproduce it? Or can you see it but aren't sure of the cause?

[2017-02-10 13:10] blink1073 commented on #2172
I see it but can't remove it programmatically.

[2017-02-10 13:14] blink1073 commented on #2172
It doesn't happen in the JupyterLab terminal [example](https://github.com/jupyterlab/jupyterlab/tree/master/examples/terminal), but I'm not sure of the exact implementation difference that could cause it.

[2017-02-10 13:18] takluyver commented on #2172
If we can't come up with a better resolution, I think we'll need to revert it before 5.0, but let's not do that just yet.

- Is it worth reporting this to xtermjs? As far as I know, we're using their library as intended.
- Might other people on our team have some ideas? @yuvipanda and @rgbkrk have done stuff with the terminal in the past, IIRC.

[2017-02-10 13:25] blink1073 commented on #2172
FWIW I pulled latest master on xterm.js and their included demo works fine as well.

[2017-02-10 13:44] takluyver commented on #2172
Filed sourcelair/xterm.js#539 - at least if we're doing something daft, it might be obvious to them what it is.

[2017-02-10 13:44] blink1073 commented on #2172
👍

[2017-02-10 13:50] Atcold commented on #1024
I think I may have a related issue (not sure it's the same).
If I open a new tab in Chrome (on a Ubuntu box) and I insert the location of my video, it displays just fine.
The same happens if I execute an HTML file with this content
[code]
If I paste this into a Jupyter notebook cell, with some `%%HTML` magic, I end up with this.
![video](https://cloud.githubusercontent.com/assets/2119355/22828780/

[2017-02-10 14:08] takluyver commented on #1024
`/media/...` in the URL is not the same as a filesystem path `/media/...`, except perhaps if you run your notebook server in the root directory, which we don't recommend.

I believe that `file://` URLs are generally not loaded from `http[s]://` pages.

[2017-02-10 14:23] Atcold commented on #1024
@takluyver, thank you for getting back to me.
So, how would you go for displaying this video?

[2017-02-10 14:25] takluyver commented on #1024
Probably copy or symlink it to the directory where the notebook is (this is the working directory, unless you've changed it), and then use a relative URL.

[2017-02-10 14:27] Atcold commented on #1024
@takluyver, haha, I just symlinked it (before reading your answer) and just did the trick.
Nevertheless, the absolute path was working just fine in the HTML file. So, I'm a tad puzzled now.

[2017-02-10 14:39] takluyver commented on #1024
If you're loading the HTML page as a `file://` URL, then the absolute path will (I assume) be interpreted as another `file://` URL, so it works. If you run an HTTP server and access it with an `http://` URL, the absolute path will be treated as an `http://` URL, and sent to the server to evaluate.

[2017-02-10 14:45] Atcold commented on #1024
@takluyver, understood. Thank you. I was not aware of these quirks.

[2017-02-11 09:04] gnestor opened #2176 "Notebook validation failed: 'transient' was unexpected"
I just started getting validation errors a couple days ago so it must be a local environment issue. When I save notebook is lab and open the same notebook in classic notebook, I get a validation errors:

[code]

I tried pulling the latest and installing notebook and lab as well as nbconvert, nbformat, ipython, etc.

Any ideas?

[2017-02-11 11:19] takluyver commented on #2176
The 'transient' key is for data that's not meant to be persisted, I believe. If lab is writing notebook files with that key, I'd say that's a bug in lab.

[2017-02-11 11:28] brianlan commented on #1474
@nateGeorge Thanks, the redirect solution worked for me.

[2017-02-11 11:51] blink1073 commented on #2176
Tracking as https://github.com/jupyterlab/jupyterlab/issues/1698.

[2017-02-11 22:19] janfreyberg opened #2177 "Dynamic "Download as..." options"
Since nbconvert allows custom exporters to be added to entry points, it would be neat if the notebook GUI recognised if custom exporters showed up in the `File > Download as..` menu for files with the right file type.

If eg a file is opened with a MATLAB kernel, which specifies `.m` file extensions, and there is a custom `.m` exporter installed, that export option would appear in the menu.

[2017-02-12 00:27] linas commented on #1108
In my case, there's a distro dependency: I'm running Debian testing, mathjax is installed in `/usr/share/javascript/mathjax/` and is provided by the `libjs-mathjax` debian package.  There is no mathjax under any directory called `notebook` or `jupyter` that I can find.  This more or less makes sense: you would not want to install two copies of mathjax: one in jupyter, another that is a system-wide

[2017-02-12 11:15] zxweed commented on #1038
Does anybody found the solution for fix terminal width with custom container css?

[2017-02-12 11:34] blink1073 commented on #2177
The notebook is populating that list using an http request that queries `nbconvert` directly: https://github.com/jupyter/notebook/blob/b2b12eca955d84b9112510ca041a057cb9472a84/notebook/services/nbconvert/handlers.py#L13

I think the issue is that the [exporter map](https://github.com/jupyter/nbconvert/blob/605bac326cb913a437ff56a38ba13152a7ff2364/nbconvert/exporters/exporter_locator.py#L39).
`matl

[2017-02-12 14:49] samarsultan opened #2178 "Bidi Support design proposal for (Numeric Shaping , National Calendar and UI Mirroring)"
This is the proposed low level design of the three requested bidi features ( #2156 , #2154 and #1852 ).

- Creation of **bidi / js** folders under notebook/static to wrap the whole bidi work as the below screenshot.

![herierichy of bidi folder](https://cloud.githubusercontent.com/assets/20149645/22862818/841a87b2-f13e-11e6-8db9-cad4340eab8f.png)

- Under **bidi /js**  there will be two files:

	-

[2017-02-12 14:58] samarsultan commented on #2156
Yea , I see.

We can defer it slightly until the current notebook is fully supported.

[2017-02-12 16:08] weleen opened #2179 "can not use python in .ipynb"
I can start jupyter notebook normally. When i get into the .ipynb file, the kernel starts, but i cant use python.

[code]
then i get the information as follow after i enter the .ipynb file.
[code]

My environment is
[code]

![default](https://cloud.githubusercontent.com/assets/7327734/22863708/67608ff8-f180-11e6-9cd5-e4d3179309b1.png)

[2017-02-12 19:02] michaelaye commented on #1218
Seems that this feature is not active in master anymore. :(

[2017-02-12 19:03] michaelaye commented on #184
This feature is not active in master?

[2017-02-12 19:09] gnestor commented on #184
I see it in master:

![screencap](http://g.recordit.co/uZaOqraygZ.gif)

[2017-02-12 20:40] MissOgra commented on #1979
Hi, for some reason, I cannot see any token.

[2017-02-12 21:02] MissOgra opened #2180 "Token Authentication - Not seeing any token."
Hello all,

I'm having a lot of trouble since I updated Jupyter. I want to open a notebook and I keep getting a field to enter a password or token. I read about it in the documentation, my problem is I enter `jupyter notebook list ` but I can't see any token:

[code]

What can I do in this case? I'd highly appreciate your help.

Thank you in advance.

Carolina.

[2017-02-12 21:56] takluyver commented on #2180
What does `jupyter notebook --version` give you? It's possible that the version it's finding in the terminal is older than the version you're running the notebook server with.

[2017-02-12 21:58] MissOgra commented on #2180
Thank you for your answer. I get 4.2.3

[2017-02-12 22:00] takluyver commented on #2180
Yep, the token authentication by default was added in 4.3, so you've got two different versions installed somewhere. `which jupyter-notebook` might show you where it's launching from. Can you update it to the latest release?

[2017-02-12 22:02] MissOgra commented on #2180
I ran your command and I get /Users/MissOgra/anaconda3/bin/jupyter-notebook I tried updating with conda and pip, and the version is still the same. It keeps telling me that it's up to date.

[2017-02-12 22:10] takluyver commented on #2180
There should be newer versions than that available. Maybe try uninstalling with both tools and then install it anew with just one of them? Check `conda list` and `pip list` to see what versions they think are installed. Unfortunately the two tools can mess things up for each other sometimes. Or activate the conda env your notebook server runs from and try running `jupyter notebook list` in there.

[2017-02-12 22:15] takluyver commented on #2179
The last line sounds like it's having trouble communicating with the kernel, but there's nothing to suggest why it would. Do you have any sort of security software installed? Some internet security things have caused problems like this, but that's usually on Windows.

Can you run `jupyter console` in a terminal?

[2017-02-12 22:20] takluyver commented on #2177
Hmm, I thought that list was hardcoded in the notebook. @janfreyberg asked about this on nbconvert and I asked him to open an issue here.

[2017-02-12 22:26] takluyver commented on #1108
@linas That sounds like an issue with Debian's packaging. We recommend installing the notebook with `pip` or `conda`, because Debian's version will often be out of date. Or even broken, apparently. ;-)

If you want to use Debian's packages, [here is where to file bugs against them](https://bugs.debian.org/cgi-bin/pkgreport.cgi?repeatmerged=no&src=jupyter-notebook).

[2017-02-12 22:29] takluyver commented on #1108
Actually, it looks like Debian packages [symlink mathjax in](https://anonscm.debian.org/git/python-modules/packages/jupyter-notebook.git/tree/debian/rules#n56).

[2017-02-12 22:31] janfreyberg commented on #2177
This might also require custom exporters to have a minimum amount of metadata, like a clean name? My custom exporter doesn't specify anything beyond mime type and file extension, which doesn't seem like enough to create a proper menu entry.

[2017-02-13 01:43] weleen commented on #2179
@takluyver
i am using `jupyter` on `Ubuntu14.04`.
and i can run `jupyter console` in the terminal.
![1](https://cloud.githubusercontent.com/assets/7327734/22868418/af030c0a-f1d0-11e6-818f-18a4f72ca3f7.png)

[2017-02-13 05:08] MissOgra commented on #2180
It worked, you were right. Thank you very much for your help :)

[2017-02-13 05:08] #2180 closed

[2017-02-13 05:55] xiaochuanyu commented on #2169
Just for the record I ended up configuring the underlying Postgres adapter so that it handles keyboard interrupts and cancels the running query as show [here](http://initd.org/psycopg/articles/2014/07/20/cancelling-postgresql-statements-python/)
However, this is obviously is may not work for other databases.
So far it works for Postgres and Redshift.

[2017-02-13 05:55] #2169 closed

[2017-02-13 06:21] gnestor commented on #1979
@MissOgra Are you running notebook 4.3 or above (`jupyter notebook version`)?

[2017-02-13 08:49] AndreaBarbon commented on #1415
To solve the issue, I just re-started Chrome

[2017-02-13 11:58] takluyver opened #2182 "New users going to text editor, confused about what to do"
See ipython/ipython#10291, but this is also an issue I've seen working with people in person. People have heard that Jupyter is the thing to use, so they install it, open up a `.py` file, and then wonder: How do I run the code? Where are all the buttons I see in screenshots of Jupyter? What's so great about having a text editor in my web browser?

Can we better direct people towards notebooks? Cou

[2017-02-13 13:18] blink1073 commented on #2177
Ah, I was looking at the REST endpoint.  The frontend is indeed hard-coded: https://github.com/jupyter/notebook/blob/8fbf1fb1ce1fa1d219d6b86deb27a0b1a3e65703/notebook/static/notebook/js/menubar.js#L193.

[2017-02-13 13:19] blink1073 commented on #2177
In the template: https://github.com/jupyter/notebook/blob/8fbf1fb1ce1fa1d219d6b86deb27a0b1a3e65703/notebook/templates/notebook.html#L105.

[2017-02-13 13:25] blink1073 commented on #2177
To make this dynamic, the notebook file handler would have to populate that list from the known nbconvert templates, but `TemplateExporter` class would have to gain a trait for its display name.

@michaelpacer, thoughts?

[2017-02-13 13:48] blink1073 commented on #2177
Ah, it seems we already get that:

[code]

[2017-02-13 15:27] takluyver commented on #2179
Huh, I was expecting that that would fail too. What about `jupyter qtconsole`?

[2017-02-13 15:33] takluyver commented on #2169
Thanks for following up. I think that fixing it in the individual database drivers, as you have, is the best approach.

[2017-02-13 16:07] shanhaiying opened #2183 "After changing font size, cursor position is incorrect on current line in jupyter notebook."
As the title says,  the cursor can not display normally when font size is changed.
See the following  screencap:

![exam](https://cloud.githubusercontent.com/assets/1595652/22891344/fd007694-f249-11e6-8ca5-358db6ebe168.gif)

[2017-02-13 16:44] weleen commented on #2179
@takluyver
![default](https://cloud.githubusercontent.com/assets/7327734/22892783/a9bac9f8-f24e-11e6-9300-608ae8b00020.png)

[2017-02-13 17:15] takluyver commented on #2179
OK, that looks like an unrelated problem. I'm not sure what's going on with either of them.

[2017-02-13 17:53] takluyver commented on #2050
@gnestor have you had a chance to look at @rgaiacs' example?

[2017-02-13 18:00] takluyver commented on #2177
Looking back at your use case, it might be useful to mention that we're planning to provide a way to override the 'script' exporter in nbconvert to do something more specific for particular languages. This might address your use case with making `.m` files.

[2017-02-13 19:13] #2172 closed

[2017-02-13 19:18] linas commented on #1108
Thanks, yes, sorry, I think I just confused the original issue. Side comment: I searched high & wide for a debian package containing STIX fonts, and found none.  Installing them by hand did not solve my other issues, so my comments are a red herring.

[2017-02-13 22:24] gnestor commented on #2050
It may have been fixed in master because I still can't reproduce, even with this example notebook. See the following screen cap and follow along with me:

1. Select cells from "Episode 2" up until "Episode 3"
2. Scroll to top and "Delete cells"
3. As expected, "Episode 3" cells and below are moved to visible range at the top of the notebook

![screencap](http://g.recordit.co/cz2VKqOYEC.gif)

[2017-02-13 22:26] gnestor commented on #2050
@rgaiacs If you're so inclined, try cloning the master branch of this repo and [installing locally](https://github.com/jupyter/notebook/blob/master/CONTRIBUTING.rst#installing-the-jupyter-notebook). If you can still reproduce on master, please let me know how.

[2017-02-13 22:28] gnestor commented on #2183
What version of the notebook are you running (`jupyter notebook --version`)? What browser?

[2017-02-13 22:31] gnestor commented on #2182
It seems to me that this could be accomplished with a dashboard tour, like the [notebook tour](https://github.com/jupyter/notebook/blob/666ecbf35c3310335a3c8c182e8f53441c991c14/notebook/static/notebook/js/tour.js)?

[2017-02-13 23:00] rgbkrk commented on #2182
Wow that's awesome, I didn't expect that.

I'd really like to make the introductory dashboard more like this to make creating a new notebook more apparent and with less clicks:

![image](https://cloud.githubusercontent.com/assets/836375/22907248/043fd456-f1fd-11e6-99d2-1f5132b95cf8.png)

It's more like a google docs style intro - the documents you can create are at the top. Something that needs to

[2017-02-13 23:22] gnestor commented on #1294
This will be possible in notebook 5.0 thanks to https://github.com/jupyter/notebook/pull/943:

![image](https://cloud.githubusercontent.com/assets/512354/22907790/c9569318-f1ff-11e6-9dcf-401cf1de4232.png)

[2017-02-13 23:30] gnestor commented on #2182
The dashboard could use a little redesign. Like lab's launcher and this mockup, the dashboard could display a "New to Jupyter Notebook" at the top that can be dismissed but ideally brought back. I'd also like to see a fixed header so that when the user scrolls down below the fold, he/she can still see actions for selected files, sort directions, and jump to the other tabs without losing scroll pos

[2017-02-13 23:43] shanhaiying commented on #2183
![image](https://cloud.githubusercontent.com/assets/1595652/22908176/e6223208-f287-11e6-92ce-1768d4676337.png)
I have  tested it in Firefox, Chrome and Safari. The cursor can not display correctly in those browsers.

[2017-02-13 23:50] gnestor commented on #872
I started a PR to update CONTRIBUTING.rst. It's editable, so feel free to add to it.

[2017-02-14 08:04] rgaiacs commented on #2050
@gnestor Testing with 3e1f54502d200e25647dce85f8a441e2a4d08b42.

I can reproduce the behaviour that you describe.

The behaviour that I want is

The 3rd step should be more general, i.e. if I delete cells from "Episode 3" up until "Episode 4" I should have "Episode 4" visible on my screen.

[2017-02-14 10:01] 11257512 commented on #2130
Did you fix this problem? I got this problem as well. Jupyter is launching from the cmd but not from the Windows shortcut.

[2017-02-14 10:14] janfreyberg commented on #2177
@takluyver that seems like a good idea, but I can envision a situation in which I would want more than one option for exporting a file in a particular language. For eg Matlab, `.m` is their basic script extension, but they recently released a proprietary form of notebook-type files (`.mlx` files) which would require a different exporter. So simply overriding the script exporter might be too limiti

[2017-02-14 11:29] #2170 closed

[2017-02-14 11:41] takluyver commented on #2183
I'd guess that this is a bug of some kind in Codemirror. Can you experiment with the demos here? http://codemirror.net/mode/python/index.html

For reference, here's the notebook cell to reproduce it as text (can't copy/paste from a screenshot):

[code]

I can reproduce it using that, but zooming the browser in or out works correctly. So to my mind this is low priority - if you apply custom CSS to

[2017-02-14 11:56] takluyver commented on #2182
I like the idea of making the 'new notebook' action(s) much more prominent in some form or another. I'd lean towards something like Kyle's mockup, because it emphasises notebooks, which people get Jupyter for, over text editors & terminals. But maybe there could even be different dashboards configurable for different use cases? Text editors & terminals are valuable if you're logging in to Jupyterh

[2017-02-14 12:02] takluyver commented on #2050
I can reproduce what @rgaiacs describes. The key difference is: don't scroll to the top before deleting cells. When I press `d, d`, the 'Episode 3' cell, now the first in the notebook, is above the visible area on my screen. I agree that ideally the selected cell should be visible after deleting cells.

Pinging @ellisonbg for a focus related issue, as he worked on this stuff quite a bit before.

[2017-02-14 13:28] takluyver commented on #2177
Yep, it doesn't solve the general problem, but it would reduce the pressure for it a little.

[2017-02-14 13:29] takluyver commented on #2130
Can you look at the properties of the Windows shortcut to see what it's launching? The shortcut is something that Anaconda makes, so we don't directly control it.

[2017-02-14 13:36] 11257512 commented on #2130
i looked at the properties.. this is what it's launching:
C:\Users\Name\Anaconda3\python.exe
C:\Users\Name\Anaconda3\cwp.py
C:\Users\Name\Anaconda3
"C:/Users/Name/Anaconda3/python.exe"
"C:/Users/Name/Anaconda3/Scripts/jupyter-notebook-script.py"
%HOME%

[2017-02-14 13:46] hlignin commented on #2130
Yes, the problem was resolved. The shortcut was the issue. I had to
manually change the "Shortcut target" (in windows 7) to the following:
C:\Users\'yourusername'\AppData\Local\Continuum\Anaconda2\Scripts\jupyter-notebook.exe
Let me know if works.
Thanks,

On Tue, Feb 14, 2017 at 8:36 AM, 11257512 <notifications@github.com> wrote:

[2017-02-14 13:50] minrk commented on #2182
Is this something we should change on this repo, or focus on JupyterLab doing a better job?

[2017-02-14 13:55] minrk commented on #1560
I think this is either a browser or CodeMirror bug (or both) related to the changing size of scrollbars depending on context. I'm not sure there is much we can do about it except try to narrow it down and report upstream.

[2017-02-14 13:57] 11257512 commented on #2130
jap, using jupyter-notebook.exe as shortcut target did the trick!

thank you very much! :-)

[2017-02-14 14:02] minrk commented on #515
I've tried this with master and 10000 loops and Firefox 51.0.1. I do see the application get a little slower, but still responsive, and occasional 'IOPub message rate exceeded' messages suggesting that the new rate limiting is indeed helping. I think we can tentatively call this improved (if not solved) in 5.0.

[2017-02-14 14:04] minrk commented on #2150
I think this sounds good, though I would probably call it a beta instead of alpha. I think we can do notebook 5.0.0b1 (or a1) after conferring at the meeting today.

[2017-02-14 14:14] takluyver commented on #2182
That may be what we ultimately decide, but I've seen this enough times and JupyterLab still feels far enough off that I thought it was worth discussing what we might do in this repo.

[2017-02-14 14:17] takluyver commented on #1560
Bumping to 5.1 as it sounds like we don't have a reliable reproduction or a good idea of a possible fix, and it may well not even be in our code.

[2017-02-14 14:18] takluyver commented on #2130
Thanks @hlignin . If anyone wants to follow up the shortcut issue, the [anaconda-issues](https://github.com/ContinuumIO/anaconda-issues/) repo is probably the place to report it.

[2017-02-14 14:22] takluyver commented on #515
Thanks Min. Bumped to 5.1 in case we get any new info.

[2017-02-14 14:25] takluyver commented on #2150
+1 - I was already planning to release a beta today. I'll be busy after the meeting though, so if we do it after that, hopefully someone else can cut it.

I think that 'beta' signals our intent more clearly than 'alpha'.

[2017-02-14 15:30] shanhaiying commented on #2183
In the post [Incorrect cursor positioning after changing CodeMirror-lines font-size #150](https://github.com/codemirror/CodeMirror/issues/150),  the bug of  Codemirror was mentioned.

@takluyver ,  Are you run the following code in code cell of jupyter notebook?
[code]
After the code executed, the font size of the text in div #notebook-container will be changed.
Then the bug occurs.
I have tried i

[2017-02-14 15:36] takluyver commented on #2183
Yep, when I run that I see the bug.

[2017-02-14 15:48] gnestor commented on #2183
from https://github.com/codemirror/CodeMirror/issues/150

If you would like to increase/decrease the font size in the cells, then run the following code instead:

[code]

![screencap](http://g.recordit.co/zxynkbN4o6.gif)

If you would like to increase the font size for all element in the notebook, I suggest using the browser's zoom function (`CMD+=` or `CTRL+=` on Windows in Chrome).

[2017-02-14 15:55] Analect commented on #2151
@jfbercher
I think I'm coming up against a problem that you allude to above.

I've asked over [here](https://gitter.im/jupyter/notebook?at=58a3230900c00c3d4f3a05e6), but in the context of using a Dockerfile to install a dev version of the notebook, could you advise how this might be fixed, or does it require that the package.json be extended to include these additional packages?

[2017-02-14 17:09] Carreau commented on #2150
@parente want to look at compatibility with kernel-gateway.

[2017-02-14 17:13] ellisonbg commented on #2150
Sounds good! I should be able to work on the UI/UX testing stuff later this
week...

On Tue, Feb 14, 2017 at 9:09 AM, Matthias Bussonnier <
notifications@github.com> wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2017-02-14 17:13] parente commented on #2150
Thanks @Carreau. I don't expect anything major. I'll test against alpha/beta releases as they come out.

[2017-02-14 17:13] ellisonbg commented on #1560
FWIW, I do see this exact same issue in JupyterLab master sometimes. Can't
reproduce it though...

On Tue, Feb 14, 2017 at 6:17 AM, Thomas Kluyver <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2017-02-14 17:15] Carreau commented on #2150
cc @JamiesHQ

[2017-02-14 18:14] gnestor commented on #2050
This is what I'm seeing in master:

![screencap](http://g.recordit.co/yfqwuO596l.gif)

@rgaiacs @takluyver So that we're on the same page: What is unexpected about the above screen capture?

Additionally, when I delete cells from "Episode 3" to "Episode 4", the scroll position isn't changed which is what I expect:

![screencap2](http://g.recordit.co/MWY4B8kBPe.gif)

[2017-02-14 18:24] gnestor commented on #2153
@Carreau Would you like to tackle this before we release 5.0.0beta1 today?

[2017-02-14 18:32] Carreau commented on #2153
I can try, but I have a couple things that have been requested to be done fast.
Also, as I know how to do it, I might miss the main point on how to explain it.
I'll try to give it a shot though.

[2017-02-14 18:35] gnestor commented on #2153
Ok, if you explain here then I can make the changes and submit a PR 👍

[2017-02-14 18:42] Carreau commented on #2153
Most of the info are already on the dialog:

[code]

things that need to be added: Modifier are (IIRC) case sensitive. Cmdtrl is Command on mac, ctrl on windows/linux. Meta is Alt/Option (IIRC). space comma dash/minus need to be explicitly spelled out.

[2017-02-14 18:49] michaelpacer commented on #2153
I can work on this today, it happened to arise in talking with @Carreau about documentation and keyboard shortcuts, so I'll be looking at this feature today anyway.

[2017-02-14 19:11] gnestor commented on #2153
Thanks @michaelpacer

[2017-02-14 19:42] rgaiacs commented on #2050
@gnestor I believe that this bug was fixed already. I tested again from scratch

[code]

and looks OK. I think that I was using a old version and didn't update properly last time. Thanks for your help.

[2017-02-14 19:50] mpacer opened #2187 "Escape does not close keyboard shortcut editor"
I see in the editor that it identifies <kbd>Esc</kbd> as mapping to "close pager". I'm not sure what does and doesn't count as a pager, but I would have thought that it would close the modal dialog.

@carreau @gnestor happy to fix, just point me in the right direction.

[2017-02-14 19:55] michaelpacer commented on #2153
What does "close pager" mean?

Use case: wanted to map <kbd>⌃</kbd>+<kbd>[</kbd> to the equivalent of <kbd>Esc</kbd>. The only command escape is mapped onto is "close pager". Aside from being intrinsically unclear, this suggested (to me) that all the functions of escape were being mapped onto "close pager" and so adding <kbd>⌃</kbd>+<kbd>[</kbd> should have worked to allow you to (for example) exi

[2017-02-14 20:04] Carreau commented on #2187
The pager is the pager:

![close-p](https://cloud.githubusercontent.com/assets/335567/22946793/5a74745c-f2ad-11e6-8cf9-dccaf9d0b607.gif)

Escape does close the dialog, if the dialog is focused, I'm going to guess your vim-bindigs interfere.
![close-d](https://cloud.githubusercontent.com/assets/335567/22946866/b09bcbd2-f2ad-11e6-838a-65bca5ae61bb.gif)

[2017-02-14 20:04] michaelpacer commented on #2153
In the quickhelp menu, we have a explanation of the meaning of different modifier keys, do we want to add this to the keyboard shortcut editor as well? It seems like it would be worthwhile.

Is there a reason it's `-` rather than `+` to delimit combinations?

[2017-02-14 20:06] michaelpacer commented on #2153
What does "ignore" mean?

[2017-02-14 20:09] Carreau commented on #2153
Probably ignored. Implementation detail. Is it for Shift ? It means that just pressing Shift will do nothing.

Cause that's standard (Vim, Atom, Emacs) along with no delimiter.
The difference is tha instead of comma atom use space. There are some slight variation though.

Esc is hardcoded (and have to be hardcoded) in many places. because it has other side effects on many browsers.

[2017-02-14 20:10] Carreau commented on #2153
binding ^[  to close pager works for me. (I have to use `Ctrl` in the definition though).

[2017-02-14 20:13] michaelpacer commented on #2153
What does "close pager" mean though?

[2017-02-14 20:18] michaelpacer commented on #2187
I don't have any vim bindings for the notebook. But strangely it's now working, so I'll close this.

[2017-02-14 20:20] michaelaye commented on #184
so sorry. had a clashing conda package that sneaked in and overruled the GH install.

[2017-02-14 20:23] Carreau commented on #184
See https://github.com/fperez/conda-edev , relatively recent. Should avoid these kind of issues by providing pip-install as a conda "overlay".

[2017-02-14 20:24] michaelpacer commented on #2187
I figured out what happened. If you click into an editing box, and then click out of the box (thereby eliminating focus) it will not close the dialog.

[2017-02-14 20:30] tacaswell commented on #2166
Adding `plt.gcf().canvas.draw()` in a subsequent cell re-draws it (but at the wrong size?!).  My guess at what is going on here is that the notebook backend code is relying on the 'standard' clean-up of a cell to set some state / properly inject it's self into the dom and set up the web-sockets.

This behaves properly with ipympl (https://github.com/matplotlib/jupyter-matplotlib)

[code]

Need to

[2017-02-14 22:17] takluyver commented on #2153
The pager is the pane at the bottom when you run e.g. 'zip?'. With that
info, I imagine you can work out what closing it is. ;-)

On 14 Feb 2017 8:13 p.m., "Michael Pacer" <notifications@github.com> wrote:

[2017-02-14 22:19] takluyver commented on #2153
Don't mind me, I replied before seeing it was explained elsewhere.

On 14 Feb 2017 10:17 p.m., "Thomas Kluyver" <takowl@gmail.com> wrote:

[2017-02-14 23:22] Carreau commented on #1864
Let's reopen.

Do you still have the issue ?

[2017-02-14 23:24] Carreau commented on #2182
What about having a placeholder text in the text editor. And swapping the Notebook section to be on top in the new menu ?

[2017-02-14 23:31] Carreau commented on #2182
see #2189

[2017-02-14 23:36] mpacer opened #2190 ""Enter command mode" has no function in keyboard shortcut editor"
The keyboard shortcut editor seems to only apply to keys that are pressed while in command mode. So the "enter command mode" shortcut is not really meaningful. It also doesn't pick up either of the two explicitly bound ways to enter command mode <kbd>Esc</kbd> and <kbd>⌃M</kbd>.

This isn't needed for the beta, but it should be addressed at some point.

[2017-02-14 23:37] rgbkrk commented on #2182
@carreau I think that generally that little "New" button is eclipsed by the rest that's on the page.

[2017-02-14 23:41] Carreau commented on #2182
Yeah, but I don't want a full redesign now, that close to 5.0. Swapping seem to be the least annoying/least breaking current user expectations with the more chance to actually have an impact As user "click on the first thing".

I agree you mockup is much better.

[2017-02-15 00:31] mpacer opened #2191 "Specification for shortcut combining keys is not order invariant"
"Ctrl-E" works and creates keyboard shortcut: <kbd>⌃</kbd><kbd>E</kbd>
"E-Ctrl" does not work, creates keyboard shortcut: <kbd>E</kbd><kbd>⌃</kbd>

For more than 2 combinations of characters (e.g., <kbd>⌃</kbd><kbd>⇧</kbd><kbd>E</kbd>) this is both a UI and a functionality issue:

"Ctrl-Shift-E" works and creates: <kbd>⌃</kbd><kbd>⇧</kbd><kbd>E</kbd>
"Shift-Ctrl-E" works and creates: <kbd>⌃</kbd><

[2017-02-15 00:50] mpacer opened #2192 "Deleting some custom keyboard commands in the editor doesn't result in persistent deletion"
I've been testing keyboard command editor behaviour which involved generating lots of commands that we invalid (but were accepted by the UI). I discovered that after starting new notebook server, all the accepted invalid key bindings were resurrected even though they had been deleted during my original notebook session.

My guess is that something is assuming only valid key bindings are able to be

[2017-02-15 02:56] gtuckerkellogg opened #2193 "Segfault opening a notebook (I'm sure this is my issue, not a jupyter issue, but am stumped)"
I recently fired up jupyter noteook on my office machine (Ubuntu 16.04), and what worked before is now giving a segfault the moment I try to open or create a notebook, thus:

    gtk@gtk-office
    [~] jupyter notebook
    [I 10:50:50.583 NotebookApp] Serving notebooks from local directory: /home/gtk
    [I 10:50:50.583 NotebookApp] 0 active kernels
    [I 10:50:50.583 NotebookApp] The Jupyter Not

[2017-02-15 02:57] drscotthawley commented on #1845
Any progress on this since October?   Would love to "Try Jupyter",  but not if all it does is die after 3 to 5 minutes like my experiences so far with tryjupyter.org.  Have tried connecting via multiple browsers & from Mac and Windows.
Is there some secret to getting the kernel not to disconnect?

[2017-02-15 06:42] odedbd commented on #2166
@tacaswell - thank you for your suggestion. I upgraded matplotlib and install ipympl and it works almost as expected.

The behavior I am seeing is different for the first time I run the cell and the next times. It is also different for different level of browser zoom levels (I am using Chrome 56.0.2924.87 on Windows 8.1)-

First time that the cell is run -
The figure appears but is not fully rende

[2017-02-15 07:03] mafhha opened #2194 "set the working directory"
When I run jupyter notebook on my ubuntu ec2 instance, It does not open in my desired working directory. The way I used to do it is to navigate to my working directory and launch jupyter notebook from there. This way seem not to work anymore for me. I also tried jupyter notebook --notebook-dir=. from my desired directory but that does not seem to work too.

[2017-02-15 08:42] shanhaiying commented on #2183
@gnestor  Thank you very much!  I find that it the following code  causes the problem:
`-webkit-transform: scale(0.90);`

Without it, the code:

[code]
works as expected.

[2017-02-15 09:16] SherryNJU commented on #1460
Hi, Minrk, I see community close this requirement, does it mean community drop this feature and does not want to enable Jupyter with  Kerberos closet. @minrk

[2017-02-15 09:53] minrk commented on #1460
I believe people are able to use Jupyter with Kerberos via JupyterHub. @parente put together this example: https://github.com/jupyterhub/jupyterhub-example-kerberos

[2017-02-15 10:38] takluyver commented on #2182
Oh, thanks Matthias. I wasn't actually planning to do anything about this for 5.0, I just wanted to kick off a discussion about it before I forgot. I've bumped it to 5.1 so we can have another look, but I think your PR improves things a bit.

[2017-02-15 10:40] takluyver commented on #2191
I always see shortcuts specified with modifier keys first, so I think that as long as those work, this is lower priority.

[2017-02-15 10:43] takluyver commented on #2192
Marked as 5.0 so we can have a look into it, but if it's not easy to fix I'm happy for it to be bumped.

[2017-02-15 10:51] takluyver commented on #2193
I don't remember any issue like that. But when it starts a kernel, it will have to set up pyzmq sockets to communicate with the kernel; pyzmq is a compiled library, so it might be causing a segfault. Try uninstalling and reinstalling that and libzmq (the library it depends on).

[2017-02-15 10:53] takluyver commented on #1845
There's no secret. Possibly it's just overloaded?

[2017-02-15 11:02] takluyver commented on #2194
It should still pick up on the working directory where you launch it. This is working for me. Is it possible you have some config file which is overriding it? Run `jupyter --paths` to see where config can live.

[2017-02-15 11:20] takluyver commented on #2050
Sorry, but I can still reproduce this on master. When I follow the same steps as the first of @gnestor's two screencasts in his last post, my view does not scroll to the top cell 'Episode 3'. I'm not sure what the difference is, but I can reproduce this every time I try, in both Firefox and Chromium.

I updated to master just now and rebuilt the js.

[2017-02-15 11:22] takluyver commented on #2050
Also tried disabling extensions, still see it.

[2017-02-15 13:37] samarsultan opened #2196 "Error when rebuilding javascript and css"
Hello ,

I get this errors when I'm trying to rebuild the js and less code with this command :
 **npm run build:watch** .

![rebuild js css](https://cloud.githubusercontent.com/assets/20149645/22975729/583dfd0a-f390-11e6-87de-5f6b0af59cf6.png)

But running : **npm run build** doesn't give errors and also doesn't reflect any modification.

![productuion build](https://cloud.githubusercontent.com/as

[2017-02-15 13:44] SherryNJU commented on #1460
Thanks Min, got that, will try with JupyterHub later.

[2017-02-15 14:43] takluyver commented on #2196
The error in the first screenshot appears to be that `build:watch` assumes a Unix-y system.

What have you modified that it should pick up when you run `npm run build` (or `python setup.py js css`)?

[2017-02-15 14:45] jfbercher commented on #2151
@Analect I only see an error message, as you have, indicating these missing dependencies and installed using `npm install proptypes` and so on. For your docker file, you should probably add then to the package.json.
I do not know why these packages are missing, if it is just for the dev version (but not mentioned in the install doc) or it will be included in the GA version.

[2017-02-15 15:16] samarsultan commented on #2196
I am using Windows 7, node v6.9.5 and npm v4.2.0 .

I created a folder under notebook/ static to wrap my work .
The files that I was trying to modify :

     - .less files that are located in  : [notebook/static/ ] :  (ex. base/less/ page.less ,  notebook/less/menubar.less , etc..)

     - .js files that are located in the same place : [notebook/static/ ]  : (ex. base/js/page.js)  .

[2017-02-15 16:19] gnestor commented on #2183
You're welcome. Closing this now 👍

[2017-02-15 16:19] #2183 closed

[2017-02-15 19:53] michaelpacer commented on #2191
Agreed about being lower priority, but it should be in place for 5.0.1 if not 5.0.0.

[2017-02-15 20:26] Carreau commented on #2191
Bumping as 5.1 we can for now document that modifiers should be first. But indeed it's probably not taking care of.

Have you tried modifiers many time ? Like Shift-Shift-E ?

[2017-02-15 20:28] michaelpacer commented on #2191
Ok including in documentation per #2153. Oooh good call. Didn't test that!

[2017-02-15 20:37] acdha opened #2197 "Update PyPI dependency for traitlets > 4.0"
I just had a user on a Chromebook using Ubuntu Precise trying to start a Jupyter notebook. Since this system is ARM-based the package selection was more limited and we ended up needing to use miniconda's Python 3.4 and installed Jupyter manually using pip. This failed out of the box with an error that `defaults` could not be imported from traitlets.

This was fixed simply by doing a `pip install -

[2017-02-15 22:42] Carreau commented on #2197
It seem like something is wrong on your system.

The Notebook 4.x branch does not use traitlets' `default` and master/5.x already requires traitlets `>4.2.1`. So it is likely another package that raised.

For me a fresh install in 3.4 with pip pull traitlets 4.3 and AFAICT all packages using traitlets express the correct dependencies.

Can you provide the error message ?

[2017-02-16 04:25] parente commented on #2150
I started poking at kernel gateway with with notebook 5.0.0b1 installed. A good portion of the unit test suite and some manual requests to the server both fail because of the exception:

[code]

It's not immediately clear if this is a problem with the kernel gateway or not. Figured I'd raise it up for awareness.

[2017-02-16 08:48] minrk commented on #2190
Good catch, thanks @michaelpacer

[2017-02-16 08:51] minrk commented on #2167
@gnestor did you forget to push the tag for 4.4.1?

[2017-02-16 11:10] takluyver commented on #2150
That's curious. The error is coming from code that's meant to prevent against replay attacks by blocking messages with the same signature as a previous message.

I'm guessing a bit, but I think the issue is with the new activity monitoring; previously, messages from the kernel were only deserialised once (to be reserialised as JSON to go to the browser). Now iopub messages are deserialised a secon

[2017-02-16 14:16] SylvainCorlay commented on #2087
@jasongrout @minrk @gnestor

What do you think of reverting #1002 and changing `execute_cell_and_insert_below` so that it first checks that the kernel is live?

[2017-02-16 15:38] gnestor commented on #2167
It looks as though I did...it's pushed now.

[2017-02-16 16:19] ConstantinoSchillebeeckx opened #2199 "support for emoji?"
Is there any plan for supporting emoji codes in the markdown cells? 😀

[2017-02-16 21:38] jasongrout commented on #2087
I'd rather fix the problem. Can you walk us through the sequence of what you think is happening?

[2017-02-17 02:44] Carreau commented on #2199
### Not in the document spec:

Not currently, because emojicode is not in the standard markdown spec, and we want to avoid inventing our own. If it get standardized in CommonMark and most of the markdown tooling we use support it why not.

### Maybe in the UI ?

I guess, you could write and extension that tab complete to the equivalent unicode character. That will be fine, and that can be done now

[2017-02-17 03:39] DevinRouth opened #2200 "R Kernel Dies with loading packages via library()"
Hi there,

Unfortunately, my R kernel continues to crash every time I attempt to load certain packages via the library() function. In this case, I'm attempting to load "dplyr". See here:

<img width="1214" alt="screen shot 2017-02-16 at 10 35 50 pm" src="https://cloud.githubusercontent.com/assets/20073005/23051644/98467e14-f498-11e6-9f1b-32ddaca05353.png">

Are there perhaps dependencies that are